{% block as_form %}
        <input
                class="id form-control"
                {% if field.update.required %} required {% endif %}
                {% if field.update.readonly %} readonly {% endif %}
                {% if field.update.hidden %} hidden{% endif %}
                name="{{ field.key }}"
                placeholder="Enter {{ field.title }}"
                value="{{ field.val if field.val else "" }}"
        >
{% endblock %}
{% block as_view %}
    <input
                class="form-control"
                {% if field.get.required %} required {% endif %}
                {% if field.get.readonly %}  readonly {% endif %}
                {% if field.get.hidden %} hidden {% endif %}
                name="{{ field.key }}"
                placeholder="Enter {{ field.title }}"
                value="{{ field.val if field.val else "" }}"
        >
{% endblock %}

