{% block as_form %}
    <input
            type="number"
            class="int form-control"
            name="{{ field.key }}"
            {% if field.readonly %}disabled{% endif %}
            {% if field.update.hidden %}hidden{% endif %}
            placeholder="Enter {{ field.title }}"
            {% if field.is_required %}required {% endif %}
            value="{{ field.val }}"
            style="padding-right: 1rem; padding-left: 1rem"
    >
{% endblock %}
{% block as_view %}
        <input  type="text"
                    class="form-control"
                    {% if field.required %} required {% endif %}
                    disabled
                    name="{{ field.key }}"
                    placeholder="Enter {{ field.title }}"
                    value="{{ field.val.english_name or field.val.name or field.val}}"
            >
{% endblock %}