{% block company_changer %}
<button type="button" class="btn btn-primary btn-sm dropdown-toggle"
        data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false"
>{{ company.title }}
</button>
<ul class="dropdown-menu animated rubberBand" style="">
    {% for company_id, company in companies.items() %}
    <li>
        <a class="dropdown-item"
           hx-post="/front/company_changer_widget"
           hx-ext="json-enc"
           href="#"
           hx-vals='{
            "company_id": "{{ company.id }}"
            }'
        >{{ company.title }}

        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}