{% block company_changer %}
    <li>
<button type="button" class="btn btn-primary btn-sm dropdown-toggle"
        data-bs-toggle="dropdown" id="company_selector"
        aria-expanded="false"
>{{ company.title }}
</button>
<ul class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
    aria-labelledby="company_selector">
    {% for company_id, company in companies.items() %}
    <li>
        <a class="dropdown-item"
           hx-post="/front/company_changer_widget"
           hx-ext="json-enc"
           href="#"
           hx-vals='{
            "company_id": "{{ company.id }}"
            }'
        >{{ company.title }}

        </a>
    </li>
    {% endfor %}
</ul>
    </li>
{% endblock %}