{% set user = request.user %}
<li class="nav-item dropdown">
    <a class="nav-link" href="javascript:void(0)" id="drop1"
       aria-expanded="false">
        <div class="d-flex align-items-center gap-2 lh-base">

            <img src="{{ url_for('static' ,path='images/profile/user-1.jpg') }}"
                 class="rounded-circle" width="35" height="35"
                 alt="matdash-img"/>
            <iconify-icon icon="solar:alt-arrow-down-bold"
                          class="fs-2"></iconify-icon>
        </div>
    </a>
    <div class="dropdown-menu profile-dropdown dropdown-menu-end dropdown-menu-animate-up"
         aria-labelledby="drop1">
        <div class="position-relative px-4 pt-3 pb-2">
            <div class="d-flex align-items-center mb-3 pb-3 border-bottom gap-6">

                <img src="{{ url_for('static' ,path='images/profile/user-1.jpg') }}"
                     class="rounded-circle" width="56"
                     height="56"
                     alt="matdash-img"/>
                <div>
                    <h5 class="mb-0 fs-12">{{ user.nickname }} <span
                            class="text-success fs-11">Pro</span>
                    </h5>
                    <p class="mb-0 text-dark">
                        {{ user.email }}
                    </p>
                </div>
            </div>
            <div class="message-body">
                <a href="/basic/user/profile"
                   class="p-2 dropdown-item h6 rounded-1"
                   data-key="t-my-profile">
                    My Profile
                </a>
                <a href="/basic/user/logout" hx-swap="none" hx-push-url="false"
                   class="p-2 dropdown-item h6 rounded-1"
                    data-key="t-logout">
                    Logout
                </a>
            </div>
        </div>
    </div>
</li>