{% block content %}
    {% autoescape false %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                {% include 'widgets/breadcrumb-widget.html'%}
                <!-- end page title -->
                <div class="row">
                    <div class="col-lg-12">
                        {{ cls.as_header_widget }}
                        {{ cls.as_filter_widget }}
                    </div>
                    <!--end col-->
                    <div class="col-xxl-12">
                        {{ cls.as_table_widget }}
                    </div>
                    <!--end col-->
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <div id="modal"></div>
    <!-- end main content-->
    {% endautoescape %}
{% endblock content %}
