<div id="card"
     hx-get="/base/card?module={{ module if module else request.query_params.module }}&model={{ model if model else request.query_params.modele }}&id={{ id if id else request.query_params.id }}"
     hx-trigger="load">
    <div class="card htmx-placeholder">
        <div class="card-body">
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-6"></span>
            </h5>
            <p class="card-text placeholder-glow">
                <span class="placeholder col-12"></span>
                <span class="placeholder col-12"></span>
                <span class="placeholder col-12"></span>
                <span class="placeholder col-6"></span>
            </p>
            <a href="#" tabindex="-1" class="btn form-control disabled placeholder col-6"></a>
        </div>
        <!--end card-->
    </div>
</div>