version: "3.12"
services:
  db:
    image: postgres:15
    container_name: db_app
    command: -p 5433
    expose:
      - 5433
    env_file:
      - .env-docker
    ports:
      - 5433:5433

  redis:
    image: redis:7
    container_name: redis_app
    command: --port 5371
    expose:
      - 5371
    env_file:
      - .env-docker
    ports:
      - 5371:5371

  base-app:
    build:
      context: .
    env_file:
      - .env-docker
    container_name: base_app
    command: gunicorn core.core_apps.base.base_server:app --workers 4 --worker-class uvicorn.workers.UvicornWorker --bind=0.0.0.0:80
    ports:
      - 8888:80
    depends_on:
      - db
      - redis
  bus-app:
    build:
      context: .
    env_file:
      - .env-docker
    container_name: bus_app
    command: gunicorn core.core_apps.bus.bus_server:app --workers 4 --worker-class uvicorn.workers.UvicornWorker --bind=0.0.0.0:80
    ports:
      - 8099:80
    depends_on:
      - base-app
      - db
      - redis

  jobs-app:
    build:
      context: .
    env_file:
      - .env-docker
    container_name: jobs_app
    command: taskiq worker core.helpers.broker.tkq:list_brocker --fs-discover --workers 2 --log-level DEBUG
    depends_on:
      - base-app
      - db
      - redis


  basic-app:
    build:
      context: .
    env_file:
      - .env-docker
    container_name: basic_app
    command: gunicorn app.basic.basic_server:app --workers 4 --worker-class uvicorn.workers.UvicornWorker --bind=0.0.0.0:80
    ports:
      - 8001:80
    depends_on:
      - db
      - redis
      - bus-app

  inventory-app:
    build:
      context: .
    env_file:
      - .env-docker
    container_name: inventory_app
    command: gunicorn app.inventory.inventory_server:app --workers 4 --worker-class uvicorn.workers.UvicornWorker --bind=0.0.0.0:80
    ports:
      - 8002:80
    depends_on:
      - basic-app
      - db
      - redis
      - bus-app

  bff-app:
    build:
      context: .
    env_file:
      - .env-docker
    container_name: bff_app
    command: gunicorn app.bff.bff_server:app --workers 4 --worker-class uvicorn.workers.UvicornWorker --bind=0.0.0.0:80
    ports:
      - 80:80
    depends_on:
      - basic-app
      - inventory-app
      - db
      - redis
      - bus-app
      - base-app

