<div class="d-flex flex-wrap gap-2">
    {% for line in table.lines %}
        <a href="#"
       hx-params="module, model, id, prefix, method"
       hx-trigger="click"
       hx-target="#modal"
       hx-ext="json-enc"
       hx-post="/base/modal"
       hx-vars='{
"module": "{{ line.module }}",
"model": "{{ line.model }}",
"method": "view",
"id": "{{ line.id }}",
"prefix": "{{ line.prefix }}"
}'
       class="text-success d-inline-block edit-item-btn">
        <span class="badge bg-secondary">{{ line.display_title }}</span>
    </a>
    {% endfor %}
</div>
