{% set select_key  = prefix ~ name %}
{% set select_id = 'select-' + uuid().hex %}
<select
        id="{{ select_id }}"
        name="{{ select_key }}"
        class="form-control"
        aria-required="true"
        data-choices data-choices-removeItem multiple
        hx-post="/bff/multiselect"
        {% if required %} required {% endif %}
        hx-target='closest .choices'
        hx-include="[name='search_terms']"
        hx-vals='{"module": "{{ module }}","model":"{{ model }}"}'
        hx-trigger="search delay:0.5s"
>

        <option value="">{{'Select ' ~ model|capitalize }}</option>

    {% for o in objects %}
        <option value="{{ o.id }}" {% if o.id in value %} selected {% endif %}>{{ o.title or o.english_name or o.name or o.nickname }}</option>
    {% endfor %}
</select>
<script>
    var element = document.getElementById('{{ select_id }}')
    var choices = new Choices(element);
    choices.id = 'choices-{{ select_id }}'
    console.log(element)
    console.log(choices)
    var value = choices.getValue()
    var inner_element = choices.containerInner.element;
    {% if required and  not value %}
        inner_element.classList.add('is-invalid');
        inner_element.classList.add('form-control');
    {% else %}
        inner_element.classList.add('is-valid');
        inner_element.classList.add('form-control');
    {% endif %}
    element.addEventListener('choice', function (event){
        console.log('choice')
        if (this.required) {
            if (!event.detail.choice.value) {
                this.parentElement.classList.add('is-invalid');
                this.parentElement.classList.remove('is-valid');
            } else {
                this.parentElement.classList.remove('is-invalid');
                this.parentElement.classList.add('is-valid');
            }
        }
    });
</script>