{% set select_key  = prefix ~ name %}
{% set select_id = 'select-' + uuid().hex %}
<select
        id="{{ select_id }}"
        name="{{ model.select.prefix }}{{ model.select.field.field_name }}"
        class="form-control"
        data-choices
        data-choices-removeItem
        multiple
        hx-post="/bff/multiselect"
        {% if model.select.field.required %} required {% endif %}
        hx-target='closest .choices'
        hx-include="[name='search_terms']"
        hx-vals='{
            "module": "{{ model.select.field.module }}",
            "model":"{{ model.select.field.model }}",
            "select_in": "select_in"
        }'
        hx-trigger="search delay:0.5s"
>
        <option value="">{{'Select ' ~ model.select.field.title }}</option>

    {% for line in model.select.lines %}
        <option value="{{ line.id }}" {% if line.selected %} selected {% endif %}>{{ line.display_title }}</option>
    {% endfor %}
</select>
<script>
    var element = document.getElementById('{{ select_id }}')
    var choices = new Choices(element, {removeItems: true, removeItemButton: true});
    choices.id = 'choices-{{ select_id }}'
    console.log(element)
    console.log(choices)
    var value = choices.getValue()
    var inner_element = choices.containerInner.element;
    {% if required and  not value %}
        inner_element.classList.add('is-invalid');
        inner_element.classList.add('form-control');
    {% else %}
        inner_element.classList.add('is-valid');
        inner_element.classList.add('form-control');
    {% endif %}
    element.addEventListener('choice', function (event){
        console.log('choice')
        if (this.required) {
            if (!event.detail.choice.value) {
                this.parentElement.classList.add('is-invalid');
                this.parentElement.classList.remove('is-valid');
            } else {
                this.parentElement.classList.remove('is-invalid');
                this.parentElement.classList.add('is-valid');
            }
        }
    });
</script>