{% set select_key  = prefix ~ name %}
<select
        id="{{ select_key }}"
        name="{{ select_key }}"
        class="form-select valid-tooltip"
        data-choices data-choices-removeItem name="{{ select_key }}"
        hx-post="/bff/select"
        {% if required %} required {% endif %}
        hx-include="next [name='search_terms']"
        hx-vals='{"module": "{{ module }}","model":"{{ model }}"}'
        hx-trigger="search delay:0.5s"
>
        <option value="{{ value or ''}}">{{'Select ' ~ model|capitalize }}</option>

    {% for o in objects %}
        <option value="{{ o.id or o.language or o.code }}" {% if value==o.id %} selected {% endif %}>{{ o.title or o.english_name or o.name or o.nickname }}</option>
    {% endfor %}
</select>
<script>
    var element = document.getElementById('{{ select_key }}')
    var choices = new Choices(element);
    console.log('reqired')
    var value = choices.getValue()
    console.log(value)
</script>