<table class="table align-middle text-truncate">
    <thead>
    <tr class=" fs-5 text-center" style="text-align: center">
        <th scope="col">
            <p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox"
                       id="{{ orders[0].p.class_key ~'--'~ 'checkAll' }}"
                       value="option">
            </div>
            </p>
        </th>
        {{ orders[0].id.as_th_title }}
        {{ orders[0].created_at.as_th_title }}
        {{ orders[0].order_type_rel.as_th_title }}
        {{ orders[0].partner_id.as_th_title }}
        {{ orders[0].user_ids.as_th_title }}
        {{ orders[0].status.as_th_title }}
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        {% with order=order %}
            {% include 'inventory/order/order_line.html' %}
        {% endwith %}
    {% endfor %}
    </tbody>
</table>