<table class="table text-nowrap align-middle table-custom mb-0 last-items-borderless text-uppercase">
    <thead>
    <tr class="text-uppercase fs-5 text-center" style="text-align: center">
        <th scope="col">
            <p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox"
                       id="{{ orders[0].p.class_key ~'--'~ 'checkAll' }}"
                       value="option">
            </div>
            </p>
        </th>
        <th data-bs-toggle="tooltip" data-bs-html="true" title="">
            <p data-key="{{ orders[0].id.data_key }}">{{ orders[0].id.field_name }}</p>
        </th>
        <th data-bs-toggle="tooltip" data-bs-html="true" title="">
            <p data-key="{{ orders[0].created_at.data_key }}">{{ orders[0].created_at.field_name }}</p>
        </th>
        <th data-bs-toggle="tooltip" data-bs-html="true" title="">
            <p data-key="{{ orders[0].order_type_rel.data_key }}">{{ orders[0].order_type_rel.field_name }}</p>
        </th>
        <th data-bs-toggle="tooltip" data-bs-html="true" title="">
            <p data-key="{{ orders[0].partner_id.data_key }}">{{ orders[0].partner_id.field_name }}</p>
        </th>
        <th data-bs-toggle="tooltip" data-bs-html="true" title="">
            <p data-key="{{ orders[0].user_ids.data_key }}">{{ orders[0].user_ids.field_name }}</p>
        </th>
        <th data-bs-toggle="tooltip" data-bs-html="true" title="">
            <p data-key="{{ orders[0].status.data_key }}">{{ orders[0].status.field_name }}</p>
        </th>

    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        {% with order=order %}
            {% include 'inventory/order/order_line.html' %}
        {% endwith %}
    {% endfor %}
    </tbody>
</table>