<div class="card">
    <div class="card-body collapse show">
        <div class="d-flex flex-wrap gap-3 mb-9 justify-content-between align-items-center">
            <h5 class="card-title fw-semibold mb-0" data-key="t-orders">Orders</h5>
            <a href="javascript:void(0)"
               id="btn-add-contact"
               hx-get="/inventory/store_monitor/create_movements?store_id={{ store_id }}"
               hx-target="#htmx_content"
               hx-swap="beforebegin transition:true"
               class="btn btn-primary d-flex align-items-center"
            >
                <iconify-icon icon="solar:add-circle-broken" class="me-1 fs-5" data_key="t-create-movements"></iconify-icon>
                Create Movements
            </a>
        </div>

        <ul class="nav nav-tabs theme-tab gap-3 flex-nowrap" role="tablist">
            {% for order_type, ords in order_types_map.items() %}
                <li class="nav-item ">
                    <a class="nav-link {% if loop.first %} active {% endif %}" data-bs-toggle="tab"
                       href="#{{ order_type._id }}" role="tab">
                        <div class="hstack gap-2">
                            <iconify-icon icon="solar:smartphone-line-duotone" class="fs-4"></iconify-icon>
                            <span>{{ order_type.title.val }}</span>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="tab-content mb-n3">
            {% for order_type, orders in order_types_map.items() %}
                <div class="table-responsive tab-pane {% if loop.first %} active {% endif %}" id="{{ order_type._id }}" role="tabpanel">
                    {% with order=order %}
                        {% include 'inventory/order/order_table.html' %}
                    {% endwith %}
                </div>
            {% endfor %}
        </div>
    </div>

</div>