{% autoescape false %}
    <div class="modal" id="{{ order.p.key }}" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-right fadeInRight">
            <div class="modal-content slide-right">
                <div class="modal-header">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-12">
                                <div class="d-sm-flex align-items-center justify-space-between">
                                    <h4 class="mb-4 mb-sm-0 card-title" data-key="t-order-create">
                                        Create Movements
                                    </h4>
                                    <nav aria-label="breadcrumb" class="ms-auto">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item d-flex align-items-center">
                                                <a href="#"
                                                   hx-post="/inventory/store_monitor/create_movements"
                                                   hx-select=".modal-content"
                                                   hx-target="closest .modal-content"
                                                   hx-swap="outerHTML transition:true"
                                                   hx-ext="json-enc"
                                                   hx-push-url="false"
                                                   hx-include=".modal-content"
                                                >
                                                    <iconify-icon icon="solar:diskette-bold"
                                                                  class="fs-8"></iconify-icon>
                                                </a>
                                            </li>
                                            <li class="breadcrumb-item d-flex align-items-center">
                                                <a href="#" data-bs-dismiss="modal">
                                                    <iconify-icon icon="solar:close-circle-outline"
                                                                  class="fs-8"></iconify-icon>
                                                </a>
                                            </li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="d-sm-flex align-items-center justify-space-between">
                            <iconify-icon class="fs-8" icon="solar:info-circle-line-duotone"
                                          style="margin-right: 10px;"></iconify-icon>
                            Creating an order for goods, you need to specify either the types of locations from /to or
                            specific storage cells from / to, you also need to select goods
                        </div>
                    </div>
                </div>
                <div class="modal-body was-validated">
                    <div class="row">
                        <div class="col-lg-8 ">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-7" data-key="t-order-main-fields">Main</h4>
                                    <div class="form-horizontal">
                                        <b>{{ order.store_id.label }}</b>
                                        {{ order.store_id.as_update }}
                                        <p class="fs-2" data-key="t-select-store-description">Select the store
                                            over
                                            which you want to create a warehouse order.</p>
                                        <div>
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link active" data-bs-toggle="tab" href="#products"
                                                       role="tab" aria-selected="true">
                                                        <span data-key="t-products">Products</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link" data-bs-toggle="tab" href="#packages" role="tab"
                                                       aria-selected="false" tabindex="-1">
                                                        <span data-key="t-packages">Paackages</span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active show p-3" id="products" role="tabpanel">
                                                    <div class="p-3 was-validated">
                                                        <p class="fs-2 mb-0">Set a description to the product for
                                                            better</p>
                                                        {% with products=order.products.val %}
                                                            {% include 'inventory/store_monitor/create_movements/create_movements_products.html' %}
                                                        {% endwith %}
                                                    </div>
                                                </div>
                                                <div class="tab-pane p-3" id="packages" role="tabpanel">
                                                    <div class="p-3 was-validated">
                                                        <p class="fs-2 mb-0">Set a description to the product for
                                                            better</p>
                                                        {% with packages=order.packages.val %}
                                                            {% include 'inventory/store_monitor/create_movements/create_movements_packages.html' %}
                                                        {% endwith %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="offcanvas-md offcanvas-end overflow-auto" tabindex="-1" id="offcanvasRight"
                                 aria-labelledby="offcanvasRightLabel">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-7" data-key="t-order-add-fields"
                                            data-key="t-order-create-location_type-blok-">Location</h4>
                                        <b>
                                            {{ order.location_src_id.label }}
                                        </b>
                                        {{ order.location_src_id.as_update }}
                                        <b>
                                            {{ order.location_dest_id.label }}
                                        </b>
                                        {{ order.location_dest_id.as_update }}
                                        <p class="fs-2 mb-0">
                                            Set a target date when the order should be executed.
                                        </p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-7" data-key="t-order-add-fields"
                                            data-key="t-order-create-locations-blok-"> Location Type</h4>
                                        <b>
                                            {{ order.location_type_src_id.label }}
                                        </b>
                                        {{ order.location_type_src_id.as_update }}
                                        <b>
                                            {{ order.location_type_dest_id.label }}
                                        </b>
                                        {{ order.location_type_dest_id.as_update }}
                                        <p class="fs-2 mb-0">
                                            Set a target date when the order should be executed.
                                        </p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-7" data-key="t-order-add-fields">Add Attributes</h4>
                                        <b>
                                            {{ order.external_number.label }}
                                        </b>
                                        {{ order.external_number.as_update }}
                                        <p class="fs-2 mb-0">
                                            If the order has an external identifier.
                                        </p>
                                        <b>
                                            {{ order.planned_datetime.label }}
                                        </b>
                                        {{ order.planned_datetime.as_update }}
                                        <p class="fs-2 mb-0">
                                            Set a target date when the order should be executed.
                                        </p>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        new ModalHandler('#{{ order.p.key }}')
    </script>
{% endautoescape %}