<table class="table table-responsive align-middle table-hover mb-0 last-items-borderless text-uppercase">
    <thead>
    <tr class="fs-5 text-center" style="text-align: center">
        <th scope="col">
            <p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox"
                       id="{{ products.p.class_key ~'--'~ 'checkAll' }}"
                       value="option">
            </div>
            </p>
        </th>
        {{ products.product_id.as_th_title }}
        {{ products.lot_id.as_th_title }}
        {{ products.uom_id.as_th_title }}
        {{ products.quantity.as_th_title }}
        <th scope="col">
            <p data-key="t-delete"> Actions </p>
        </th>
    </tr>
    </thead>
    <tbody id="tbody-{{ products.p.class_key }}">
    {% for product in  products %}
        {% include 'inventory/store_monitor/create_movements/create_movements_product_line.html' %}
    {% endfor %}
    </tbody>
</table>
<button
        type="button"
        href="#"
        hx-push-url="false"
        hx-get="/inventory/store_monitor/create_movements/add_product?key={{ order.products.field_name }}"
        hx-trigger="click"
        hx-target="#tbody-{{ products.p.class_key }}"
        hx-swap="beforeend"
        class="btn bg-primary-subtle text-primary mt-4">
    <span class="fs-4 me-1">+</span>
    Add Product
</button>