<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-body text-center p-5">
            <lord-icon src="https://cdn.lordicon.com/hrqwmuhr.json" trigger="loop"
                       colors="primary:#121331,secondary:#08a88a" style="width:120px;height:120px"></lord-icon>
            <div class="mt-4">
                <h4 class="mb-3">Oops something went wrong!</h4>
                <p class="text-muted mb-4"> The transfer was not successfully received by us. the email of the
                    recipient wasn't correct.</p>
                <div class="hstack gap-2 justify-content-center">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" hx-trigger="click"
                            hx-delete="/base/modal-delete?module={{ module }}&model={{ model }}&id={{ id }}"
                            hx-target="#td-{{id}}" data-bs-dismiss="modal" class="btn btn-danger">Delete
                    </button>
                </div>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
