<div class="modal-dialog modal-dialog-centered modal-xl">
  <div class="modal-content modal-lg">
    <div class="modal-header">
      <h5 class="modal-title">Edit {{ model }}</h5>
    </div>
  <form class="was-validated" hx-post="/base/modal-post" hx-include="this" hx-vals='{"form_module": "{{ module }}", "form_model": "{{ model }}", "form_id": "{{ data.id }}"}'>
    <div class="modal-body text-center p-5" >
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
                src="https://cdn.lordicon.com/ghhwiltn.json"
                trigger="loop"
                style="width:150px;height:150px">
        </lord-icon>
    {% set count = 0 %}
            {%  for k, v in columns.items() %}
                {% if loop.index0 % 2 == 0 %}
                    <div class="row" style="">
                {% endif %}
                <div class="col">
                    {% if v.type == 'str'%}
                        <div>
                        <label for="{{ k }}">{{ k }}</label>
                            <input class="form-control" name="{{ k }}" value="{{ v.val }}">
                        </div>
                    {% else  %}{# v.type == 'model' #}
                        <div style="padding-top: 20px"
                            class="row"
                             hx-get="/bff/select?module={{ v.module }}&model={{ v.model }}&key={{ v.val.id or v.val.language or v.val.code }}&value={{ v.val.title or v.val.english_name or v.val.name }}&prefix=modal-edit"
                             hx-trigger="load"
                        >
                        </div>
                    {% endif %}
                </div>
                {% if loop.index % 2 == 0 %}
                    </div>
                {% endif %}
            {% endfor %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
        <button type="submit" class="btn btn-success" data-bs-toggle="modal" >Save</button>
    </div>
  </form>
  </div>
</div>