{% set modal_id = 'modal-' + uuid().hex %}
{% set prefix = 'modal_update:' %}
<div class="modal-dialog modal-dialog-centered modal-xl" id="{{ modal_id }}" style="min-width: 60rem">
  <div class="modal-content modal-xl">
    <div class="modal-header">
      <div class="col-6">
                <h5 class="modal-title">Edit {{ model.model|capitalize }}
                    <span>
                            <a href="#" class="text-success" hx-trigger="click" data-bs-dismiss="modal" data-bs-target="#{{ modal_id }}"
                               hx-target="#{{ modal_id }}" hx-params="none" hx-swap="innerHTML"
                               hx-get="/base/modal-view?module={{ model.module }}&model={{ model.model }}&id={{ model.update.line.id }}"><i
                                    class="ri-eye-fill fs-3"></i></a>
                        </span>
                    <span>
                            <a href="#" class="text-secondary" hx-trigger="click" data-bs-target="#{{ modal_id }}"
                               hx-target="#{{ modal_id }}" hx-params="none" hx-swap="outerHTML"
                               hx-get="/base/modal-create?module={{ model   .module }}&model={{ model.model }}&id={{ model.update.line.id }}"><i
                                    class="ri-add-box-fill fs-3"></i></a>
                        </span>
                    <span>
                            <a href="#" class="text-danger" hx-trigger="click" data-bs-target="#{{ modal_id }}"
                               hx-target="#{{ modal_id }}" hx-params="none" hx-swap="innerHTML"
                               hx-get="/base/modal-delete?module={{ model.module }}&model={{ model.model }}&id={{ model.update.line.id }}"><i
                                    class="ri-delete-bin-3-fill fs-3"></i></a>
                        </span>
                </h5>
            </div>
            <div class="bx-pull-right">
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
    </div>
  <form class="was-validated"
        hx-post="/base/modal-post"
        hx-ext="json-enc" hx-include="this"
        hx-vals='{
            "modal_update_module": "{{ model.module }}",
            "modal_update_model": "{{ model.model }}",
            "modal_update_id": "{{ model.update.line.id }}",
            "prefix": "{{ model.update.prefix }}"
        }'
  >
    <div class="modal-body text-center p-5" >
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
                src="https://cdn.lordicon.com/ghhwiltn.json"
                trigger="loop"
                style="width:150px;height:150px">
        </lord-icon>
        <div class="row g-2">
            {%  for field in model.update.line.fields %}
                    {%  if loop.length % 2 != 0 and loop.first %}
                            <div class="row g-2">
                        {% endif %}
                    {% if loop.index0 % 3 == 0 %}
                        <div class="row g-2">
                    {% endif %}
                    <div class="col">
                        {% if field.type == 'str' %}
                                <input
                                        class="form-control"
                                        {% if field.required %}required{% endif %}
                                        name="{{ model.update.prefix }}{{ field.field_name }}"
                                        placeholder="Enter {{ field.title }}"
                                        value="{{ field.val if field.val else "" }}"
                                >
                        {% elif field.type in ('country', 'locale', 'currency') %}{# v.type == 'model' #}
                            <div
                                 hx-ext="json-enc"
                                 hx-post="/bff/select"
                                 hx-vals='{
                                    "module": "{{ field.module }}",
                                    "model": "{{ field.model }}",
                                    "value": "{{ field.val.id if field.val else None }}",
                                    "prefix": "{{ model.update.prefix }}",
                                    "name": "{{ field.model }}",
                                    "required": "{{ field.required }}"
                                 }'
                                 hx-trigger="load"
                            >
                            <input href="#" tabindex="-1" class="input form-control disabled placeholder col htmx-indicator" ></input>
                            </div>
                        {% elif field.type == 'model_id' %}{# v.type == 'model' #}
                            <div
                                 id="modal_edit_{{ field.field_name }}"
                                 hx-post="/bff/select"
                                 hx-ext="json-enc"
                                 hx-vals='{
                                    "module": "{{ field.module }}",
                                    "model": "{{ field.model }}",
                                    "value": "{{field.val if field.val else None}}",
                                    "prefix": "{{ model.update.prefix }}",
                                    "name": "{{ field.field_name }}",
                                    "required": "{{ field.required }}"
                                 }'
                                 hx-trigger="load"
                            >
                            <input href="#" tabindex="-1" class="input form-control disabled placeholder col htmx-indicator" ></input>
                            </div>
                        {% elif field.type == 'ids' %}{# v.type == 'model' #}
                            <div
                                 id="modal_edit_{{ field.field_name }}"
                                 hx-post="/bff/multiselect"
                                 hx-ext="json-enc"
                                 hx-vals='{
                                    "module": "{{ field.module }}",
                                    "model": "{{ field.model }}",
                                    "value": "{{field.val if field.val else None}}",
                                    "prefix": "{{ model.update.prefix }}",
                                    "name": "{{ field.field_name }}",
                                    "required": "{{ field.required }}"
                                 }'
                                 hx-trigger="load"
                            >
                            <input href="#" tabindex="-1" class="input form-control disabled placeholder col htmx-indicator" ></input>
                            </div>
                        {% elif field.type == 'enum' %}
                            <div>
                                <select
                                        name="{{ model.update.prefix }}{{ field.field_name }}"
                                        class="form-select mb-3 form-control"
                                        aria-label="Default select example"
                                >
                                    {% for s in field.enums %}
                                        <option value="{{ s.value }}"> {{ s.name }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% elif field.type == 'datetime'%}
                            <div>
                                <input class="form-control" type="text" name="{{ model.update.prefix }}{{ field.field_name }}"
                                       {% if field.required %} aria-required="true" {% endif %}
                                       onfocus="(this.type='date')"
                                       placeholder="{{ field.title }}" id="{{ field.field_name }}"
                                       value="{{field.val.strftime('%Y-%m-%d') if field.val else ''}}">
                            </div>
                        {% elif field.type =='number' %}
                            <input type="number" class="form-control" name="{{ field.field_name }}" placeholder="Enter {{ field.title }}" value="{{ field.val }}">
                        {% elif field.type =='bool' %}
                            <div class="form-check form-switch mb-3">
                                <label class="form-check-label" for="{{ model.update.prefix }}{{ field.field_name }}">{{ field.title}}</label>
                                <input
                                        class="form-check-input"
                                        type="checkbox"
                                        role="switch"
                                        id="{{ model.update.prefix }}{{ field.field_name }}"
                                        name="{{ model.update.prefix }}{{ field.field_name }}"
                                        {% if field.val == True %}checked {% endif %}
                                >
                            </div>
                        {% else %}
                            <input  class="form-control" name="{{ field.field_name }}" placeholder="Enter {{ field.title or c  }}" value="{{ field.val }}">
                        {% endif %}
                    </div>
                    {% if loop.index % 3 == 0 %}
                        </div>
                    {% endif %}
            {% endfor %}
        </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
        <button id="submit-{{ modal_id }}" type="submit" class="btn btn-success" >Save</button>
    </div>
  </form>
  </div>
</div>
