{% set modal_id = 'modal-' + uuid().hex %}

<div class="modal-dialog modal-dialog-centered modal-xl" id="{{ modal_id }}" style="min-width: 50rem">
    <div class="modal-content modal-lg">
        <div class="modal-header">
            <div class="col-6">
                <h5 class="modal-title">View {{ model }}
                    <span>
                            <a href="#" class="text-primary" hx-trigger="click"  data-bs-target="#{{ modal_id }}"
                               hx-target="#{{ modal_id }}" hx-swap="innerHTML"
                               hx-get="/base/modal-get?module={{ module }}&model={{ model }}&id={{ columns.id.val }}"><i
                                    class="ri-pencil-fill fs-3"></i></a>
                        </span>
                    <span>
                            <a href="#" class="text-secondary" hx-trigger="click" data-bs-target="#{{ modal_id }}"
                               hx-target="#{{ modal_id }}" hx-swap="innerHTML"
                               hx-get="/base/modal-create?module={{ module }}&model={{ model }}&id={{ columns.id.val }}"><i
                                    class="ri-add-box-fill fs-3"></i></a>
                        </span>
                    <span>
                            <a href="#" class="text-danger" hx-trigger="click" data-bs-target="#{{ modal_id }}"
                               hx-target="#{{ modal_id }}" hx-swap="innerHTML"
                               hx-get="/base/modal-delete?module={{ module }}&model={{ model }}&id={{ columns.id.val }}"><i
                                    class="ri-delete-bin-3-fill fs-3"></i></a>
                        </span>
                </h5>
            </div>
            <div>
                <span><p class="text-muted fw-normal right">Created: <span>{{ datetime.fromisoformat(columns.created_at.val).strftime('%Y-%m-%d') }}</span><span> Updated: {{ datetime.fromisoformat(columns.updated_at.val).strftime('%Y-%m-%d') }}</span></p></span>
            </div>
            <div class="bx-pull-right">
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

        </div>
        <div>
            <div class="modal-body text-center p-5 ">
                <script src="https://cdn.lordicon.com/lordicon.js"></script>
                <lord-icon
                        src="https://cdn.lordicon.com/vfczflna.json"
                        trigger="loop"
                        style="width:150px;height:150px">
                </lord-icon>
                {% for c, value in columns.items() if value.widget.form %}
                        {%  if loop.length % 2 != 0 and loop.first %}
                            <div class="row g-3">
                        {% endif %}
                        {% if loop.index0 % 2 == 0 %}
                            <div class="row g-3">
                        {% endif %}
                            <div class="col">
                        {% if value.type == 'model_rel' %}
                            <div>
                                <p class="text-muted mb-2 text-uppercase fw-semibold">{{ value.title or k }}</p>
                                <h5 class="fs-3 mb-0"> <a href="#" class="text-danger" hx-trigger="click" data-bs-target="#{{ modal_id }}"
                               hx-target="#{{ modal_id }}" hx-swap="innerHTML"
                               hx-get="/base/modal-view?module={{ value.module }}&model={{ value.model }}&id={{ value.val.id }}"><i
                                    class="ri-links-fill fs-3"></i>  {{ value.val.title }}</a></h5>
                            </div>
                        {% else %}
                            <div>
                                <p class="text-muted mb-2 text-uppercase fw-semibold">{{ value.title or k }}</p>
                                <h5 class="fs-3 mb-0">{{ value.val.english_name or value.val.name or value.val}}</h5>
                            </div>

                        {% endif %}
                        </div>
                        {% if loop.index % 2 == 0 %}
                            </div>
                        {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

