{% set modal_id = 'modal-' + uuid().hex %}

<div class="modal-dialog modal-dialog-centered modal-xl" id="{{ modal_id }}"  style="min-width: 60rem">
    <div class="modal-content modal-lg">
        <div class="modal-header">
            <div class="col-6">
                <h5 class="modal-title">View {{ model.model }}
                    <span>
                            <a href="#" class="text-primary" hx-trigger="click"  data-bs-target="#{{ modal_id }}"
                               hx-target="#{{ modal_id }}" hx-params="none" hx-swap="innerHTML"
                               hx-get="/base/modal-get?module={{ model.module }}&model={{ model.model }}&id={{ model.view.line.id }}"><i
                                    class="ri-pencil-fill fs-3"></i></a>
                        </span>
                    <span>
                            <a href="#" class="text-secondary" hx-trigger="click" data-bs-target="#{{ modal_id }}"
                               hx-target="#{{ modal_id }}" hx-params="none" hx-swap="innerHTML"
                               hx-get="/base/modal-create?module={{ model.module }}&model={{ model.model }}&id={{ model.view.line.id }}"><i
                                    class="ri-add-box-fill fs-3"></i></a>
                        </span>
                    <span>
                            <a href="#" class="text-danger" hx-trigger="click" data-bs-target="#{{ modal_id }}"
                               hx-target="#{{ modal_id }}" hx-params="none" hx-swap="innerHTML"
                               hx-get="/base/modal-delete?module={{ model.module }}&model={{ model.model }}&id={{ model.view.line.id }}"><i
                                    class="ri-delete-bin-3-fill fs-3"></i></a>
                        </span>
                </h5>
            </div>
            <div>

            </div>
            <div class="bx-pull-right">
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

        </div>
        <div>
            <div class="modal-body text-center p-5 ">
                <script src="https://cdn.lordicon.com/lordicon.js"></script>
                <lord-icon
                        src="https://cdn.lordicon.com/vfczflna.json"
                        trigger="loop"
                        style="width:150px;height:150px">
                </lord-icon>
            <div class="row g-2">
                {% for field in model.view.line.fields if not field.field_name.endswith('id')  %}
                        {%  if loop.length % 2 != 0 and loop.first %}
                            <div class="row g-2">
                        {% endif %}
                        {% if loop.index0 % 3 == 0 %}
                            <div class="row g-2">
                        {% endif %}
                            <div class="col">
                        {% if field.type == 'model_rel' %}
                            <div>
                                <p class="text-muted mb-2 text-uppercase fw-semibold">{{ field.title}}</p>
                                <h5 class="fs-3 mb-0"> <a href="#" class="text-danger"  hx-trigger="click" data-bs-target="#{{ modal_id }}"
                               hx-target="#{{ modal_id }}" hx-swap="innerHTML" hx-params="none"
                               hx-get="/base/modal-view?module={{ field.module }}&model={{ field.model }}&id={{ field.val.id }}"><i
                                    class="ri-links-fill fs-3"></i>  {{ field.val.title }}</a></h5>
                            </div>
                        {% elif field.type == 'ids' %}
                            <div>
                                <p class="text-muted mb-2 text-uppercase fw-semibold">{{ field.title}}</p>
                            <div
                                 hx-ext="json-enc"
                                 hx-post="/bff/badges"
                                 hx-vals='{
                                    "module": "{{ field.module }}",
                                    "model": "{{ field.model }}",
                                    "value": "{{ field.val if field.val else '' }}",
                                    "prefix": "{{ model.update.prefix }}",
                                    "name": "{{ field.model }}_ids",
                                    "required": "{{ field.required }}"
                                 }'
                                 hx-include="this"
                                 hx-trigger="load"
                            ></div>
                            </div>
                        {% elif field.type == 'datetime'%}
                            <div>
                                <p class="text-muted mb-2 text-uppercase fw-semibold">{{ field.title }}</p>
                                <h5 class="fs-3 mb-0">{{field.val.strftime('%Y-%m-%d') if field.val else ''}}</h5>
                            </div>
                        {% elif field.type == 'phone'%}
                            <div>
                                <p class="text-muted mb-2 text-uppercase fw-semibold">{{ field.title }}</p>
                                <h5 class="fs-3 mb-0">{{ field.val.international if field.val else ''}}</h5>
                            </div>
                        {% else %}
                            <div>
                                <p class="text-muted mb-2 text-uppercase fw-semibold">{{ field.title }}</p>
                                <h5 class="fs-3 mb-0">{{ field.val.english_name or field.val.name or field.val}}</h5>
                            </div>

                        {% endif %}
                        </div>
                        {% if loop.index % 3 == 0 %}
                            </div>
                        {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

