<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-body text-center p-5">
            <script src="https://cdn.lordicon.com/lordicon.js"></script>
            <lord-icon
                    src="https://cdn.lordicon.com/drxwpfop.json"
                    trigger="loop"
                    style="width:150px;height:150px">
            </lord-icon>
            <div class="mt-4">
                <h4 class="mb-3" style="padding-bottom: 0">Are you sure you want to delete {{ model|capitalize }} -> {{ data.title|capitalize }}</h4>
                <p class="text-muted mb-1 text-center" style="padding-top: 0"> With id {{ data.id }} </p>
                <p class="text-muted mb-10"> The record will be permanently deleted, did you really think? </p>
                <div class="hstack gap-2 justify-content-center">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" hx-trigger="click"
                            hx-delete="/base/modal-delete?module={{ module }}&model={{ model }}&id={{ data.id }}"
                            hx-target="#td-{{ data.id }}" data-bs-dismiss="modal" class="btn btn-danger">Delete
                    </button>
                </div>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
