{% set modal_id = 'modal-' + uuid().hex %}
{% set prefix = 'modal_create:' %}
<div class="modal-dialog modal-dialog-centered modal-xl" id="{{ modal_id }}" style="min-width: 60rem">
    <div class="modal-content modal-lg">
        <div class="modal-header">
        <div class="col-6">
            <h5 class="modal-title">Create {{ model }}
                    <span>
                        <a href="#" class="text-success" hx-trigger="click" data-bs-target="#{{ modal_id }}"
                           hx-target="#{{ modal_id }}" hx-swap="innerHTML"
                           hx-get="/base/modal-view?module={{ module }}&model={{ model }}&id={{ id }}"><i
                                class="ri-eye-fill fs-3"></i></a>
                    </span>
                    <span>
                            <a href="#" class="text-primary" hx-trigger="click" data-bs-target="#{{ modal_id }}"
                               hx-target="#{{ modal_id }}" hx-swap="outerHTML"
                               hx-get="/base/modal-get?module={{ module }}&model={{ model }}&id={{ id }}"><i
                                    class="ri-pencil-fill fs-3"></i></a>
                        </span>
                    <span>
                        <a href="#" class="text-danger" hx-trigger="click" data-bs-target="#{{ modal_id }}"
                           hx-target="#{{ modal_id }}" hx-swap="innerHTML"
                           hx-get="/base/modal-delete?module={{ module }}&model={{ model }}&id={{ id }}"><i
                                class="ri-delete-bin-3-fill fs-3"></i></a>
                    </span>

            </h5>
        </div>
        <div class="bx-pull-right">
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
        <form id="create" class="was-validated" hx-post="/base/modal-create" hx-ext="json-enc"
              hx-vals='{
              "modal_create_module": "{{ module }}",
              "modal_create_model": "{{ model }}"
              }'>
            <div class="modal-body text-center p-5">
                <lord-icon
                        src="https://cdn.lordicon.com/wzwygmng.json"
                        trigger="loop"
                        style="width:150px;height:150px">
                </lord-icon>
                {% set count = 0 %}
        <div class="row g-2">
            {%  for c, value in columns.items() %}
                    {%  if loop.length % 2 != 0 and loop.first %}
                            <div class="row g-2">
                        {% endif %}
                    {% if loop.index0 % 3 == 0 %}
                        <div class="row g-2">
                    {% endif %}
                    <div class="col">
                        {% if value.type == 'str' %}
                                <input
                                        class="form-control"
                                        {% if value.required %}required{% endif %}
                                        name="{{ prefix }}{{ c }}"
                                        placeholder="Enter {{ value.title or c  }}"
                                        value="{{ value.val if value.val else "" }}"
                                >
                        {% elif value.type in ('country', 'locale', 'currency') %}{# v.type == 'model' #}
                            <div
                                 hx-ext="json-enc"
                                 hx-post="/bff/select"
                                 hx-vals='{
                                    "module": "{{ value.module }}",
                                    "model": "{{ value.model }}",
                                    "value": "{{ value.val.id if value.val else None }}",
                                    "prefix": "{{ prefix }}",
                                    "name": "{{ value.model }}"
                                 }'
                                 hx-trigger="load"
                            >
                            <div class="invalid-feedback">Enter valid value</div>
                            </div>
                        {% elif value.type == 'model_id' %}{# v.type == 'model' #}
                            <div
                                 id="modal_edit_{{ c }}"
                                 hx-post="/bff/select"
                                 hx-ext="json-enc"
                                 hx-vals='{
                                    "module": "{{ value.module }}",
                                    "model": "{{ value.model }}",
                                    "value": "{{value.val if value.val else None}}",
                                    "prefix": "{{ prefix }}",
                                    "name": "{{ value.model }}_id",
                                    "required": "{{ value.required }}"
                                 }'
                                 hx-trigger="load"
                            >
                            </div>
                        {% elif value.type == 'enum' %}
                            <div>
                                <select
                                        name="{{ prefix }}{{ c }}"
                                        class="form-select mb-3 form-control"
                                        aria-label="Default select example"
                                >
                                    {% for s in value.enums %}
                                        <option value="{{ s.value }}"> {{ s.name }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% elif value.type == 'datetime'%}
                            <div>
                                <input class="form-control" type="text" name="{{ prefix }}{{ c }}"
                                       {% if value.required %} aria-required="true" {% endif %}
                                       onfocus="(this.type='date')"
                                       placeholder="{{ value.title or c }}" id="{{ c }}"
                                       value="{{datetime.fromisoformat(value.val).strftime('%Y-%m-%d') if value.val else ''}}">
                            </div>
                        {% else %}
                            <input class="form-control" name="{{ c }}" placeholder="Enter {{ value.title or c  }}" value="{{ value.val }}">
                        {% endif %}
                    </div>
                    {% if loop.index % 3 == 0 %}
                        </div>
                    {% endif %}
            {% endfor %}
        </div>
            <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
        <button id="submit-{{ modal_id }}" type="submit" class="btn btn-success" >Save</button>
    </div>
        </form>
    </div>
</div>
