{% set modal_id = 'modal-' + uuid().hex %}

<div class="modal-dialog modal-dialog-centered modal-xl" id="{{ modal_id }}"  style="min-width: 60rem">
    <div class="modal-content modal-lg">
        <div class="modal-header">
            <div class="col-6">
                <h5 class="modal-title">View {{ model.model }}
                    <span>
                            <a href="#" class="text-primary" hx-trigger="click"  data-bs-target="#{{ modal_id }}"
                               hx-target="#{{ modal_id }}" hx-params="none" hx-swap="innerHTML"
                               hx-get="/base/modal-get?module={{ model.module }}&model={{ model.model }}&id={{ model.view.line.id }}"><i
                                    class="ri-pencil-fill fs-3"></i></a>
                        </span>
                    <span>
                            <a href="#" class="text-secondary" hx-trigger="click" data-bs-target="#{{ modal_id }}"
                               hx-target="#{{ modal_id }}" hx-params="none" hx-swap="innerHTML"
                               hx-get="/base/modal-create?module={{ model.module }}&model={{ model.model }}&id={{ model.view.line.id }}"><i
                                    class="ri-add-box-fill fs-3"></i></a>
                        </span>
                    <span>
                            <a href="#" class="text-danger" hx-trigger="click" data-bs-target="#{{ modal_id }}"
                               hx-target="#{{ modal_id }}" hx-params="none" hx-swap="innerHTML"
                               hx-get="/base/modal-delete?module={{ model.module }}&model={{ model.model }}&id={{ model.view.line.id }}"><i
                                    class="ri-delete-bin-3-fill fs-3"></i></a>
                        </span>
                </h5>
            </div>
            <div>

            </div>
            <div class="bx-pull-right">
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

        </div>
        <div>
            <div class="modal-body text-center p-5 ">
                <script src="https://cdn.lordicon.com/lordicon.js"></script>
                <lord-icon
                        src="https://cdn.lordicon.com/vfczflna.json"
                        trigger="loop"
                        style="width:150px;height:150px">
                </lord-icon>
            <div class="row">
               {% for field in model.view.line.fields if not field.type =='dict' and field.field_name not in ('id', 'lsn') %}
                        {%  if loop.length % 2 != 0 and loop.first %}
                            <div class="row">
                        {% endif %}
                        {% if loop.index0 % 3 == 0 %}
                            <div class="row">
                        {% endif %}
                            <div class="col">

                       {{ field.as_view()|safe }}

                        </div>
                        {% if loop.index % 3 == 0 %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

