{% block extra_css %}
    <!-- Sweet Alert css-->
    <link href="{{ url_for('static' ,path='libs/sweetalert2/dist/sweetalert2.min.css') }}" rel="stylesheet"
          type="text/css"/>
{% endblock extra_css %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">


        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Companies</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Commpany</a></li>
                                    <li class="breadcrumb-item active">Companies</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center flex-wrap gap-2">
                                    <div class="flex-grow-1">
                                        <button class="btn btn-secondary add-btn"
                                                hx-get="/base/modal-create?module={{ module }}&model={{ model }}"
                                                data-bs-toggle="modal" hx-trigger="click"
                                                data-bs-target="#modal-{{ model }}" hx-target="#modal-{{ model }}"
                                                hx-swap="innerHTML">
                                            <i class="ri-add-fill me-1 align-bottom"></i> Add {{ model|capitalize }}
                                        </button>
                                    </div>
                                    <div class="flex-shrink-0">
                                        <div class="hstack text-nowrap gap-2">
                                            <button class="btn btn-soft-danger" id="remove-actions"
                                                    onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i>
                                            </button>
                                            <button class="btn btn-secondary"><i
                                                    class="ri-filter-2-line me-1 align-bottom"></i> Filters
                                            </button>
                                            <button class="btn btn-soft-success">Import</button>
                                            <button type="button" id="dropdownMenuLink1" data-bs-toggle="dropdown"
                                                    aria-expanded="false" class="btn btn-soft-info"><i
                                                    class="ri-more-2-fill"></i></button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                                <li><a class="dropdown-item" href="#">All</a></li>
                                                <li><a class="dropdown-item" href="#">Last Week</a></li>
                                                <li><a class="dropdown-item" href="#">Last Month</a></li>
                                                <li><a class="dropdown-item" href="#">Last Year</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="card-body border border-dashed border-end-0 border-start-0">
                                <div>
                                    <div class="row g-3" id="filter">
                                        <div class="col-xxl-3 col-sm-4">
                                            <div class="search-box">
                                                <input type="search"
                                                       name="search"
                                                       id="search"
                                                       value="{{ request.query_params.search }}"
                                                       class="form-control search"
                                                       placeholder="Search for Company by params "
                                                >
                                                <i class="ri-search-line search-icon"></i>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-xxl-2 col-sm-4">
                                            <div>
                                                <input class="form-control" type="date" name="created_at__gte"
                                                       placeholder="" id="created_at__gte"
                                                       value="{{ request.query_params.created_at__gte or now }}">
                                            </div>
                                        </div>
                                        <div class="col-xxl-2 col-sm-4">
                                            <div>
                                                <input class="form-control" type="date" name="created_at__lt"
                                                       placeholder="" id="created_at__lt"
                                                       value="{{ request.query_params.created_at__lt or now }}">
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-xxl-2 col-sm-4" hx-get="/bff/select"
                                             hx-vals='{"module": "basic", "model":"country"}' hx-trigger="load">
                                            <a href="#" class="btn btn-dark form-control disabled placeholder col-12 htmx-indicator text-start">Select</a>
                                        </div>
                                        <div class="col-xxl-2 col-sm-4" hx-get="/bff/select"
                                             hx-vals='{"module": "basic", "model":"currency"}' hx-trigger="load">
                                            <a href="#" class="btn btn-dark form-control disabled placeholder col-12 htmx-indicator text-start">Select</a>
                                        </div>
                                        <!--end col-->
                                        <div class="col-xxl-1 col-sm-4">
                                            <div>
                                                <button type="button" class="btn btn-primary w-100"
                                                        onclick="SearchData();"><i
                                                        class="ri-equalizer-fill me-1 align-bottom"></i>
                                                    Filters
                                                </button>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--end col-->
                    <div id="table" class="col-xxl-9"
                         hx-get="/base/table?module={{ module }}&model={{ model }}"
                         hx-trigger="change from:#filter delay:500ms, load, update"
                         hx-include="#filter"
                    >
                        <div class="card htmx-indicator ">
                            <table class="table ">
                                <thead class="text-muted table-light">
                                <tr class="placeholder-lg placeholder-glow">
                                    {% for i in range(8) %}
                                        <th><span class="placeholder col-12"></span></th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in range(8) %}
                                    <tr class="placeholder-glow">
                                        {% for i in range(8) %}
                                            <td><span class="placeholder col-12"></span></td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                    <div id="card" class="col-xxl-3" hx-get="/base/card?module={{ module }}&model={{ model }}&id={{ request.user.companies|first }}" hx-trigger="load">
                        <div class="card htmx-placeholder">
                            <div class="card-body">
                                <h5 class="card-title placeholder-glow">
                                    <span class="placeholder col-6"></span>
                                </h5>
                                <p class="card-text placeholder-glow">
                                    <span class="placeholder col-12"></span>
                                    <span class="placeholder col-12"></span>
                                    <span class="placeholder col-12"></span>
                                    <span class="placeholder col-6"></span>
                                </p>
                                <a href="#" tabindex="-1" class="btn form-control disabled placeholder col-6"></a>
                            </div>
                            <!--end card-->
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->

            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <div id="modal-{{ model }}" class="modal modal-blur fade" style="display: none" aria-hidden="false" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
    <!-- end main content-->

{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}