<div class="card" id="companyList">
    <div class="card-header">
        <div class="row g-2">
            <div class="col-md-3">
                <div class="search-box">
                    <input type="text" class="form-control search" placeholder="Search for company...">
                    <i class="ri-search-line search-icon"></i>
                </div>
            </div>
            <div class="col-md-auto ms-auto">
                <div class="d-flex align-items-center gap-2">
                    <span class="text-muted">Sort by: </span>
                    <select class="form-control mb-0" data-choices data-choices-search-false
                            id="choices-single-default">
                        <option value="Owner">Owner</option>
                        <option value="Company">Company</option>
                        <option value="Currency">Location</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div>
            <div class="table-responsive table-card mb-3">
                <table class="table align-middle table-nowrap mb-0" id="customerTable">
                    <thead class="table-light">
                    <tr>
                        <th scope="col" style="width: 50px;">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                            </div>
                        </th>
                        <th class="sort" data-sort="name" scope="col">Company Name</th>
                        <th class="sort" data-sort="owner" scope="col">Owner</th>
                        <th class="sort" data-sort="external_id" scope="col">External ID</th>
                        <th class="sort" data-sort="Country" scope="col">Country</th>
                        <th class="sort" data-sort="Currency" scope="col">Currency</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody class="list form-check-all">
                    {% for c in companies %}
                    <tr>
                        <th scope="row">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="chk_child" value="option1">
                            </div>
                        </th>
                        <td class="id" style="display:none;"><a href="javascript:void(0);"
                                                                class="fw-medium link-primary">#VZ001</a></td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img src="{{ url_for('static' ,path='images/brands/dribbble.png') }}" alt=""
                                         class="avatar-xxs rounded-circle image_src object-fit-cover">
                                </div>
                                <div class="flex-grow-1 ms-2 name">{{ c.title}}
                                </div>
                            </div>
                        </td>
                        <td class="owner">Vasya Pupkin</td> 
                        <td class="external_id">{{ c.external_id}}</td>
                        <td><span class="Country">{{ c.country.name }}</span> <i class="ri-star-fill text-warning align-bottom"></i>
                        </td>
                        <td class="Currency">{{ c.currency.code}}</td>
                        <td>
                            <ul class="list-inline hstack gap-2 mb-0">
                                <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover"
                                    data-bs-placement="top" title="Call">
                                    <a href="javascript:void(0);" class="text-muted d-inline-block">
                                        <i class="ri-phone-line fs-16"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover"
                                    data-bs-placement="top" title="Message">
                                    <a href="javascript:void(0);" class="text-muted d-inline-block">
                                        <i class="ri-question-answer-line fs-16"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover"
                                    data-bs-placement="top" title="View">
                                    <a href="javascript:void(0);" hx-target="#company-card" hx-get="/basic/company/card?company_id={{ c.id }}" class="view-item-btn"><i
                                            class="ri-eye-fill align-bottom text-muted"></i></a>
                                </li>
                                <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover"
                                    data-bs-placement="top" title="Edit">
                                    <a class="edit-item-btn" href="#showModal" data-bs-toggle="modal"><i
                                            class="ri-pencil-fill align-bottom text-muted"></i></a>
                                </li>
                                <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover"
                                    data-bs-placement="top" title="Delete">
                                    <!--<a class="remove-item-btn" data-bs-toggle="modal" data-input-flag="{{ c.id }}" href="#deleteCompanyModal">
                                        <i class="ri-delete-bin-fill align-bottom text-muted"></i>
                                    </a>-->
                                    <a class="remove-item-btn" data-bs-toggle="modal" data-input-flag="{{ c.id }}" hx-confirm="delete ?" hx-target="closest tr" hx-delete="/basic/company/{{ c.id }}">
                                        <i class="ri-delete-bin-fill align-bottom text-muted"></i>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <div class="noresult" style="display: none">
                    <div class="text-center">
                        <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop"
                                   colors="primary:#121331,secondary:#08a88a"
                                   style="width:75px;height:75px"></lord-icon>
                        <h5 class="mt-2">Sorry! No Result Found</h5>
                        <p class="text-muted mb-0">We've searched more than 150+ companies We did not find any companies
                            for you search.</p>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <div class="pagination-wrap hstack gap-2">
                    <a class="page-item pagination-prev disabled" href="#">
                        Previous
                    </a>
                    <ul class="pagination listjs-pagination mb-0"></ul>
                    <a class="page-item pagination-next" href="#">
                        Next
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
