{% autoescape false %}
    <tr
            id="{{ store.p.key }}"
            class="line"
            ui_key="{{ store.p.ui_key }}"
            lsn="{{ store.p.lsn }}"
            hx-trigger="backend_update consume"
            hx-get="/inventory/store/lines?id={{ store._id }}"
            hx-swap="outerHTML swap:0.3s"
            hx-target="#{{ store.p.key }}" style="background-color: #0a7ea4"
    >
        <th class="line-col text-center" style="padding-left: 2px; padding-right: 2px;">
            <input class="form-check-input fs-5" type="checkbox"
                   name="{{ store.p.key ~ '--check' }}" value="">
        </th>
        <th class="line-col text-center" style="padding-left: 2px; padding-right: 2px;">
            <a href="/inventory/store/detail?order_type_id={{ store._id }}"
               hx-trigger="click"
               hx-push-url="false"
               hx-target="#htmx_content"
               hx-swap="beforeend transition:true"
               class="text-danger form-control">
                {{ store.title }}</a>
        </th>
        <th class="line-col text-center" style="padding-left: 2px; padding-right: 2px;">
            {{ store.order_class.as_get }}
        </th>
        <th class="line-col text-center" style="padding-left: 2px; padding-right: 2px;">
            {{ store.order_type_id.as_get }}
        </th>
        <th class="line-col text-center" style="padding-left: 2px; padding-right: 2px;">
            {{ store.backorder_action_type.as_get }}
        </th>
        <th class="line-col text-center" style="padding-left: 2px; padding-right: 2px;">
            {{ store.store_id.as_get }}
        </th>
        <th class="line-col text-center" style="padding-left: 2px; padding-right: 2px;">
            {{ store.partner_id.as_get }}
        </th>
        <th class="line-col text-center" style="padding-left: 2px; padding-right: 2px;">
            {{ store.reservation_method.as_get }}
        </th>
        <th class="line-col text-center" style="padding-left: 2px; padding-right: 2px;">

        {{ store.is_homogeneity.as_get }}
        </th>
        {% include 'components/loader.html' %}
    <span
    {% if store.p.is_last and scroll %}
                hx-trigger="revealed"
                hx-include="#store-filters"
                hx-get="/inventory/store/lines?cursor_lt={{ store.p.lsn }}"
                hx-swap="afterend">
            {% endif %}></span>
    </tr>

{% endautoescape %}