:root {
    --bs-modal-inner-border-radius: 15px; /* Установите нужное значение */
}

.form-control:focus {
    border-color: #ff7f5d !important;
    border-width: 2px !important;
    box-shadow: 0px 0px 5px #f7666e !important; /*here change the color*/
}


input[type="date"] {
    position: relative;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}


.is-valid {
    /*border: 1px solid var(--bs-form-valid-border-color) !important;*/
    border: var(--bs-border-width) solid #e0e6eb;
    border-radius: 10px !important;
}

.is-valid::after {
    position: absolute;
    font-weight: 900;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%233cd188' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-position: right calc(1.375em + 1.5rem) center !important;
    /*color: var(--bs-form-valid-border-color);*/
    border: var(--bs-border-width) solid #e0e6eb;
    font-size: 20px;
    right: 40px;
}


.is-invalid {
    /*border: 1px solid var(--bs-form-invalid-border-color) !important;*/
    border-radius: 10px !important;
    border: var(--bs-border-width) solid #e0e6eb;
}

.is-invalid::after {
    position: absolute;
    font-weight: 900;
    font-size: 20px;
    right: 40px;
    border-radius: 10px !important;
}


.form-control.is-valid {
    border-radius: 10px;
    background-position: right calc(1.375em + 1.5rem) center !important;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    /*border-color: var(--bs-form-invalid-border-color);*/
    border: var(--bs-border-width) solid #313e54;
    background-position: right calc(2.375em + 5px) center;
    padding-right: calc(5.5em + 20px);
}

.form-control.is-valid, .was-validated .form-control:valid {
    /*border-color: var(--bs-form-invalid-border-color);*/
    border: var(--bs-border-width) solid #e0e6eb;
}

.app-menu {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.page-title-box {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.modal-backdrop.show {
    background-color: rgba(5, 4, 4, 0.5);
    --vz-backdrop-opacity: 0.5;
    animation: ani 10.5s forwards;
}


.line-col {
    line-height: 10px;
    min-height: 10px;
    height: 10px;
    text-align: center !important;
    opacity: 1;

    & .form-control {
        background-color: transparent !important;
        border: transparent !important;
    }
}

.table > :not(caption) > * > * {
    /* padding: 14px 24px; */
    padding-top: 0px;
    padding-right: 24px;
    padding-bottom: 0px;
    padding-left: 24px;
    font-weight: 450;
    color: #29343d;
}

.form-control {
    font-weight: 600;
    color: #29343d;
}

.form-control.disabled {
    background-color: var(--bs-secondary-bg);
    opacity: 1;
}

.inline {
    padding-bottom: 0px;
    padding-top: 0px;
}

html[data-boxed-layout=boxed] .container-fluid, html[data-boxed-layout=boxed] .container-lg, html[data-boxed-layout=boxed] .container-md, html[data-boxed-layout=boxed] .container-sm, html[data-boxed-layout=boxed] .container-xl, html[data-boxed-layout=boxed] .container-xxl {
    max-width: var(--bs-breakpoint-xxl);
    margin: 0 auto;
}

.form-check .form-check-input {
    float: left;
    margin-left: 0;
}

.form-check {
    padding-left: 0;
}

.toastify.on {
    border-radius: 5px;
}

[data-bs-theme=dark] .app-calendar .event-fc-color:hover, [data-bs-theme=dark] .app-calendar .fc-theme-standard th, [data-bs-theme=dark] .bg-white, [data-bs-theme=dark] .dropdown-item:focus, [data-bs-theme=dark] .dropdown-item:hover, [data-bs-theme=dark] .form-control:disabled, [data-bs-theme=dark] .theme-tab.nav-tabs .nav-item .nav-link {
    background-color: transparent !important;
}

@media (max-width: 768px) {
    .modal-xl {
        max-width: 99%; /* Установите нужную ширину для небольших экранов */
    }
}

@media (min-width: 769px) {
    .modal-xl {
        max-width: 90%; /* Установите нужную ширину для больших экранов */
    }
}

.form-control:disabled {
    background-color: transparent;
    opacity: 1
}

.small-padding {
    padding-left: 5px; /* Установите нужное значение отступа */
    padding-right: 5px; /* Установите нужное значение отступа */
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--bs-nav-tabs-link-active-color);
    background-color: var(--bs-primary);
    border-color: var(--bs-nav-tabs-link-active-border-color);
}

.tab-content {
    min-height: 300px;
}

.tooltip-inner {
    background-color: var(--bs-secondary); /* Цвет фона тултипа */
    color: #ffff; /* Цвет текста тултипа */
    font-size: 12px; /* Размер шрифта тултипа */
    padding: 5px; /* Отступы внутри тултипа */
    border-radius: 10px; /* Скругление углов тултипа */
}

.tooltip-arrow::before {
    border-top-color: var(--bs-secondary);
}

.table {
    vertical-align: middle;
}

.auth-bg {
    background: url(../images/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat
}

.line {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.line.htmx-swapping {
    opacity: 0;
    background-color: var(--bs-secondary-bg-subtle) !important;
    transition: opacity 1s ease-out;
}

.line.htmx-swapping * {
    background-color: inherit;
}

.line.htmx-added {
    background-color: var(--bs-secondary-bg-subtle) !important;
    opacity: 0;
}

.line.htmx-added * {
    background-color: inherit;
}

.modal {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.modal.show {
    display: block;
    opacity: 1;
}

.resize-handle {
    width: 10px;
    height: 10px;
    background: #ccc;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: se-resize;
}

.table {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.container .small-element {
    font-size: 0.875em; /* Размер шрифта для small */
}

.modal-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

a.text-danger {
    font-weight: 600;
}

.nest-card {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 1px;
    margin: 10px;
    background-color: #f9f9f9;
}
.modal-body {
    border-radius: 15px;
}

.nested {
    margin-left: 5px;
}

@media (max-width: 991.98px) {
    .body-wrapper {
        margin-top: 100px;
              margin-right: 0px;
        margin-left: 0px;

    }
}

.d-sm-flex {
    display: flex;
    flex-wrap: nowrap;
}

.icon-hover:hover {
    outline: 1px solid var(--bs-primary);
    outline-offset: 2px; /* Отступ от элемента */
    border-radius: 5px; /* Радиус рамки */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Полутень снизу */
    background-color: rgba(255, 255, 255, 0.1); /* Цвет фона, слегка отличающийся от контейнера */
    padding: 3px; /* Увеличение размера площадки */
}
