{# карточка 1 ордера#}
<div class="card" id="order-kanban-full">

    <div class="card-body">
        <h6 class="text-muted text-uppercase fw-semibold mb-3">Information</h6>
        <p class="text-muted mb-4">some description</p>
        <div class="table-responsive table-card">
            <table class="table table-borderless mb-0">
                    <tbody>
                        <tr>
                            <td class="fw-medium" scope="row">Name</td>
                            <td>{{ order.number }}</td>
                        </tr>
                        <tr>
                            <td class="fw-medium" scope="row">Website</td>
                            <td>
                                <a href="javascript:void(0);" class="link-primary text-decoration-underline">www.syntycesolution.com</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fw-medium" scope="row">Contact Email</td>
                            <td>info@syntycesolution.com</td>
                        </tr>
                        <tr>
                            <td class="fw-medium" scope="row">Since</td>
                            <td>1995</td>
                        </tr>
                    </tbody>
                </table>

        </div>
    </div>
</div>