{% block get %}
    {% autoescape false %}
        <tr
                id="{{ line.p.key }}"
                class="line"
                ui_key="{{ line.p.ui_key }}"
                lsn="{{ line.p.lsn }}"
                hx-trigger="backend_update"
                hx-get="/base/line/{{ line.v.model.name }}/{{ line.p.id }}?mode=tr&method=get"
                hx-swap="outerHTML"
                hx-target="#{{ line.p.key }}"
        >
            <th scope="row" style="white-space: nowrap; vertical-align: middle;">
                <div class="row">
                    <div class="col-6">
                        <div class="form-check fs-5" style="display: inline-block;">
                            <input class="form-check-input" type="checkbox"
                                   name="{{ line.p.key ~ '--check' }}" value="">
                        </div>
                    </div>
                    {% if not line.v.parent_field %} {# Если строчка встроена в другой обьект, то не даем изменять #}
                        {% if line.v.update %}
                            <div class="col-6">
                                <a
                                        href="#"
                                        hx-trigger="click"
                                        {% if method.value in ('get','create') %}hx-target="#{{ line.p.key }}"
                                        {% else %}hx-target="this"{% endif %}
                                        hx-include="#{{ line.p.key }}"
                                        {% if method.value =='get' %}
                                        hx-get="/base/line/{{ line.v.model.name }}/{{ line.p.id }}?mode=tr&method=update"
                                        {% elif method.value =='create' %}
                                        hx-ext="json-enc"
                                        hx-post="/base/line/{{ line.v.model.name }}/{{ line.p.id }}?mode=tr&method=save_create"
                                        {% else %}
                                        hx-ext="json-enc"
                                        hx-post="/base/line/{{ line.v.model.name }}/{{ line.p.id }}?mode=tr&method=save"
                                        {% endif %}
                                        hx-swap="outerHTML"
                                        class="btn btn-soft-primary text-center"
                                        style="display: inline-block">
                                    <iconify-icon
                                            icon="{% if method.value =='get' %}solar:pen-bold{% else %}solar:diskette-bold{% endif %}"
                                            class="fs-6"></iconify-icon>
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </th>
            {% if line.id.val %}
                <input type="hidden" name="{{ line.id.key }}" value="{{ line.id.val }}">
            {% endif %}
            {% for field in line.get_fields(display_view='table') %}
                {% if method in ('update', 'create') %}
                    <th class="line-col text-center"
                        style="padding-left: 2px; padding-right: 2px;">{{ field.as_update }}</th>
                {% else %}
                    <th class="line-col text-center"
                        style="padding-left: 2px; padding-right: 2px;">{{ field.as_get }}</th>
                {% endif %}
            {% endfor %}
            <th class="line-col  text-center" style="padding-bottom: 0px;">
                <div
                        {% if line.is_last and not line.is_rel %}
                            hx-include="{{ '#filter' ~'--'~ line.p.class_key }}"
                            hx-post="/base/table/{{ line.v.model.name }}?cursor_lt={{ line.p.lsn }}"
                            hx-ext="json-enc"
                            hx-trigger="revealed" hx-swap="beforeend transition:true"
                            hx-select="#{{ 'tbody-table' ~'--'~ line.p.class_key }}>tr"
                            hx-target="#tbody-table--{{ line.p.class_key }}"
                        {% endif %}>
                </div>
                <div>
                    {{ line.h.as_button_delete }}
                    {{ line.h.as_button_actions }}
                </div>
            </th>

        </tr>
    {% endautoescape %}
{% endblock %}
{% block update %}
    {% autoescape false %}
        <tr
                id="{{ line.p.key }}"
                class="line"
                ui_key="{{ line.p.ui_key }}"
                lsn="{{ line.p.lsn }}"
                hx-trigger="backend_update"
                hx-get="/base/line/{{ line.v.model.name }}/{{ line.p.id }}?mode=tr&method=get"
                hx-swap="outerHTML"
                hx-target="#{{ line.p.key }}"
        >
            <th scope="row" style="white-space: nowrap; vertical-align: middle;">
                <div class="row">
                    <div class="col-6">
                        <div class="form-check fs-5" style="display: inline-block;">
                            <input class="form-check-input" type="checkbox"
                                   name="{{ line.p.id ~ '--check' }}" value="">
                        </div>
                    </div>
                    {% if not line.v.parent_field %} {# Если строчка встроена в другой обьект, то не даем изменять #}
                        <div class="col-6">
                            <a
                                    href="#"
                                    hx-trigger="click"
                                    {% if method.value in ('get','create') %}hx-target="#{{ line.p.key }}"
                                    {% else %}hx-target="this"{% endif %}
                                    {% if method.value =='get' %}
                                    hx-get="/base/line/{{ line.v.model.name }}/{{ line.p.id }}?mode=tr&method=update"
                                    {% elif method.value =='create' %}
                                    hx-include="#{{ line.p.key }}"
                                    hx-ext="json-enc"
                                    hx-post="/base/line/{{ line.v.model.name }}/{{ line.p.id }}?mode=tr&method=save_create"
                                    {% else %}
                                    hx-include="#{{ line.p.key }}"
                                    hx-ext="json-enc"
                                    hx-put="/base/line/{{ line.v.model.name }}/{{ line.p.id }}?mode=tr&method=save"
                                    {% endif %}
                                    hx-swap="outerHTML"
                                    class="btn btn-soft-primary inline"
                                    style="display: inline-block">
                                <iconify-icon
                                        icon="{% if method.value =='get' %}solar:pen-bold{% else %}solar:diskette-bold{% endif %}"
                                        class="fs-6"></iconify-icon>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </th>
            {% if line.id.val %}
                <input type="hidden" name="{{ line.id.field_name }}" value="{{ line.id.val }}">
            {% endif %}
            {% for field in line.get_fields(display_view='table') %}
                {% if method in ('update', 'create') %}
                    <th class="line-col text-center"
                        style="padding-left: 2px; padding-right: 2px;">{{ field.as_update }}</th>
                {% else %}
                    <th class="line-col text-center"
                        style="padding-left: 2px; padding-right: 2px;">{{ field.as_get }}</th>
                {% endif %}
            {% endfor %}
            <th class="line-col  text-center" style="padding-bottom: 0px;">
                <div
                        {% if line.is_last and not line.is_rel %}
                            hx-include="{{ '#filter' ~'--'~ line.p.class_key }}"
                            hx-post="/base/table"
                            hx-ext="json-enc"
                            hx-trigger="revealed" hx-swap="beforeend transition:true"
                            hx-select="#{{ 'tbody-table' ~'--'~ line.p.class_key }}>tr"
                            hx-target="#tbody-table--{{ line.p.class_key }}"
                            hx-vals='{
                            "model": "{{ line.v.model.name }}",
                            "{{ line.p.class_key ~'--filter--'~ 'cursor_lt' }}": "{{ line.p.lsn }}",
                            "key": "{{ line.p.class_key }}"
                        }'
                        {% endif %}>
                </div>
                <div>
                    {{ line.h.as_button_delete }}
                    {{ line.h.as_button_actions }}

                </div>
            </th>

        </tr>
    {% endautoescape %}
{% endblock %}
{% block create %}
    {% autoescape false %}
        <tr
                id="{{ line.p.key }}"
                class="line"
                ui_key="{{ line.p.ui_key }}"
                lsn="{{ line.p.lsn }}"
                hx-trigger="backend_update"
                hx-post="/base/line"
                hx-ext="json-enc"
                hx-swap="outerHTML"
                hx-target="#{{ line.p.key }}"
                hx-vals='{
                "model": "{{ line.v.model.name }}",
                "method": "get",
                "mode": "tr",
                "key": "{{ line.p.class_key }}",
                "id": "{{ line.p.id }}"
                }'
        >
            <th scope="row" style="white-space: nowrap; vertical-align: middle;">
                <div class="row">
                    <div class="col-6">
                        <div class="form-check fs-5" style="display: inline-block;">
                            <input class="form-check-input" type="checkbox"
                                   name="{{ line.p.key ~ '--check' }}" value="">
                        </div>
                    </div>
                    <div class="col-6">
                        <a
                                href="#"
                                hx-trigger="click"
                                {% if method.value in ('get','create') %}hx-target="#{{ line.p.key }}"
                                {% else %}hx-target="this"{% endif %}
                                hx-include="#{{ line.p.key }}"
                                hx-ext="json-enc"
                                hx-swap="outerHTML"
                                hx-post="/base/line"
                                hx-vals='{
                                "model": "{{ line.v.model.name }}",
                                "method": "{% if method.value =='get' %}update{% elif method.value =='create' %}save_create{% else %}save{% endif %}",
                                "mode": "tr",
                                "id": "{{ line.p.id }}",
                                "key": "{{ line.p.class_key }}"
                            }'
                                class="btn btn-soft-primary inline"
                                style="display: inline-block">
                            <iconify-icon
                                    icon="{% if method.value =='get' %}solar:pen-bold{% else %}solar:diskette-bold{% endif %}"
                                    class="fs-6"></iconify-icon>
                        </a>
                    </div>
                </div>
            </th>
            {% if line.id.val %}
                <input type="hidden" name="{{ line.id.key }}" value="{{ line.id.val }}">
            {% endif %}
            {% for field in line.get_fields(display_view='table') %}
                {% if method in ('update', 'create') %}
                    <th class="line-col text-center"
                        style="padding-left: 2px; padding-right: 2px;">{{ field.as_update }}</th>
                {% else %}
                    <th class="line-col text-center"
                        style="padding-left: 2px; padding-right: 2px;">{{ field.as_get }}</th>
                {% endif %}
            {% endfor %}
            <th class="line-col  text-center" style="padding-bottom: 0px;">
                <div
                        {% if line.is_last and not line.is_rel %}
                            hx-include="{{ '#filter' ~'--'~ line.p.class_key }}"
                            hx-get="/base/table/{{ line.v.model.name }}?cursor_lt={{ line.p.lsn }}"
                            hx-trigger="revealed" hx-swap="beforeend transition:true"
                            hx-select="#{{ 'tbody-table' ~'--'~ line.p.class_key }}>tr"
                            hx-target="#tbody-table--{{ line.p.class_key }}"
                        {% endif %}>
                </div>
                <div>
                    {{ line.h.as_button_delete }}
                    {{ line.h.as_button_actions }}
                </div>
            </th>

        </tr>
    {% endautoescape %}
{% endblock %}
{% block header %}
    <tr class=" fs-5 text-center" style="text-align: center">
        <th scope="col">
            <p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox"
                       id="{{ line.p.class_key ~'--'~ 'checkAll' }}"
                       value="option">
            </div>
            </p>
        </th>
        {% for field in line.get_fields(display_view='table') %}
            <th
                    data-bs-toggle="tooltip"
                    data-bs-html="true"
                    data-key-description="{{ field.data_key_description }}"
                    title="{{ field.description }}">
                <p data-key="{{ field.data_key}}">{{ field.get.title or field.field_name }}</p>
            </th>
        {% endfor %}
        <th style="min-width: 8rem"><p data-key="t-active">Active</p></th>
    </tr>
{% endblock %}
{% block placeholder %}
    <tr>
        <th scope="row">
            <div class="form-check">
                <input class="form-check-input fs-5" type="checkbox" value="">
            </div>
        </th>
        {% for field in line.get_fields(display_view='table') %}
            <td class="col-line placeholder-glow " style="height: 37px; overflow:auto;">
                {% if field.get.required %}
                    <span class="placeholder col-12"></span>
                {% else %}
                    {% set rand = range(1, 4) | random %}
                    {% if rand == 2 %}
                        <span class="placeholder col-12"></span>
                    {% endif %}
                {% endif %}
            </td>
        {% endfor %}
    </tr>
{% endblock %}