{% block widget %}
<div id="{{ 'filter_' ~ model.prefix }}"
      hx-ext="json-enc"
      hx-post="/bff/filter"
      hx-trigger="load"
      hx-vars='{
        "module": "{{ model.module }}",
        "model": "{{ model.model }}",
        "prefix": "{{ model.prefix }}"
      }'
>
    <!--HTMX CONTENT-->
</div>
{% endblock %}
{% block filter %}
<div class="card">
    <div class="card-body">
        <div class="row g-3">
            {% for field in filter.line.fields %}
                {% if field.widget.filter and field.field_name != 'order_by' %}
                    <div class="col-xxl-2 col-sm-4">
                        {{ field.as_filter()|safe }}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="col">
                <div>
                    <button type="button" class="btn btn-primary w-100"
                            onclick="SearchData();"><i
                            class="ri-equalizer-fill me-1 align-bottom"></i>
                    </button>
                </div>
            </div>
            <!--end col-->
        </div>
    </div>
</div>
{% endblock %}