{% block widget %}
<div id="{{ 'table_' ~ table.prefix }}"
     hx-post="/base/table"
     hx-ext="json-enc"
     hx-vals='{
        "module": "{{ table.module }}",
        "model": "{{ table.model }}",
        "prefix": "{{ table.prefix }}"
     }'
     hx-trigger="change from:{{ '#filter_' ~ table.prefix }} delay:500ms, load, update delay:500ms"
     hx-include="{{ '#filter_' ~ table.prefix }}"
>
    <div class="card htmx-indicator ">
        <table class="table ">
            <thead class="text-muted table-light">
            <tr class="placeholder-lg placeholder-glow">
                {% for i in range(8) %}
                    <th><span class="placeholder col-12"></span></th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for i in range(8) %}
                <tr class="placeholder-glow">
                    {% for i in range(8) %}
                        <td><span class="placeholder col-12"></span></td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!--end card-->
</div>
{% endblock %}

{% block table %}
<div class="card">
    <div class="card-body">
        <div class="table-responsive " style="width: auto; min-height: 400px"  data-show-columns="true">
            <table class="table table-hover table-striped" id="{{'table_' ~ table.prefix }}"
            >
                <thead class="text-muted table-light">
                <tr class="text-uppercase fs-13">
                    <th scope="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkAll"
                                   value="option">
                        </div>
                    </th>
                    {% for field in table.header.fields if field.widget.table %}
                            {{ field.as_table_header()|safe }}
                    {% endfor %}
                    <th>Active</th>
                </tr>
                </thead>
            <div class="rows">
                {% for line in table.lines %}
                        <tr id="td-{{line.id}}" class="mb-0 fw-semibold text-muted">
                            <th scope="row">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="checkAll" value="">
                                </div>
                            </th>
                            {% for field in line.fields if field.widget.table %}
                                    {{ field.as_table()|safe }}
                            {% endfor %}
                            <td>
                                <ul class="list-inline hstack gap-2 mb-0">
                                    <li class="list-inline-item edit" title="Edit">
                                        <a href="#" data-bs-toggle="modal" hx-include="this" hx-trigger="click"  data-bs-target="{{'#modal_' ~ table.prefix}}" hx-target="{{'#modal_' ~ table.prefix}}" hx-swap="innerHTML transition:true" hx-get="/base/modal-view?module={{ table.module }}&model={{ table.model }}&id={{ line.id }}"
                                           class="text-success d-inline-block edit-item-btn"> <i
                                                class="ri-eye-fill fs-16"></i></a>
                                    </li>
                                    <li class="list-inline-item edit" title="Edit">
                                        <a href="#" data-bs-toggle="modal" hx-include="this" hx-trigger="click"  data-bs-target="{{'#modal_' ~ table.prefix}}" hx-target="{{'#modal_' ~ table.prefix}}" hx-swap="innerHTML transition:true" hx-get="/base/modal-get?module={{ table.module }}&model={{ table.model }}&id={{ line.id }}"
                                           class="text-primary d-inline-block edit-item-btn"> <i
                                                class="ri-pencil-fill fs-16"></i></a>
                                    </li>
                                    <li class="list-inline-item" title="Remove">
                                        <a class="text-danger d-inline-block remove-item-btn"  data-bs-toggle="modal" hx-trigger="click" data-bs-target="{{'#modal_' ~ table.prefix}}" hx-target="{{'#modal_' ~ table.prefix}}" hx-swap="innerHTML"
                                            hx-get="/base/modal-delete?module={{ table.module }}&model={{ table.model }}&id={{ line.id }}">
                                            <i class="ri-delete-bin-3-fill fs-16"></i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% if loop.last %}
                        <div
                            hx-include="{{ '#filter_' ~ table.prefix }}"
                            hx-post="/base/table"
                            hx-ext="json-enc"
                            hx-trigger="revealed" hx-swap="afterend" hx-select="#rows"
                                 hx-vals='{
                                    "module": "{{ table.module }}",
                                    "model": "{{ table.model }}",
                                    "cursor": "{{ line.lsn }}",
                                    "prefix": "{{ table.prefix }}"
                                 }'
                        ></div>
                    {% endif %}
                {% endfor %}

            </div>
            </table>
            <!------Таблица----->
        </div>

    </div>
</div>

<div id="{{'modal_' ~ table.prefix}}" class="modal modal-blur fade" data-bs-backdrop="false" style="display: none" aria-hidden="false" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>
    <script>
  var table = document.getElementById('{{'table_' ~ table.prefix }}')
{#  function toggleColumnVisibility(columnIndex) {#}
{#      debugger#}
{#  // Получаем столбцы таблицы#}
{#  var cols = document.querySelectorAll(`td:nth-child(${columnIndex}), th:nth-child(${columnIndex})`);#}
{#  cols.forEach(function (col) {#}
{#    // Теперь управляем видимостью#}
{#    col.style.display = col.style.display === 'none' ? '' : 'none';#}
{#  });#}
{#}#}
{#toggleColumnVisibility(1)#}
</script>
{% endblock %}