{% block widget %}
<div id="{{ 'table_' ~ model.prefix }}"
     hx-post="/base/table"
     hx-ext="json-enc"
     hx-vals='{
        "module": "{{ model.module }}",
        "model": "{{ model.model }}",
        "prefix": "{{ model.prefix }}"
     }'
     hx-trigger="change from:{{ '#filter_' ~ model.prefix }} delay:500ms, load, update delay:500ms"
     hx-include="{{ '#filter_' ~ model.prefix }}"
>
    <div class="card htmx-indicator ">
        <table class="table ">
            <thead class="text-muted table-light">
            <tr class="placeholder-lg placeholder-glow">
                {% for i in range(8) %}
                    <th><span class="placeholder col-12"></span></th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for i in range(8) %}
                <tr class="placeholder-glow">
                    {% for i in range(8) %}
                        <td><span class="placeholder col-12"></span></td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!--end card-->
</div>
{% endblock %}

{% block table %}
<div class="card">
    <div class="card-body">
        <div class="table-responsive " style="width: auto; min-height: 400px"  data-show-columns="true">
            <table class="table table-hover table-striped" id="{{'table_' ~ table.prefix }}"
            >
                <thead class="text-muted table-light">
                <tr class="text-uppercase fs-13">
                    <th scope="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkAll"
                                   value="option">
                        </div>
                    </th>
                    {% for field in table.line.fields if field.widget.table %}
                            {{ field.as_table_header()|safe }}
                    {% endfor %}
                    <th>Active</th>
                </tr>
                </thead>
            <div class="rows">
                {% for line in table.lines %}
                    {% set line_id = "td-"~line.id %}
                        <tr id="{{line_id}}" class="mb-0 fw-semibold text-muted">
                            <th scope="row">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="checkAll" value="">
                                </div>
                            </th>
                        {% for field in line.fields if field.widget.table %}
                                {{ field.as_table()|safe }}
                        {% endfor %}
                            <td>
                                <ul class="list-inline hstack gap-2 mb-0">
                                    <li class="list-inline-item view-btn" title="View">
                                        {{ line.as_button_view()|safe }}
                                    </li>
                                    <li class="list-inline-item edit" title="Edit">
                                        {{ line.as_button_update()|safe }}
                                    </li>
                                    <li class="list-inline-item" title="Remove">
                                        {{ line.as_button_delete(line_id)|safe }}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% if loop.last %}
                        <div
                            hx-include="{{ '#filter_' ~ table.prefix }}"
                            hx-post="/base/table"
                            hx-ext="json-enc"
                            hx-trigger="revealed" hx-swap="afterend" hx-select="#rows"
                                 hx-vals='{
                                    "module": "{{ table.module }}",
                                    "model": "{{ table.model }}",
                                    "cursor": "{{ line.lsn }}",
                                    "prefix": "{{ table.prefix }}"
                                 }'
                        ></div>
                    {% endif %}
                {% endfor %}

            </div>
            </table>
            <!------Таблица----->
        </div>

    </div>
</div>
{% endblock %}

{% block badges %}
<div class="d-flex flex-wrap gap-2">
    {% for line in table.lines %}
        <a href="#"
       hx-params="module, model, id, prefix, method"
       hx-trigger="click"
       hx-target="#modal"
       hx-ext="json-enc"
       hx-post="/base/modal"
       hx-vars='{
"module": "{{ line.module }}",
"model": "{{ line.model }}",
"method": "view",
"id": "{{ line.id }}",
"prefix": "{{ line.prefix }}"
}'
       class="text-success d-inline-block edit-item-btn">
        <span class="badge bg-secondary">{{ line.display_title }}</span>
    </a>
    {% endfor %}
</div>
{% endblock %}
