{% block as_form %}
        <input
                class="id form-control" hidden
                {% if field.required %} required {% endif %}
                name="{{ field.prefix ~'--'~ field.field_name }}"
                placeholder="Enter {{ field.title }}"
                value="{{ field.val if field.val else "" }}"
        >
{% endblock %}
{% block as_view %}
    <input
                class="form-control" hidden
                {% if field.required %} required {% endif %}
                name="{{ field.prefix ~'--'~ field.field_name }}"
                placeholder="Enter {{ field.title }}"
                value="{{ field.val if field.val else "" }}"
        >
{% endblock %}

