{% autoescape false %}
    <div class="modal" id="{{ 'modal_'~location.p.key }}" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-right fadeInRight">
            <div class="modal-content slide-right">
                <div class="modal-header modal-colored-header bg-primary text-white">
                    <div class="card-body pb-0 pt-0">
                        <div class="row align-items-center">
                            <div class="col-12">
                                <div class="d-sm-flex align-items-center justify-space-between">
                                    <h4 class="mb-4 mb-sm-0 card-title">{{ location.title if location.title.val else 'NEW' }}</h4>
                                    <nav aria-label="breadcrumb" class="ms-auto">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item d-flex align-items-center">
                                                <a class="text-decoration-none d-flex"
                                                   href="../main/index.html">
                                                    <iconify-icon icon="solar:map-broken"
                                                                  class="fs-8"></iconify-icon>
                                                </a>
                                            </li>
                                            <li class="breadcrumb-item d-flex align-items-center">
                                                <a href="#" data-bs-dismiss="modal"
                                                   class="d-flex align-items-center">
                                                    <iconify-icon icon="solar:close-circle-outline"
                                                                  class="fs-8"></iconify-icon>
                                                </a>
                                            </li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body form-control">
                    <div class="form-body ">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-md-6 text-start" id="location-form">
                                    <div class="card-body">
                                        <h5 class="card-title mb-0 text-start" data-key="t-location-quants">Info</h5>
                                    </div>

                                    <div class="form-group row d-flex align-items-center">
                                        <label class="form-label text-end col-3"
                                               data-key="{{ location.title.data_key }}">{{ location.title._field_name }}</label>
                                        <div class="col-9">
                                            {% if edit %}
                                                {{ location.title.as_update }}
                                            {% else %}
                                                <div class="form-label">{{ location.title }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row d-flex align-items-center mb-2">
                                        <label class="form-label text-end col-3"
                                               data-key="{{ location.store_id.data_key }}">{{ location.store_id._field_name }}</label>
                                        <div class="col-9">
                                            {% if create %}
                                                {{ location.store_id.as_update }}
                                            {% else %}
                                                <div class="form-label">{{ location.store_id.as_a() }}</div>
                                            {% endif %}

                                        </div>
                                    </div>
                                    <div class="form-group row d-flex align-items-center mb-2">
                                        <label class="form-label text-end col-3"
                                               data-key="{{ location.location_class.data_key }}">{{ location.location_class._field_name }}</label>
                                        <div class="col-9">
                                            {% if create %}
                                                {{ location.location_class.as_update }}
                                            {% else %}
                                                <div class="form-label">{{ location.location_class }}</div>
                                            {% endif %}

                                        </div>
                                    </div>
                                    <div class="form-group row d-flex align-items-center mb-2">
                                        <label class="form-label text-end col-3"
                                               data-key="{{ location.location_type_id.data_key }}">{{ location.location_type_id._field_name }}</label>
                                        <div class="col-9">
                                            {% if edit %}
                                                {{ location.location_type_id.as_update }}
                                            {% else %}
                                                <div class="form-label">{{ location.location_type_id.as_a() }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row d-flex align-items-center mb-2">
                                        <label class="form-label text-end col-3"
                                               data-key="{{ location.location_id.data_key }}">{{ location.location_id._field_name }}</label>
                                        <div class="col-9">
                                            {% if edit %}
                                                {{ location.location_id.as_update }}
                                            {% else %}
                                                <div class="form-label">{{ location.location_id.as_a() }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row d-flex align-items-center mb-2">
                                        <label class="form-label text-end col-3"
                                               data-key="{{ location.is_active.data_key }}">{{ location.is_active._field_name }}</label>
                                        <div class="col-9">
                                            {% if edit %}
                                                {{ location.is_active.as_update }}
                                            {% else %}
                                                <div class="form-label">{{ location.is_active.as_get }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-title mb-0 text-start" data-key="t-location-quants">Quants</h5>
                                    </div>
                                    <div class="card-body">
                                        {% with quants = quants %}
                                            {% include 'inventory/quant/quant_grid.html' %}
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="card-title text-start">
                                    <h5 data-key="t-location-tree-title">Location Tree </h5>

                                </div>
                                {% with locations = locations %}
                                    <div class="div" id="location_tree">
                                        {% include 'inventory/location/location_tree.html' %}
                                    </div>
                                {% endwith %}

                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9 text-start">
                                                {% if edit %}
                                                    <button type="submit"
                                                            class="btn btn-primary"
                                                            hx-post="/inventory/location/detail?location_id={{ location._id }}&edit=true"
                                                            hx-ext="json-enc"
                                                            hx-include="#location-form"
                                                            hx-swap="outerHTML"
                                                            hx-target=".modal-body"
                                                            hx-select=".modal-body"
                                                    >
                                                        <i class="ti ti-download fs-5"></i>
                                                        Save
                                                    </button>
                                                {% else %}
                                                    <button type="submit"
                                                            class="btn btn-primary"
                                                            hx-get="/inventory/location/detail?location_id={{ location._id }}&edit=True"
                                                            hx-swap="outerHTML"
                                                            hx-target=".modal-body"
                                                            hx-select=".modal-body"
                                                    >
                                                        <i class="ti ti-edit fs-5"></i>
                                                        Edit
                                                    </button>
                                                {% endif %}
                                                <button type="button" class="btn bg-danger-subtle text-danger ms-6"
                                                        data-bs-dismiss="modal">
                                                    Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endautoescape %}