{% block content %}
    <div class="card card-body py-3">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="d-sm-flex align-items-center justify-space-between">
                    <h4 class="mb-4 mb-sm-0 card-title"><h4>All Locations- </h4> {{ store_user.store_id.as_card_title }}
                    </h4>
                    <nav aria-label="breadcrumb" class="ms-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item d-flex align-items-center">
                                <a class="text-muted text-decoration-none d-flex" type="button"
                                   data-bs-toggle="offcanvas"
                                   data-bs-target="#location-filters" aria-controls="location-filters">
                                    <iconify-icon icon="solar:filter-bold-duotone" class="fs-7"></iconify-icon>
                                </a>
                            </li>
                            <li class="breadcrumb-item d-flex align-items-center">
                                <a class="text-muted text-decoration-none d-flex"
                                   hx-get="/inventory/location/map"
                                   hx-target="#htmx_content"
                                   href="#">
                                    <iconify-icon icon="solar:map-broken" class="fs-7"></iconify-icon>
                                </a>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">
                        <span class="badge fw-medium fs-2 bg-primary-subtle text-primary">
                          all locations
                        </span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="card position-relative overflow-hidden">
        <div class="shop-part w-100">
            <div class="offcanvas offcanvas-end" tabindex="-1" id="location-filters"
                 aria-labelledby="location-filters-label">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="location-filters-label">Filters</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="list-group pt-2 border-bottom rounded-0">
                        <h6 class="my-3 mx-4 fw-semibold">Locations</h6>
                        <li class="list-group-item border-0 p-0 mx-4 mb-2">
                            <div>
                                {{ locations.location_id__in.as_update }}
                            </div>
                        </li>
                    </ul>
                    <ul class="list-group pt-2 border-bottom rounded-0">
                        <h6 class="my-3 mx-4 fw-semibold">Location Class</h6>
                        {% for class in classes %}
                            <li class="list-group-item border-0 p-0 mx-4 mb-2">
                                <div>
                                    <input type="checkbox" name="{{ locations.location_class__in.field_name }}"
                                           value="{{ class.value }}"
                                           class="btn-check" id="{{ class.value }}" autocomplete="off">
                                    <label class="btn btn-outline-secondary w-100 text-start border-0 text-dark"
                                           for="{{ class.value }}">{{ class.name }}</label>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul class="list-group pt-2 border-bottom rounded-0">
                        <h6 class="my-3 mx-4 fw-semibold">Zones</h6>
                        {% for zone in zones %}
                            <li class="list-group-item border-0 p-0 mx-4 mb-2">
                                <div>
                                    <input type="checkbox" name="zone_id__in"
                                           value="{{ zone.id }}"
                                           class="btn-check" id="{{ zone.p.key }}" autocomplete="off">
                                    <label class="btn btn-outline-secondary w-100 text-start border-0 text-dark"
                                           for="{{ zone.p.key }}">{{ zone.title }}</label>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul class="list-group pt-2 border-bottom rounded-0">
                        <h6 class="my-3 mx-4 fw-semibold">Partners</h6>
                        <li class="list-group-item border-0 p-0 mx-4 mb-2">
                            <a class="d-flex align-items-center gap-6 list-group-item-action text-dark px-3 py-6 rounded-1"
                               href="javascript:void(0)">
                                <i class="ti ti-sort-descending-2 fs-5"></i>Partner 1
                            </a>
                        </li>
                        <li class="list-group-item border-0 p-0 mx-4 mb-2">
                            <a class="d-flex align-items-center gap-6 list-group-item-action text-dark px-3 py-6 rounded-1"
                               href="javascript:void(0)">
                                <i class="ti ti-sort-descending-2 fs-5"></i>
                                Partner 2
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body p-4 pb-0">
                <div class="d-flex justify-content-between align-items-center gap-6 mb-4">
                    <div class="d-flex align-items-center gap-6">
                        <div class="position-relative">
                            <input type="text" class="form-control search-chat py-2 ps-5" id="text-srh"
                                   placeholder="Search Quants">
                            <i class="ti ti-search position-absolute top-50 start-0 translate-middle-y fs-6 text-dark ms-3"></i>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-6">
                        <div class="position-relative">
                            <button type="button"
                                    class="btn mb-1 btn-secondary rounded-circle round-40 btn-sm d-inline-flex align-items-center justify-content-center"
                                    hx-get="/inventory/location/detail?create=True" hx-target="#htmx_content"
                                    hx-swap="afterend"

                            >
                                <i class="fs-5 ti ti-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row" id="locations-table">
                    {% with locations=locations, scroll=True %}
                        {% include 'inventory/location/location_table.html' %}
                    {% endwith %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
