{% block action %}
    <div class="modal" id="{{ 'action--'~view.prefix }}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">

                    <div class="bx-pull-right">
                        <button class="btn-close" onclick="hideModals()" aria-label="Close"></button>
                    </div>
                </div>
                <form class="was-validated"
                      hx-post="/base/action"
                      hx-ext="json-enc"
                      hx-include="this"
                      hx-target="#trash"
                      hx-vals='{
                "model": "{{ view.model.name }}",
                "action": "{{ view.action }}",
                "prefix": "{{ view.prefix }}",
                "method": "action_commit"
              }'
                >
                    <div class="modal-body text-center p-5">
                        <lord-icon
                                src="https://cdn.lordicon.com/ghhwiltn.json"
                                trigger="loop"
                                style="width:150px;height:150px">
                        </lord-icon>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    {% for field in view.line.fields if not field.type =='dict' %}
                                        {% if loop.length % 3 != 0 and loop.first %}
                                            <div class="row">
                                        {% endif %}
                                        {% if loop.index0 % 3 == 0 %}
                                            <div class="row">
                                        {% endif %}
                                    <div class="col" {% if field.hidden %} style="display: none" {% endif %}>
                                        <p style="margin-bottom: 0; margin-top: 1rem"
                                           class="sort text-uppercase text-muted text-start "
                                           for="{{ field.prefix~field.field_name }}">{{ field.title|capitalize }}:</p>
                                        {{ field.as_form()|safe }}

                                    </div>
                                    {% if loop.index % 3 == 0 %}
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" onclick="hideModals()" >Close
                                        </button>
                                        <button id="{{ 'submit_'~view.prefix }}" type="submit" class="btn btn-success">
                                            Save
                                        </button>

                                    </div>
                                </div>
                            </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        var modal = new bootstrap.Modal('#{{ 'action--'~view.prefix }}')
        modal.show()
    </script>
{% endblock %}
