{% block as_create %}

{% endblock %}
{% block button_view %}
    <script>
        hideModals()
    </script>
    <a href="#"
       hx-params="model,method,id,prefix,backdrop"
       hx-trigger="click"
       hx-target="#modal"
       hx-ext="json-enc"
       hx-post="/base/modal"
       hx-vals='{
"model": "{{ line.model.name }}",
"method": "get",
"id": "{{ line.id }}",
"prefix": "{{ line.prefix }}",
"backdrop": {{ backdrop }}
}'
       class="btn btn-soft-success">
        <i class="ri-file-fill h4"></i>
    </a>
{% endblock %}

{% block button_update %}
    <script>
        hideModals()
    </script>
    <button
            href="#"
            hx-params="model,method,id,prefix,backdrop"
            hx-trigger="click"
            hx-target="#modal"
            hx-ext="json-enc"
            hx-post="/base/modal"
            hx-vals='{
"model": "{{ line.model.name }}",
"method": "update",
"id": "{{ line.id }}",
"prefix": "{{ line.prefix }}",
"backdrop": {{ backdrop }}
}'
            class="btn btn-soft-primary">
        <i class="ri-file-edit-fill h4 "></i>
    </button>
{% endblock %}

{% block button_create %}
    <script>
        hideModals()
    </script>
    <a href="#"
       hx-params="model,method,prefix,backdrop"
       hx-trigger="click"
       hx-target="#modal"
       hx-ext="json-enc"
       hx-post="/base/modal"
       hx-vals='{
"model": "{{ line.model.name }}",
"method": "create",
{% if line.id %}"id": "{{ line.id }}", {% endif %}
"prefix": "{{ line.prefix }}",
"backdrop": {{ backdrop }}
}'
       class="btn btn-soft-secondary">
        <i class="ri-file-add-fill h4"></i>
    </a>
{% endblock %}

{% block button_delete %}
    <script>
        hideModals()
    </script>
    <a href="#"
       hx-params="model,method,id,prefix,target_id,backdrop"
       hx-trigger="click"
       hx-target="#modal"
       hx-ext="json-enc"
       hx-post="/base/modal"
       hx-vals='{
"model": "{{ line.model.name }}",
"method": "delete",
"id": "{{ line.id }}",
"prefix": "{{ line.prefix }}",
"target_id": "{{ target_id }}",
"backdrop": {{ backdrop }}
}'
       class="btn btn-soft-danger">
        <i class="ri-file-reduce-fill h4"></i>
    </a>
{% endblock %}

{% block button_actions %}
    <div class="dropdown">

        <button class="btn btn-soft-info" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="{{ "actions-" ~ line.prefix }}">
            <i class="ri-more-fill align-middle h4"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="{{ "actions-" ~'--'~ line.prefix }}">
            <li class="dropdown-item">
                {% for action_name, action_vals in line.actions.items() %}

                    <a
                            data-key="t-{{ action_name }}"
                            hx-include="#{{ line.prefix }}"
                            hx-trigger="click"
                            hx-ext="json-enc"
                            hx-post="/base/action"
                            hx-vals='{
                                "model": "{{ line.model.name }}",
                                "action": "{{ action_name }}",
                                "id": "{{ line.id }}",
                                "prefix": "{{ line.prefix }}"
                            }'
                            class="dropdown-item remove-item-btn">
                        <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> {{ action_name }}
                    </a>
                {% endfor %}
            </li>
        </ul>
    </div>
{% endblock %}

{% block as_form %}
    <tr>
        <th scope="row">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="checkAll" value="">
            </div>
        </th>
        {% for field in line.fields %}
            <td>{{ field.as_form()|safe }}</td>
        {% endfor %}
    </tr>
{% endblock %}

{% block as_view %}
    <tr>
        <th scope="row">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="checkAll" value="">
            </div>
        </th>
        {% for field in line.fields %}
            <td>{{ field.as_view()|safe }}</td>
        {% endfor %}
    </tr>
{% endblock %}

{% block button_backdrop %}
    <script>
        hideModals()
    </script>
    <a href="#"
       hx-params="model,method,id,prefix,target_id,backdrop"
       hx-trigger="click"
       hx-target="#modal"
       hx-ext="json-enc"
       hx-post="/base/modal?backdrop=true"
       hx-vals="{{ backdrop[1] if backdrop|length > 1 }}"
       class="btn btn-soft-warning">
        <i class="ri-arrow-go-back-fill h4"></i>
    </a>
{% endblock %}