{% block widget %}
    <div id="{{ 'table_' ~'--'~ cls.prefix }}"
         hx-post="/base/table"
         hx-ext="json-enc"
         hx-vals='{
        "model": "{{ cls.model.name }}",
        "prefix": "{{ cls.prefix }}"
     }'
         hx-trigger="change from:{{ '#filter_' ~'--'~ cls.prefix }} delay:500ms, load, update delay:500ms"
         hx-include="{{ '#filter_' ~'--'~ cls.prefix }}"
    >
        <div class="card htmx-indicator ">
            <table class="table">
                <thead class="text-muted table-light">
                <tr class="placeholder-lg placeholder-glow">
                    {% for i in range(8) %}
                        <th><span class="placeholder col-12"></span></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for i in range(8) %}
                    <tr class="placeholder-glow">
                        {% for i in range(8) %}
                            <td><span class="placeholder col-12"></span></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!--end card-->
    </div>
{% endblock %}

{% block as_view %}
    <div class="card">
        <div class="card-body">
            <div class="table-responsive " style="width: auto; min-height: 400px; white-space: nowrap;" data-show-columns="true">
                <table class="table table-hover table-striped" id="{{ 'table-' ~'--'~ view.prefix }}" style="vertical-align: middle;"
                >
                    <thead class="text-muted table-light">
                    <tr class="text-uppercase fs-13" style="text-align: center">
                        <th scope="col" >
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="{{ view.prefix ~'--'~ 'checkAll' }}"
                                       value="option">
                            </div>
                        </th>
                        {% for field in view.line.fields %}
                            <td data-bs-toggle="tooltip" data-bs-html="true" title="{{field.description or field.title}}">
                                {{ field.as_table_header()|safe }}
                            </td>
                        {% endfor %}
                        <th style="min-width: 14rem">Active</th>
                    </tr>
                    </thead>
                    <tbody id="{{ 'tbody-table' ~'--'~ view.prefix }}">
                        {% for line in view.lines %}
                            <tr id="{{ line.prefix }}"
                                class="mb-0 fw-semibold text-muted"



                            >
                                <th scope="row">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="{{ line.prefix ~ '--check' }}" value="">
                                    </div>
                                </th>
                                {% for field in line.fields %}
                                    <td class="text-center" style="padding-left: 2px; padding-right: 2px;">{{ field.as_view()|safe }}</td>
                                {% endfor %}
                                <td class="text-center">
                                    <div
                                        {% if loop.last and not line.is_inline %}
                                            hx-include="{{ '#filter_' ~'--'~ view.prefix }}"
                                            hx-post="/base/table"
                                            hx-ext="json-enc"
                                            hx-trigger="revealed" hx-swap="afterend" hx-select="#{{ 'tbody-table' ~'--'~ view.prefix }}>tr"
                                            hx-target="#{{ line.prefix }}"
                                            hx-vals='{
                                                "model": "{{ view.model.name }}",
                                                "{{ view.line.prefix ~'--'~ 'cursor'}}": "{{ line.lsn }}",
                                                "prefix": "{{ view.prefix }}"
                                            }'

                                        {% endif %}>
                                    </div>
                                <div>
                                    <ul class="list-inline text-center">
                                        <li class="list-inline-item view-btn" title="View">
                                            {{ line.as_button_view()|safe }}
                                        </li>
                                        <li class="list-inline-item edit" title="Edit">
                                            {{ line.as_button_update()|safe }}
                                        </li>
                                        <li class="list-inline-item" title="Remove">
                                            {{ line.as_button_delete(line.prefix)|safe }}
                                        </li>
                                        <li class="list-inline-item" title="Actions">
                                            {{ line.as_button_actions(line.id)|safe }}
                                        </li>
                                    </ul>
                                    </div>

                                </td>

                            </tr>

                        {% endfor %}

                    </tbody>
                </table>
                <!------Таблица----->
            </div>

        </div>
    </div>
{% endblock %}
{% block as_form %}
    <div class="card" style="min-height: 400px">
        <div class="card-body">
            <div class="table-responsive">
                <table class="invoice-table table table-borderless table-nowrap mb-0"  style="min-height: 400px">
                    <thead class="align-middle">
                    <tr class="table-active">
                        <th scope="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkAll"
                                       value="option">
                            </div>
                        </th>
                        {% for field in view.line.fields %}
                            <td class="text-capitalize text-muted">{{ field.as_table_header()|safe if field.field_name != 'id' }}</td>
                        {% endfor %}
                    </tr>

                    </thead>
                    <tbody id="newlink">
                        {% for line in view.lines %}
                            <tr id="{{ line.prefix }}" class="mb-0 fw-semibold text-muted">
                                <th scope="row" class="fit">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="checkAll" value="">
                                    </div>
                                </th>
                                {% for field in line.fields %}
                                    <td>{{ field.as_form()|safe }}</td>
                                {% endfor %}
                            </tr>

                        {% endfor %}

                    </tbody>
                    <tbody>
                    <tr>
                        <td>
                            <a href="#"
                               id="add-item"
                               hx-ext="json-enc"
                               hx-target="#newlink"
                               hx-swap="beforeend"
                               hx-params="model,prefix"
                               hx-post="/base/table/line"
                               hx-vals='{
                                "model": "{{ view.model.name }}",
                                "prefix": "{{ view.prefix ~'--'~ view.field_name }}"
                                }'
                               class="btn btn-soft-secondary fw-medium">
                                <i class="ri-add-fill me-1 align-bottom"></i> Add Item
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!--end table-->
            </div>
        </div>
    </div>
{% endblock %}

{% block badges %}
    <div class="d-flex flex-wrap gap-2">
        {% for line in view.lines %}
            <a href="#"
               hx-params="model, id, prefix, method"
               hx-trigger="click"
               hx-target="#modal"
               hx-ext="json-enc"
               hx-post="/base/modal"
               hx-vals='{
                "model": "{{ line.model.name }}",
                "method": "get",
                "id": "{{ line.id }}",
                "prefix": "{{ line.prefix }}"
                }'
               class="text-success d-inline-block edit-item-btn">
                <span class="badge bg-secondary">{{ line.display_title }}</span>
            </a>
        {% endfor %}
    </div>

{% endblock %}
