{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Orders</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Inventory</a></li>
                                    <li class="breadcrumb-item active">Orders</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->


                <div class="col-lg-12">
                    <div class="card" id="orderList">
                        <div class="card-header border-0">
                            <div class="row align-items-center gy-3">
                                <div class="col-sm">
                                    <h5 class="card-title mb-0">Order History</h5>
                                </div>
                                <div class="col-sm-auto">
                                    <div class="d-flex gap-1 flex-wrap">
                                        <button type="button" class="btn btn-secondary add-btn"
                                                data-bs-toggle="modal"
                                                id="create-btn"
                                                data-bs-target="#createOrderModal"><i
                                                class="ri-add-line align-bottom me-1"></i>
                                            Create Order
                                        </button>
                                        <button type="button" id="button" class="btn btn-success"><i
                                                class="ri-file-download-line align-bottom me-1"></i> Import
                                        </button>
                                        <button class="btn btn-soft-danger" id="remove-actions"
                                                onClick="deleteMultiple()"><i
                                                class="ri-delete-bin-2-line"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body border border-dashed border-end-0 border-start-0">
                            <div>
                                <div class="row g-3">
                                    <div class="col-xxl-3 col-sm-4">
                                        <div class="search-box">
                                            <input type="search"
                                                   name="search"
                                                   id="search"
                                                   value="{{ request.query_params.search }}"
                                                   class="form-control search"
                                                   placeholder="Search for order ID, customer, order status or something..."
                                            >
                                            <i class="ri-search-line search-icon"></i>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-xxl-2 col-sm-4">
                                        <div>
                                            <input
                                                    class="form-control"
                                                    type="date"
                                                    name="planned_date_from"
                                                    id="planned_date_from"
                                                    value="{% if request.query_params.planned_date_from %}{{ request.query_params.planned_date_from }} {% else %}{{ now }}{% endif %}">
                                        </div>
                                    </div>
                                    <div class="col-xxl-2 col-sm-4">
                                        <div>
                                            <input
                                                    class="form-control"
                                                    type="date"
                                                    name="planned_date_to"
                                                    id="planned_date_to"
                                                    value="{% if request.query_params.planned_date_to %}{{ request.query_params.planned_date_fromplanned_date_to }} {% else %}{{ now }}{% endif %}">
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-xxl-2 col-sm-4" hx-get="/bff/select"
                                         hx-vals='{
                                         "module": "inventory",
                                         "model":"order_type",
                                         "return_field_name": "order_type_id"
                                         }'
                                         hx-trigger="load">

                                    </div>
                                    <!--end col-->
                                    <div class="col-xxl-2 col-sm-4" hx-get="/bff/select"
                                         hx-vals='{
                                         "module": "basic",
                                         "model":"store",
                                         "return_field_name": "store_id"
                                         }'
                                         hx-trigger="load">

                                    </div>
                                    <!--end col-->
                                    <div class="col-xxl-1 col-sm-4">
                                        <div>
                                            <button type="button" class="btn btn-primary w-100"
                                                    onclick="SearchData();"><i
                                                    class="ri-equalizer-fill me-1 align-bottom"></i>
                                                Filters
                                            </button>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                        </div>

                        <div class="card-body pt-0" id="order-table">
                            <div>
                                <ul class="nav nav-tabs nav-tabs-custom nav-success mb-3" role="tablist">
                                    <li class="nav-item">
                                        <a hx-push-url="/inventory/order" hx-get="/inventory/order/table"
                                           hx-target="#table"
                                           hx-include="#orderList"
                                           class="nav-link {% if not request.query_params.get('status') %} active {% endif %} All py-3"
                                           data-bs-toggle="tab" id="All" href="#home1" role="tab"
                                           aria-selected="true">
                                            <i class="ri-store-2-fill me-1 align-bottom"></i> All Orders
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a hx-push-url="/inventory/order" hx-get="/inventory/order/table"
                                           hx-vals='{"status": "draft"}'
                                           hx-include="#orderList"
                                           hx-target="#table"
                                           class="nav-link {% if request.query_params.get('status') == 'draft' %} active {% endif %} py-3 Draft"
                                           data-bs-toggle="tab" id="Draft" href="#draft"
                                           role="tab" aria-selected="false">
                                            <i class="ri-draft-fill me-1 align-bottom"></i> Draft
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a hx-push-url="/inventory/order" hx-get="/inventory/order/table"
                                           hx-vals='{"status": "waiting"}'
                                           hx-include="#orderList"
                                           hx-target="#table"
                                           class="nav-link {% if request.query_params.get('status') == 'waiting' %} active {% endif %} py-3 Waiting"
                                           data-bs-toggle="tab" id="Waiting" href="#waiting" role="tab"
                                           aria-selected="false">
                                            <i class="ri-time-fill me-1 align-bottom"></i> Waiting
                                            <span class="badge bg-danger align-middle ms-1">5</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a hx-push-url="/inventory/order" hx-get="/inventory/order/table"
                                           hx-vals='{"status": "confirmed"}'
                                           hx-include="#orderList"
                                           hx-target="#table"
                                           class="nav-link {% if request.query_params.get('status') == 'confirmed' %} active {% endif %} py-3 Confirmed"
                                           data-bs-toggle="tab" id="Confirmed" href="#confirmed" role="tab"
                                           aria-selected="false">
                                            <i class="ri-task-fill me-1 align-bottom"></i> Confirmed
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a hx-push-url="/inventory/order" hx-get="/inventory/order/table"
                                           hx-vals='{"status": "assigned"}'
                                           hx-include="#orderList"
                                           hx-target="#table"
                                           class="nav-link {% if request.query_params.get('status') == 'assigned' %} active {% endif %} py-3 Assigned"
                                           data-bs-toggle="tab" id="Assigned" href="#assigned"
                                           role="tab" aria-selected="false">
                                            <i class="ri-creative-commons-by-fill me-1 align-bottom"></i> Assigned
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a hx-push-url="/inventory/order" hx-get="/inventory/order/table"
                                           hx-vals='{"status": "canceled"}'
                                           hx-include="#orderList"
                                           hx-target="#table"
                                           class="nav-link {% if request.query_params.get('status') == 'canceled' %} active {% endif %} py-3 Canceled"
                                           data-bs-toggle="tab" id="Canceled" href="#canceled"
                                           role="tab" aria-selected="false">
                                            <i class="ri-delete-back-2-fill me-1 align-bottom"></i> Canceled
                                        </a>
                                    </li>
                                </ul>
                                <!------Таблица----->
                                <div class="table-responsive table-card mb-1">
                                    <table class="table table-nowrap align-middle" id="orderTable">
                                        <thead class="text-muted table-light">
                                        <tr class="text-uppercase fs-13">
                                            <th scope="col" style="width: 25px;">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="checkAll"
                                                           value="option">
                                                </div>
                                            </th>
                                            <th class="sort" data-sort="number">Order Number</th>
                                            <th class="sort" data-sort="order_type">Order Type</th>
                                            <th class="sort" data-sort="created_at">Created</th>
                                            <th class="sort" data-sort="external_id">External ID</th>
                                            <th class="sort" data-sort="origin_number">Origin</th>
                                            <th class="sort" data-sort="store">Store</th>
                                            <th class="sort" data-sort="partner">Partner</th>
                                            <th class="sort" data-sort="planned_date">Planned</th>
                                            <th class="sort" data-sort="amount">Amount</th>
                                            <th class="sort" data-sort="status">Status</th>
                                            <th class="sort" data-sort="action">Action</th>
                                        </tr>
                                        </thead>

                                        <tbody class="list form-check-all"
                                               id="table"
                                               hx-get="/inventory/order/table"
                                               hx-trigger="change from:#orderList delay:500ms, load"
                                               hx-include="#orderList, #paginator"
                                        >

                                        </tbody>
                                    </table>

                                    <!------Таблица----->
                                </div>


                            <!--end modal -->
                        </div>
                    </div>

                </div>
                <!--end col-->

                <!--end row-->

            </div>
            <!-- container-fluid -->
            <div class="modal fade" id="createOrderModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <form class="tablelist-form" autocomplete="off">
                            <div class="modal-body text-center">
                                <lord-icon
                                        src="https://cdn.lordicon.com/ghhwiltn.json"
                                        trigger="hover"
                                        style="width:250px;height:250px">
                                </lord-icon>
                                <input type="hidden" id="id-field"/>
                                <div class="mb-3">
                                    <label for="productname-field" class="form-label">Store</label>
                                    <select class="form-control"
                                            type="text"
                                            data-trigger name="productname-field"
                                            hx-post="/basic/store"
                                    />
                                    <option value="">---Select Store ---</option>
                                    {% for store in stores %}
                                        <option value="{{ store.id }}">{{ store.title }}</option>
                                    {% endfor %}
                                    </select>
                                </div>

                                <div class="row gy-4 mb-3">
                                    <div class="col-md-6">
                                        <div>
                                            <label for="amount-field" class="form-label">Amount</label>
                                            <input type="text" id="amount-field" class="form-control"
                                                   placeholder="Total amount" required/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <label for="payment-field" class="form-label">Payment Method</label>
                                            <select class="form-control cho" data-trigger required
                                                    name="payment-method"
                                                    id="payment-field">
                                                <option value="">Payment Method</option>
                                                <option value="Mastercard">Mastercard</option>
                                                <option value="Visa">Visa</option>
                                                <option value="COD">COD</option>
                                                <option value="Paypal">Paypal</option>
                                            </select>
                                        </div>

                                    </div>

                                </div>

                            </div>
                            <div class="modal-footer">
                                <div class="hstack gap-2 justify-content-end">
                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close
                                    </button>
                                    <button type="submit" class="btn btn-primary" id="add-btn">Add Order</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade flip" id="deleteOrder" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body p-5 text-center">
                            <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                                       colors="primary:#405189,secondary:#f06548"
                                       style="width:90px;height:90px"></lord-icon>
                            <div class="mt-4 text-center">
                                <h4>You are about to delete a order ?</h4>
                                <p class="text-muted fs-15 mb-4">Deleting your order will remove all of your
                                    information
                                    from our database.</p>
                                <div class="hstack gap-2 justify-content-center remove">
                                    <button class="btn btn-link link-success fw-medium text-decoration-none"
                                            id="deleteRecord-close" data-bs-dismiss="modal"><i
                                            class="ri-close-line me-1 align-middle"></i> Close
                                    </button>
                                    <button class="btn btn-danger" id="delete-record">Yes, Delete It</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page-content -->
    <!-- end main content-->
{% endblock content %}