{% block content %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
                        <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Orders</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Inventory</a></li>
                                        <li class="breadcrumb-item active">Orders</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row" id="table" hx-get="/inventory/order/table" hx-trigger="load">
                        <img class="htmx-indicator" src="{{ url_for('static' ,path='images/layouts/horizontal.png') }}"
                             style="width: 100%">
                        <!--end col-->

                    </div>
                    <!--end row-->

                </div>
                <!-- container-fluid -->
            </div>
            </div>
            <!-- End Page-content -->
            <!-- end main content-->
{% endblock content %}