{% block as_create %}

{% endblock %}
{% block button_view %}
    <a href="#"
       hx-params="model,method,id,key,backdrop"
       hx-trigger="click"
       hx-target="#htmx_content"
       hx-ext="json-enc"
       hx-post="/base/modal"
       hx-swap="beforeend transition:true"
       hx-vals='{
"model": "{{ line.model_name }}",
"method": "get",
"id": "{{ line.id or "" }}",
"key": "{{ line.key }}"
}'
       class="btn btn-soft-success">
        <i class="ri-file-fill h4"></i>
    </a>
{% endblock %}

{% block button_save %}
    <button
            id="{{ 'submit-'~line.key }}"
            class="btn btn-success"
            hx-boost="true"
            hx-include="#{{ line.key }}"
            hx-post="/base/line"
            hx-ext="json-enc"
            hx-target="{% if line.type == 'new' %}#{{ line.key }}{% else %}this{% endif %}"
            hx-swap="{% if line.type == 'new' %}outerHTML{% else %}none{% endif %}"
            hx-vals='{
                {% if line.id %}"id": "{{ line.id }}",{% endif %}
                "model": "{{ line.model_name }}",
                "method": "{% if line.type == 'new' %}save_create{% else %}save{% endif %}",
                "key": "{{ line.key }}"
                }'
    >
        Save
    </button>
{% endblock %}

{% block button_update %}
    <script>
        //hideModals()
    </script>
    <button
            href="#"
            hx-params="model,method,id,key,backdrop"
            hx-trigger="click"
            hx-target="#htmx_content"
            hx-ext="json-enc"
            hx-swap="beforeend transition:true"
            hx-post="/base/modal"
            hx-vals='{
"model": "{{ line.model_name }}",
"method": "update",
"id": "{{ line.id }}",
"key": "{{ line.class_key }}"
}'
            class="btn btn-soft-primary">
        <i class="ri-file-edit-fill h4 "></i>
    </button>
{% endblock %}

{% block button_create %}
    <script>
        //hideModals()
    </script>
    <a href="#"
       hx-params="model,method,key,backdrop"
       hx-trigger="click"
       hx-target="#htmx_content"
       hx-ext="json-enc"
       hx-swap="beforeend transition:true"
       hx-post="/base/modal"
       hx-vals='{
"model": "{{ line.model_name }}",
"method": "create",
{% if line.id %}"id": "{{ line.id }}", {% endif %}
"key": "{{ line.class_key }}"
}'
       class="btn btn-soft-secondary">
        <i class="ri-file-add-fill h4"></i>
    </a>
{% endblock %}

{% block button_delete %}
    <script>
        //hideModals()
    </script>
    <a href="#"
       hx-params="model,method,id,key,target_id,backdrop"
       hx-trigger="click"
       hx-target="#htmx_content"
       hx-ext="json-enc"
       hx-swap="beforeend transition:true"
       hx-post="/base/line"
       hx-vals='{
"model": "{{ line.model_name }}",
"method": "delete",
"id": "{{ line.id or "" }}",
"key": "{{ line.key }}"
}'
       class="btn btn-soft-danger">
        <i class="ri-file-reduce-fill h4"></i>
    </a>
{% endblock %}

{% block button_actions %}


    <button class="btn btn-soft-info" type="button" data-bs-toggle="dropdown" aria-expanded="false"
            id="{{ "actions-" ~ line.key }}">
        <i class="ri-more-fill align-middle h4"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="{{ "actions-" ~'--'~ line.key }}">
        {% for action_name, action_vals in line.actions.items() %}
            <li class="dropdown-item">
                <a
                        data-bs-toggle="{{ action_vals.doc }}"
                        data-key="{{ action_vals.tkey }}"
                        hx-params="model,action,method,ids,key"
                        hx-trigger="click"
                        hx-ext="json-enc"
                        hx-target="#htmx_content"
                        hx-swap="beforeend transition:true"
                        hx-post="/base/action"
                        hx-vals='{
                                "model": "{{ line.model_name }}",
                                "action": "{{ action_name }}",
                                "method": "{% if action_vals.schema %}get{% else %}update{% endif %}",
                                "ids": ["{{ line.id }}"],
                                "key": "{{ line.key }}"
                            }'
                        class="dropdown-item remove-item-btn">
                    <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> {{ action_name }}
                </a>
            </li>
        {% endfor %}

    </ul>

{% endblock %}
{% block as_tr_header %}
    {% for field in line.fields|table(method=method) %}
        <td
                data-bs-toggle="tooltip"
                data-bs-html="true"
                title="{{ field.get.description or field.get.title }}">
            {{ field.get.title or field.field_name }}
        </td>
    {% endfor %}

{% endblock %}
{% block as_tr %}
{% autoescape false %}
<tr
        id="{{ line.key }}"
        class="mb-0 fw-semibold text-muted"
        ui_key="{{ line.ui_key }}"
        lsn="{{ line.lsn }}"
        hx-trigger="backend_update"
        hx-params="model,method,mode,id,key"
        hx-post="/base/line"
        hx-ext="json-enc"
        hx-swap="outerHTML transition:true"
        hx-target="#{{ line.key }}"
        hx-vals='{
                    "model": "{{ line.model_name }}",
                    "method": "{{ method.value }}",
                    "mode": "tr",
                    "key": "{{ line.class_key }}",
                    "id": "{{ line.id }}"
                    }'
>
    <th scope="row">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="{{ line.key ~ '--check' }}" value="">
        </div>
    </th>
    {% for field in line.fields|table(method=method) %}
        {% if method in ('update', 'create') %}
            <td class="text-center" style="padding-left: 2px; padding-right: 2px;">{{ field.as_update }}</td>
        {% else %}
            <td class="text-center" style="padding-left: 2px; padding-right: 2px;">{{ field.as_get }}</td>
        {% endif %}
    {% endfor %}
    <td class="text-center" style="padding-bottom: 0px;">
        <div
                {% if line.is_last and not line.is_rel %}
                    hx-include="{{ '#filter' ~'--'~ line.class_key }}"
                    hx-params="*"
                    hx-post="/base/table"
                    hx-ext="json-enc"
                    hx-trigger="revealed" hx-swap="beforeend" hx-select="#{{ 'tbody-table' ~'--'~ line.class_key }}>tr"
                    hx-target="#tbody-table--{{ line.class_key }}"
                    hx-vals='{
                            "model": "{{ line.model_name }}",
                            "{{ line.class_key ~'--filter--'~ 'cursor' }}": "{{ line.lsn }}",
                            "key": "{{ line.class_key }}"
                        }'
                {% endif %}>
        </div>
        <div>
            <ul class="list-inline text-center position-relative">
                {% if line.type == 'new' %}
                {% else %}
                    <li class="list-inline-item edit" title="Edit">
                        {{ line.button_update }}
                    </li>
                    <li class="list-inline-item" title="Remove">
                        {{ line.button_delete }}
                    </li>
                    <li class="list-inline-item" title="Actions">
                        {{ line.button_actions }}
                    </li>
                {% endif %}
            </ul>
        </div>
    </td>
</tr>
{% endautoescape %}
{% endblock %}
{% block as_div %}
    <div class="row formline was-validated"
         id="{{ line.key }}"
         lsn="{{ line.lsn }}"
         ui_key="{{ line.ui_key }}"
         hx-trigger="backend_update"
         hx-post="/base/line"
         hx-ext="json-enc"
         hx-swap="outerHTML transition:true"
         hx-target="#{{ line.key }}"
         hx-vals='{
                    "model": "{{ line.model_name }}",
                    "method": "{{ method.value }}",
                    "mode": "div",
                    "key": "{{ line.class_key }}",
                    "id": "{{ line.id }}"
                    }'
    >
    {% for field_name, field in line.fields if not field.is_reserved and field.type != 'list_rel' %}
        {% if loop.length % 3 != 0 and loop.first %}
            <div class="row">
        {% endif %}
        {% if loop.index0 % 3 == 0 %}
            <div class="row">
        {% endif %}
    <div class="col">
        {{ field.label|safe }}
        {% if method in ('create', 'update') %}
            {% if field.type == 'list_rel' %}
                {{ field.as_table_update|safe }}
            {% else %}
                {{ field.as_update|safe }}
            {% endif %}
        {% else %}
            {% if field.type == 'list_rel' %}
                {{ field.as_table_view|safe }}
            {% else %}
                {{ field.as_get|safe }}
            {% endif %}
        {% endif %}

    </div>
    {% if loop.index % 3 == 0 %}
        </div>
    {% endif %}
    {% endfor %}
    {% for field_name, field in line.fields if not field.is_reserved and field.type == 'list_rel' %}
        <div class="row">
        <div class="col">
        <p style="margin-bottom: 0; margin-top: 1rem"
           class="sort text-uppercase text-muted text-start"
           for="{{ field.key }}">{{ field.get.title|capitalize }}:</p>
        {% if method in ('create', 'update') %}
            {% if field.type == 'list_rel' %}
                {{ field.as_table_update|safe }}
            {% else %}
                {{ field.as_update|safe }}
            {% endif %}
        {% else %}
            {% if field.type == 'list_rel' %}
                {{ field.as_table_get|safe }}
            {% else %}
                {{ field.as_get|safe }}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
{% block as_item %}
{% autoescape false %}
<a href="{{ line.domain_name ~'/'~ line.model_name }}"
   class="dropdown-item notify-item py-2" style="display: block;">
    <div class="d-flex">
        <div class="flex-grow-1">
            <h6 class="m-0">{{ line.display_name }}</h6>
            <span class="fs-11 mb-0 text-muted">Manager</span>
        </div>
    </div>
</a>
{% endautoescape %}
{% endblock %}
{% block as_card %}
{% autoescape false %}
<div class="card" id="{{ line.key }}" ui_key="{{ line.ui_key }}">
    <div class="card-header" style="padding-bottom: 0px;">
        <h5 style="display: block;">{{ line.display_title }}</h5>
    </div>
    <div class="card-body text-muted">
        <div class="row">
            {% if line.vars.button_view %}
            <div class="col">
                <button
                        name="{{ line.key }}"
                        type="button"
                        ws-send
                        hx-ext="json-enc"
                        hx-vals='{
                            "model": "{{ line.model_name }}",
                            "method": "get",
                            "id": "{{ line.id or "" }}",
                            "key": "{{ line.key }}",
                            "class_key": "{{ line.class_key }}"
                        }'
                        value="{{ line.id }}" class="btn btn-light col-12">View
                </button>
            </div>
            {% endif  %}
            {% if line.vars.button_update%}
            <div class="col">
                <button
                        type="button"
                        name="{{ line.key }}"
                        type="button"
                        ws-send
                        hx-ext="json-enc"
                        hx-vals='{
                            "model": "{{ line.model_name }}",
                            "method": "update",
                            "id": "{{ line.id or "" }}",
                            "key": "{{ line.key }}",
                            "class_key": "{{ line.class_key }}"
                        }'
                        value="{{ line.id }}" class="btn btn-secondary col-12">Process
                </button>
            </div>
        {% endif  %}
        </div>
    </div>
</div>
{% endautoescape %}
{% endblock %}

