{% block modal %}
    <div class="modal" id="{{ 'modal_'~line.class_key }}" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-right fadeInRight">
    <div class="modal-content">
    <div class="modal-header">

        <div class="col-6">
            <h5 class="modal-title">
                {{ method|capitalize }} {{ line.model_name|capitalize }}
                <span>
                    {% if method in ('create', 'update') %}
                        {{ line.button_view|safe }}
                    {% else %}
                        {{ line.button_update|safe }}
                    {% endif %}
                        </span>
                <span>
                            {{ line.button_delete|safe }}
                        </span>

            </h5>
        </div>

        <div class="bx-pull-right">
            <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>
    </div>
    <div class="was-validated" id="{{ 'modal_body'~ line.class_key }}">
        <div class="modal-body text-center p-5">
            <lord-icon
                    src="https://cdn.lordicon.com/ghhwiltn.json"
                    trigger="loop"
                    style="width:150px;height:150px">
            </lord-icon>

            <div class="row">
                {% for field_name, field in line.fields if not field.is_reserved and field.type != 'list_rel' %}
                    {% if loop.length % 3 != 0 and loop.first %}
                        <div class="row">
                    {% endif %}
                    {% if loop.index0 % 3 == 0 %}
                        <div class="row">
                    {% endif %}
                <div class="col">
                    {{ field.label|safe }}
                    {% if method in ('create', 'update') %}
                        {% if field.type == 'list_rel' %}
                            {{ field.as_table_form|safe }}
                        {% else %}
                            {{ field.as_form|safe }}
                        {% endif %}
                    {% else %}
                        {% if field.type == 'list_rel' %}
                            {{ field.as_table_view|safe }}
                        {% else %}
                            {{ field.as_view|safe }}
                        {% endif %}
                    {% endif %}

                </div>
                {% if loop.index % 3 == 0 %}
                    </div>
                {% endif %}
                {% endfor %}
                {% for field_name, field in line.fields if not field.is_reserved and field.type == 'list_rel' %}
                    <div class="row">
                    <div class="col">
                    <p style="margin-bottom: 0; margin-top: 1rem"
                       class="sort text-uppercase text-muted text-start"
                       for="{{ field.key }}">{{ field.get.title|capitalize }}:</p>
                    {% if method in ('create', 'update') %}
                        {% if field.type == 'list_rel' %}
                            {{ field.as_table_form|safe }}
                        {% else %}
                            {{ field.as_form|safe }}
                        {% endif %}
                    {% else %}
                        {% if field.type == 'list_rel' %}
                            {{ field.as_table|safe }}
                        {% else %}
                            {{ field.as_view|safe }}
                        {% endif %}
                    {% endif %}
                {% endfor %}

                </div></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                    </button>
                    {% if method in ('create', 'update') %}
                        <button
                                id="{{ 'submit'~line.key }}"
                                class="btn btn-success"
                                hx-boost="true"
                                hx-include="#{{ 'modal_body'~ line.class_key  }}"
                                hx-post="/base/modal"
                                hx-ext="json-enc"
                                hx-target="#{{ 'modal_body'~ line.class_key }}"
                                hx-select="#{{ 'modal_body'~ line.class_key }}"
                                hx-swap="outerHTML transition: true"
                                hx-vals='{
                                    {% if line.id %}"id": "{{ line.id }}",{% endif %}
                                    "model": "{{ line.model_name }}",
                                    "method": "{{ method.value }}",
                                    "key": "{{ line.key }}",
                                    "class_key": "{{ line.class_key }}"
                                    }'
                        >
                            Save
                        </button>
                    {% endif %}

                </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        var modal = new bootstrap.Modal('#{{ 'modal_'~line.class_key }}')
        modal.show()
    </script>
{% endblock %}

{% block delete %}
    <div class="modal" id="{{ 'modal_'~line.key }}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center p-5">
                    <lord-icon
                            src="https://cdn.lordicon.com/drxwpfop.json"
                            trigger="loop"
                            style="width:150px;height:150px">
                    </lord-icon>

                    <div class="mt-4">
                        <h4 class="mb-3" style="padding-bottom: 0">Are you sure you want to
                            delete {{ line.model_name|capitalize }} -> {{ line.display_title }}</h4>
                        <p class="text-muted mb-1 text-center" style="padding-top: 0"> With id {{ line.id }} </p>
                        <p class="text-muted mb-10"> The record will be permanently deleted, did you really think? </p>
                        <div class="hstack gap-2 justify-content-center">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                            <button type="button"
                                    hx-trigger="click"
                                    hx-post="/base/modal"
                                    hx-ext="json-enc"
                                    hx-vals='{
                                "model": "{{ line.model_name }}",
                                "method": "delete",
                                "id": "{{ line.id }}",
                                "key": "{{ line.key }}",
                                "delete_id": "{{ line.id }}",
                                "class_key": "{{ line.class_key }}"

                            }'
                                    {% if target_id %}
                                    hx-target="#{{ target_id }}"
                                    hx-swap="delete"
                                    {% else %}
                                    hx-swap="none"
                                    {% endif %}
                                    data-bs-dismiss="modal"
                                    class="btn btn-danger">Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <script>
        var modal = new bootstrap.Modal('#{{ 'modal_'~line.key }}')
        modal.show()
    </script>
{% endblock %}
