{% block as_form %}
    <div class="row">
    <p style="border-top-width: 10px; margin-top: 10px;margin-bottom: 0px;" class="text-muted text-uppercase text-start">{{ field.title|capitalize}}:</p>
    </div>
    <div
            class="row"
            hx-ext="json-enc"
            hx-post="/bff/select"
            hx-vals='{
                    "module": "{{ field.module }}",
                    "model": "{{ field.model }}",
                    "value": "{{ field.val.id if field.val else None }}",
                    "prefix": "{{ model.update.prefix }}",
                    "name": "{{ field.model }}",
                    "required": "{{ field.required }}"
                 }'
            hx-trigger="load"
    >
    </div>
{% endblock %}
{% block as_view %}
{{ field.val.english_name or field.val.name or field.val}}
{% endblock %}
{% block as_table %}
{{ field.val if field.val else '' }}
{% endblock %}