{% block as_form %}
    <div>
    <div class="form-check form-switch mb-3">
        <label class="form-check-label text-start"
               for="{{ field.prefix }}{{ field.field_name }}">{{ field.title }}</label>
        <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="{{ field.prefix }}{{ field.field_name }}"
                name="{{ field.prefix }}{{ field.field_name }}"
                {% if field.val == True %} checked {% endif %}
        >
    </div>
    </div>
{% endblock %}
{% block as_view %}
<div>
<p class="text-muted text-uppercase fw-semibold text-start">{{ field.title }}</p>
    <div class="form-check form-switch mb-3">
        <label class="form-check-label text-start"
               for="{{ field.prefix }}{{ field.field_name }}">{{ field.title }}</label>
        <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                disabled
                id="{{ field.prefix }}{{ field.field_name }}"
                name="{{ field.prefix }}{{ field.field_name }}"
                {% if field.val == True %} checked {% endif %}
        >
    </div>
    </div>
{% endblock %}
{% block as_table %}
<td class="{{ field.field_name }}">{{ field.val if field.val else '' }}</td>
{% endblock %}