{% block as_form %}
    <select
            name="{{ field.prefix }}{{ field.field_name }}"
            class="form-select mb-3 form-control"
            aria-label="Default select example"
            style="padding-right: 1rem; padding-left: 1rem"
    >
        {% for s in field.enums %}
            <option value="{{ s.value }}"> {{ s.name }} </option>
        {% endfor %}
    </select>
{% endblock %}
{% block as_view %}

        <h5 class="fs-3 mb-0 text-start">{{ field.val.english_name or field.val.name or field.val}}</h5>

{% endblock %}
{% block as_table %}
<td class="{{ field.field_name }}">{{ field.val if field.val else '' }}</td>
{% endblock %}