{% block as_view %}
    {% set modal_id = 'modal-' + field.prefix %}
    <div class="text-start">
<h5><a href="#" class="text-danger" data-bs-toggle="modal" hx-trigger="click"
                                            data-bs-target="#{{ modal_id }}"
                                            hx-target="#{{ modal_id }}" hx-swap="innerHTML" hx-params="none"
                                            hx-get="/base/modal-view?module={{ field.module }}&model={{ field.model }}&id={{ field.val.id }}"><i
                class="ri-links-fill fs-6"> </i> {{ field.val.title }}</a></h5></div>
{% endblock %}
{% block as_table %}
    <td class="{{ field.field_name }}">{{ field.val if field.val else '' }}</td>
{% endblock %}
{% block as_form %}
    <div class="table-responsive">

        <table class="invoice-table table table-borderless table-nowrap mb-0">
            <thead class="align-middle">
            <tr class="table-active">
                <th scope="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="checkAll"
                               value="option">
                    </div>
                </th>
                {% for _field in field.line.fields %}
                    {{ _field.as_table_header()|safe }}
                {% endfor %}
            </tr>
            </thead>
            <tbody id="newlink">

            {% for line in field.lines %}

                <tr>
                    <th scope="row">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="checkAll" value="">
                        </div>
                    </th>
                    {% for line_field in line.fields %}
                        <td>{{ line_field.as_form()|safe }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}

            </tbody>
            <tbody>
            <tr>
                <td>
                    <a href="javascript:new_link()" id="add-item" class="btn btn-soft-secondary fw-medium"><i
                            class="ri-add-fill me-1 align-bottom"></i> Add Item</a>
                </td>
            </tr>
            </tbody>
        </table>
        <!--end table-->
    </div>
{% endblock %}