{% block as_form %}
    <div class="row">
        <p style="border-top-width: 10px; margin-top: 10px;margin-bottom: 0px;" class="text-muted text-uppercase text-start">{{ field.title|capitalize}}:</p>
    </div>
    <div class="row">
    <select class="form-control is-valid"
            id="{{ field.prefix ~ field.field_name }}"
            name="{{ field.prefix ~ field.field_name }}"
            {% if field.required %} required {% endif %}
            data-choices
    >
                {% if field.val %}
                    <option value="{{ field.val }}" selected></option>
                {% endif %}
    </select>
    </div>
    <script>
        (async function () {
            let element = document.getElementById("{{field.prefix ~ field.field_name }}");
            let choices = new Choices(element, {
                placeholder: true,
                placeholderValue: "Enter {{ field.title }}",
                removeItemButton: true
            });
            function check_valid(event) {
                if (element.required) {
                    if (event){
                        if (event.type === 'choice') {
                            if (event.detail.choice.value) {
                                choices.containerInner.element.classList.remove('is-invalid');
                                choices.containerInner.element.classList.add('is-valid');
                            }
                        } else if (event.type === 'removeItem') {
                            if (event.detail.value) {
                                choices.containerInner.element.classList.add('is-invalid');
                                choices.containerInner.element.classList.remove('is-valid');
                            }
                        }

                    } else {
                        choices.containerInner.element.classList.remove('is-invalid');
                        choices.containerInner.element.classList.add('is-valid');
                    }
                } else {
                    choices.containerInner.element.classList.remove('is-invalid');
                    choices.containerInner.element.classList.add('is-valid');
                }
            }
            check_valid()
            async function getValues() {
                var id__in = ''
                let value = await choices.getValue();

                try {
                    if (!value) {
                        return []
                    } else {
                        id__in = value.value
                    }

                    const items = await fetch('/bff/get_by_ids?module={{ field.module }}&model={{ field.model }}&id__in=' + encodeURIComponent(id__in));
                    const results = await items.json();
                    if (0 === results.length) { // Handle error from result, for example.
                        return []
                    }
                    return results;
                } catch (err) {
                    console.error(err);
                    return []
                }
            }

            let init_values = await getValues()
            choices.removeActiveItems()
            choices.clearChoices()
            choices.setValue(init_values)
            element.addEventListener('search', async e => {
                element.focus()
                let value = e.detail.value;
                console.log(value);
                choices.clearChoices()// Test!
                choices.setChoices(async () => {
                    try {
                        const items = await fetch('/bff/search?module={{ field.module }}&model={{ field.model }}&query=' + encodeURIComponent(value));
                        const results = await items.json();
                        if (0 === results.length) { // Handle error from result, for example.
                            throw 'Empty!';
                        }
                        return results;
                    } catch (err) {
                        console.error(err);
                    }
                }).then(() => {
                    choices.input.element.focus()
                });

            });

            check_valid()
            element.addEventListener('choice', function (event) {
                console.log('choice')
                check_valid(event)
            });
            element.addEventListener('removeItem', function (event) {
                console.log('choice')
                check_valid(event)
            });
        })();
    </script>
{% endblock %}
{% block as_view %}
    <div>
        <p class="text-muted mb-2 text-uppercase fw-semibold">{{ field.title }}</p>
        <h5 class="fs-3 mb-0">{{ field.val.english_name or field.val.name or field.val }}</h5>
    </div>
{% endblock %}
{% block as_table %}
<td class="{{ field.field_name }}">{{ field.val if field.val else '' }}</td>
{% endblock %}