{% block as_view %}
    {% set modal_id = 'modal-' + field.prefix %}
    <div class="text-start">
<h5><a href="#" class="text-danger" data-bs-toggle="modal" hx-trigger="click"
                                            data-bs-target="#{{ modal_id }}"
                                            hx-target="#{{ modal_id }}" hx-swap="innerHTML" hx-params="none"
                                            hx-get="/base/modal-view?module={{ field.module }}&model={{ field.model }}&id={{ field.val.id }}"><i
                class="ri-links-fill fs-6"> </i> {{ field.val.title }}</a></h5></div>
{% endblock %}
{% block as_table %}
    <td class="{{ field.field_name }}">{{ field.val if field.val else '' }}</td>
{% endblock %}
{% block as_form %}
    {{ field.as_table_form()|safe }}
{% endblock %}