{% block as_form %}
    <input
            type="number"
            class="form-control"
            name="{{ field.pefix ~ field.field_name }}"
            placeholder="Enter {{ field.title }}"
            value="{{ field.val.national_number }}"
    >
{% endblock %}
{% block as_view %}
        <h5 class="fs-3 mb-0 text-start">{{ field.val.international or field.val.name or field.val}}</h5>
{% endblock %}
{% block as_table %}
<td class="{{ field.field_name }}">{{ field.val if field.val else '' }}</td>
{% endblock %}