{% block as_a %}
<a
   {% if url %}
       href="{{ url }}?{{ field.field_name }}={{ field.val }}"
    {% else %}
        href="#"
        hx-ext="json-enc"
        hx-post="/base/modal/{{ field.model_name }}/{{ field.val }}"
    {% endif %}
   id="{{ field.field_name }}"
   hx-trigger="click"
   hx-push-url="false"
   model-name="{{ model or field.model_name }}"
   hx-target="#htmx_content"
   hx-swap="beforeend transition:true"
   class="uuid-get text-danger">
    {{ field.val }}</a>
{% endblock %}