{% block get %}
    <a href="#"
       id="{{ field.key~'_link' }}"
       hx-trigger="click"
       hx-get="/base/field/{{ field.model_name }}/{{ field.cls.p.id }}/{{ field._field_name }}"
       hx-target="#{{ field.key }}"
       hx-swap="outerHTML">
        <iconify-icon icon="majesticons:edit-pen-2" class="fs-6"></iconify-icon>
    </a>
{% endblock %}
{% block update %}
    <a href="#"
       id="{{ field.key~'_link' }}"
       hx-trigger="click"
       hx-put="/base/field/{{ field.model_name }}/{{ field.cls.p.id }}/{{ field.field_name }}"
       hx-include="closest div"
       hx-target="#{{ field.key }}"
       hx-swap="none"
       hx-ext="json-enc">
        <iconify-icon icon="solar:diskette-bold" class="fs-6"></iconify-icon>
    </a>
{% endblock %}