{% block as_update %}
        <input
                class="bool form-check-input"
                type="checkbox"
                role="switch"
                id="{{ field.key }}"
                name="{{ field.key }}"
                {% if field.val == True %} checked {% endif %}
        >
{% endblock %}
{% block as_get %}
        <input
                class="bool form-check-input"
                type="checkbox"
                role="switch"
                disabled
                id="{{ field.key }}"
                name="{{ field.key }}"
                {% if field.val == True %} checked {% endif %}
        >
{% endblock %}
{% block as_table %}
{{ field.val if field.val else '' }}
{% endblock %}