{% block as_update %}
        <input
                class="dict-update form-control"
                {% if field.required %} required {% endif %}
                name="{{ field.field_name }}"
                {% if field.update.hidden %}hidden{% endif %}
                placeholder="Enter {{ field.title }}"
                value="{{ field.val if field.val else "" }}"
        >
{% endblock %}
{% block as_create %}
        <input
                class="dict-create form-control"
                {% if field.required %} required {% endif %}
                name="{{ field.field_name }}"
                {% if field.create.hidden %}hidden{% endif %}
                placeholder="Enter {{ field.title }}"
                value="{{ field.val if field.val else "" }}"
        >
{% endblock %}
{% block as_get %}
    <div class="fict-get">
        {{ field.val.english_name or field.val.name or field.val }}
    </div>>
{% endblock %}

