{% block as_update %}
    <input
            class="id form-control"
            {% if field.update.required %} required {% endif %}
            {% if field.update.readonly %} readonly {% endif %}
            name="{{ field.key }}"
            placeholder="Enter {{ field.title }}"
            value="{{ field.val if field.val else "" }}"
    >
{% endblock %}
{% block as_get %}
    <a class="text-danger form-control"
       href="#"
       hx-params="model,method,id,key"
       hx-trigger="click"
       hx-target="#htmx_content"
       hx-swap="beforeend transition:true"
       hx-ext="json-enc"
       disabled="1"
       hx-post="/base/modal"
       hx-vals='{
"model": "{{ field.model_name }}",
"method": "get",
"id": "{{ field.line.id }}",
"key": "{{ field.key }}"
}'
    > {{ field.line.display_title }}
    </a>


{% endblock %}

