{% block as_update %}
    <input

            {% if field.update.required %} required {% endif %}
           {% if field.update.readonly %}
                style="pointer-events: none;"
                class="id form-control disabled"
                readonly
            {% else %}
                class="id form-control is-valid"
            {% endif %}
            name="{{ field.key }}"
            value="{{ field.val if field.val else "" }}"
    >
{% endblock %}
{% block as_create %}
    <input

            {% if field.update.required %} required {% endif %}
           {% if field.update.readonly %}
                style="pointer-events: none;"
                class="id form-control disabled"
                readonly
            {% else %}
                class="id form-control is-valid"
            {% endif %}
            name="{{ field.key }}"
            value="{{ field.val if field.val else "" }}"
    >
{% endblock %}
{% block as_get %}
    <a class="text-danger form-control disabled"
       data-bs-placement="bottom"
       data-bs-toggle="tooltip"
       title="Object Link"
       href="#"
       hx-params="model,method,id,key"
       hx-trigger="click"
       hx-target="#htmx_content"
       hx-swap="beforeend transition:true"
       hx-ext="json-enc"
       disabled
       hx-post="/base/modal"
       hx-vals='{
"model": "{{ field.model_name }}",
"method": "get",
"id": "{{ field.line.id }}",
"key": "{{ field.key }}"
}'
    > {{ field.line.display_title }}
    </a>


{% endblock %}

