{% block as_update %}
    <input

            {% if field.update.required %} required {% endif %}
           {% if field.update.readonly %}
                style="pointer-events: none;"
                class="id-update form-control disabled"
                readonly
            {% else %}
                class="id form-control is-valid"
            {% endif %}
            name="{{ field.field_name }}"
            value="{{ field.val if field.val else "" }}"
    >
{% endblock %}
{% block as_create %}
    <input

            {% if field.create.required %} required {% endif %}
            {% if field.create.readonly %}
                                           style="pointer-events: none;"
                                           class="id-create form-control disabled"
                                           readonly
            {% else %}
                                           class="id form-control is-valid"
            {% endif %}
                                           name="{{ field.field_name }}"
                                           value="{{ field.val if field.val else "" }}"
    >
{% endblock %}
{% block as_get %}
    <a class="id-get text-danger form-control disabled"
       data-bs-placement="bottom"
       data-bs-toggle="tooltip"
       title="Object Link"
       href="/base/modal/{{ field.model_name }}/{{ field.cls.p.id }}"
       hx-trigger="click"
       hx-target="#htmx_content"
       hx-swap="beforeend transition:true"
       disabled
    > {{ field.cls.p.display_title }}
    </a>


{% endblock %}

