{% block as_update %}
    <input
            type="number"
            name="{{ field.key }}"
           {% if field.update.readonly %}
            readonly
                style="pointer-events: none;"
                class="int form-control disabled"
            {% else %}
                class="int form-control is-valid"
            {% endif %}
            placeholder="Enter {{ field.title }}"
            {% if field.is_required %} required {% endif %}
            value="{{ field.val }}"
            style="padding-right: 1rem; padding-left: 1rem"
    >
{% endblock %}
{% block as_get %}
        <input  type="text"
                    class="form-control"
                    {% if field.required %} required {% endif %}
                    disabled
                    name="{{ field.key }}"
                    placeholder="Enter {{ field.title }}"
                    value="{{ field.val.english_name or field.val.name or field.val}}"
            >
{% endblock %}