{% block as_update %}
    <select id="{{ field.key }}"
            display-title="{{ field.update.title }}"
            title="{{ field.update.description }}"
            {% if field.update.readonly %} readonly='1' {% endif %}
            name="{{ field.key }}"
            {% if field.update.required %} required {% endif %}
            filter="{{ field.update.filter }}"
            model-name="{{ field.model_name }}"
            data-choices multiple
    >
        {% for i in field.enums %}
            <option value="{{ i.value }}"{% if field.val %}{% if i.value in field.val %} selected
            {% endif %}{% endif %}> {{ i.name }}</option>
        {% endfor %}
    </select>
    <script>
new ChoiceHandler('{{ field.key }}', 'update')
    </script>
{% endblock %}
{% block as_create %}
    <select id="{{ field.key }}"
            display-title="{{ field.create.title }}"
            title="{{ field.create.description }}"
            {% if field.create.readonly %} readonly='1' {% endif %}
            name="{{ field.key }}"
            {% if field.create.required %} required {% endif %}
            filter="{{ field.create.filter }}"
            model-name="{{ field.model_name }}"
            data-choices multiple
    >
        {% for i in field.enums %}
            <option value="{{ i.value }}"{% if field.val %}{% if i.value in field.val %} selected
            {% endif %}{% endif %}> {{ i.name }}</option>
        {% endfor %}
    </select>
    <script>
new ChoiceHandler('{{ field.key }}', 'create')
    </script>
{% endblock %}
{% block as_get %}
    <select id="{{ field.key }}"
            display-title="{{ field.update.title }}"
            title="{{ field.update.description }}"
            {% if field.update.readonly %} readonly='1' {% endif %}
            name="{{ field.key }}"
            {% if field.update.required %} required {% endif %}
            filter="{{ field.update.filter }}"
            model-name="{{ field.model_name }}"
            multiple>
        {% for i in field.enums %}
            <option value="{{ i.value }}"{% if field.val %}{% if i.value in field.val %} selected
            {% endif %}{% endif %}> {{ i.name }}</option>
        {% endfor %}
    </select>
    <script>
new ChoiceHandler('{{ field.key }}', 'get')
    </script>
{% endblock %}

{% block as_table_header %}
    {{ field.title }}
{% endblock %}

{% block as_table %}
    {{ field.val if field.val else '' }}
{% endblock %}
