{% block as_update %}
    <input
            name="{{ field.field_name }}"
            id="{{ field.field_name }}"
            class="list-rel-update form-control"
            {% if field.update.readonly %}readonly="1" {% endif %}
            model-name="{{ field.model_name }}"
            title="{{ field.update.description }}"
            display-title="{{ field.update.title }}"
            filter="{{ field.update.filter }}"
            {% if field.is_filter %} is-filter="1"{% endif %}
            data-choices
            data-choices-limit="Required Limit"
            data-choices-removeItem
            value="{% if field.val %}{{ ','.join(field.val) }}{% endif %}"
    />
{% endblock %}
{% block as_create %}
    <input
            name="{{ field.field_name }}"
            id="{{ field.field_name }}"
            class="list-rel-create form-control"
            {% if field.create.readonly %}readonly="1" {% endif %}
            model-name="{{ field.model_name }}"
            title="{{ field.create.description }}"
            display-title="{{ field.create.title }}"
            filter="{{ field.create.filter }}"
            {% if field.is_filter %} is-filter="1"{% endif %}
            data-choices
            data-choices-limit="Required Limit"
            data-choices-removeItem
            value="{% if field.val %}{{ ','.join(field.val) }}{% endif %}"
    />
{% endblock %}
{% block as_get %}
    <input
            name="{{ field.field_name }}"
            id="{{ field.field_name }}"
            class="list-rel-get form-control" data-choices data-choices-text-disabled-true
            value="

               {% for val in field.val %}
                {{ val.title or val.id }}
                {% if not loop.last %}
                ,
                {% endif %}
               {% endfor %}
                "
    />
{% endblock %}


{% block as_table_update %}
    {{ field.as_table_update|safe }}
{% endblock %}
{% block as_table_create %}
    {{ field.as_table_create|safe }}
{% endblock %}
{% block as_table_view %}
    {{ field.as_table_get|safe }}
{% endblock %}