{% block as_update %}
    <select class="list-uuid-update form-control text-center"
            id="{{ field.field_name }}"
            {% if field.update.required and not field.is_filter %} required {% endif %}
            {% if field.update.readonly %} readonly="1" {% endif %}
            name="{{ field.field_name }}"
            filter="{{ field.update.filter }}"
            {% if field.is_filter %} is-filter="1"{% endif %}
            model-name="{{ field.model_name }}"
            title="{{ field.update.description }}"
            display-title="{{ field.update.title }}"
            data-choices multiple>
        {% if field.val %}
            {% for val in field.val %}
                <option value="{{ val }}" selected></option>
            {% endfor %}
        {% endif %}
    </select>
{% endblock %}
{% block as_create %}
    <select class="list-uuid-create form-control is-valid text-center"
            id="{{ field.field_name }}"
            {% if field.create.required and not field.is_filter %} required {% endif %}
            {% if field.create.readonly %} readonly="1" {% endif %}
            name="{{ field.field_name }}"
            filter="{{ field.create.filter }}"
            {% if field.is_filter %} is-filter="1"{% endif %}
            model-name="{{ field.model_name }}"
            title="{{ field.create.description }}"
            display-title="{{ field.create.title }}"
            data-choices multiple>
        {% if field.val %}
            {% for val in field.val %}
                <option value="{{ val }}" selected></option>
            {% endfor %}
        {% endif %}
    </select>
{% endblock %}

{% block as_get %}
        <div  model-name="{{ field.model_name }}" class="list-uuid-get text-start text-center form-control"  id="{{ field.field_name }}">
            {% if field.val %}
                {{ ','.join(field.val) }}
            {% endif %}
        </div>
{% endblock %}