{% block as_update %}
    <input
            name="{{ field.field_name }}" id="{{ field.field_name }}"
            class="list-str-update form-control"
            data-choices data-choices-limit="Required Limit"
            data-choices-removeItem
           value="{% if field.val %}{{ ','.join(field.val) }}{% endif %}"
    />
{% endblock %}
{% block as_create %}
    <input
            name="{{ field.field_name }}" id="{{ field.field_name }}"
            class="list-str form-control"
            data-choices data-choices-limit="Required Limit"
            data-choices-removeItem
           value="{% if field.val %}{{ ','.join(field.val) }}{% endif %}"
    />
{% endblock %}
{% block as_get %}
    <input
            name="{{ field.field_name }}" id="{{ field.field_name }}"
            class="list-str-create form-control"
            data-choices data-choices-limit="Required Limit"
            data-choices-removeItem
            disabled
           value="{% if field.val %}{{ ','.join(field.val) }}{% endif %}"
    />
{% endblock %}

{% block as_table_header %}
    {{ field.title }}
{% endblock %}

{% block as_table %}
    {{ field.val if field.val else '' }}
{% endblock %}
