{% block as_update %}
    <select class="list-uuid form-control text-center"
            id="{{ field.key }}"
            {% if field.update.required and not field.is_filter %} required {% endif %}
            {% if field.update.readonly %} readonly="1" {% endif %}
            name="{{ field.key }}"
            filter="{{ field.update.filter }}"
            {% if field.is_filter %} is-filter="1"{% endif %}
            model-name="{{ field.model_name }}"
            title="{{ field.update.description }}"
            display-title="{{ field.update.title }}"
            data-choices multiple>
        {% if field.val %}
            {% for val in field.val %}
                <option value="{{ val }}" selected></option>
            {% endfor %}
        {% endif %}
    </select>
        <script>
    new ChoiceHandler('{{ field.key }}', 'create')
    </script>

{% endblock %}
{% block as_create %}
    <select class="list-uuid form-control is-valid text-center"
            id="{{ field.key }}"
            {% if field.create.required and not field.is_filter %} required {% endif %}
            {% if field.create.readonly %} readonly="1" {% endif %}
            name="{{ field.key }}"
            filter="{{ field.create.filter }}"
            {% if field.is_filter %} is-filter="1"{% endif %}
            model-name="{{ field.model_name }}"
            title="{{ field.create.description }}"
            display-title="{{ field.create.title }}"
            data-choices multiple>
        {% if field.val %}
            {% for val in field.val %}
                <option value="{{ val }}" selected></option>
            {% endfor %}
        {% endif %}
    </select>
        <script>
new ChoiceHandler('{{ field.key }}', 'update')
    </script>

{% endblock %}

{% block as_get %}
        <div  model-name="{{ field.model_name }}" class="text-start text-center form-control"  id="{{ field.key }}">
            {% if field.val %}
                {{ ','.join(field.val) }}
            {% endif %}
        </div>
        <script>
            choicesMultiBadges('{{ field.key }}', 'get')
    </script>
{% endblock %}