{% block as_update %}
    <select class="list-uuid form-control"
            id="{{ field.key }}"
            {% if field.update.required and not field.is_filter %} required {% endif %}
            {% if field.update.readonly %} readonly="1" {% endif %}
            name="{{ field.key }}"
            filter="{{ field.update.filter }}"
            {% if field.is_filter %} is-filter="1"{% endif %}
            model-name="{{ field.model_name }}"
            title="{{ field.update.description }}"
            display-title="{{ field.update.title }}"
            data-choices multiple>
        {% if field.val %}
            {% for val in field.val %}
                <option value="{{ val }}" selected></option>
            {% endfor %}
        {% endif %}
    </select>
        <script>
        var key = '{{ field.key }}';
        var el = document.getElementById(key);
        choiceMultiUUID(el, 'update')
    </script>

{% endblock %}
{% block as_create %}
    <select class="list-uuid form-control is-valid"
            id="{{ field.key }}"
            {% if field.create.required and not field.is_filter %} required {% endif %}
            {% if field.create.readonly %} readonly="1" {% endif %}
            name="{{ field.key }}"
            filter="{{ field.create.filter }}"
            {% if field.is_filter %} is-filter="1"{% endif %}
            model-name="{{ field.model_name }}"
            title="{{ field.create.description }}"
            display-title="{{ field.create.title }}"
            data-choices multiple>
        {% if field.val %}
            {% for val in field.val %}
                <option value="{{ val }}" selected></option>
            {% endfor %}
        {% endif %}
    </select>
        <script>
        var key = '{{ field.key }}';
        var el = document.getElementById(key);
        choiceMultiUUID(el, 'create')
    </script>

{% endblock %}

{% block as_get %}
        <div class="text-start form-control disabled" style="min-height: 37px" id="{{ field.key }}">
        </div>
    <script>
        (async function () {
            let element = document.getElementById("{{ field.key }}");

            async function getValues() {
                var id__in = {% if field.val %}"{{ ','.join(field.val) }}"{% else %}""{% endif %}
                try {
                    const items = await fetch('/base/get_by_ids?model={{ field.model_name }}&id__in=' + encodeURIComponent(id__in));
                    const results = await items.json();
                    if (0 === results.length) { // Handle error from result, for example.
                        return []
                    } else {
                        results.forEach(function (line) {
                            element.insertAdjacentHTML('beforeend', '<span class="badge bg-secondary">' + line.label + '</span>');
                        });
                    }
                } catch (err) {
                    console.error(err);
                }

            }
            getValues()
        })();
    </script>
{% endblock %}