{% block as_update %}
    <select class="list_typecountry form-control select"
            id="{{ field.key }}"
            display-title="{{ field.create.title }}"
            title="{{ field.create.description }}"
            {% if field.create.readonly %} readonly='1' {% endif %}
            name="{{ field.key }}"
            {% if field.create.required %} required {% endif %}
            filter="{{ field.create.filter }}"
            model-name="{{ field.model_name }}"
            data-choices multiple
    >

                {% if field.val %}
                    <option value="{{ field.val.id }}" selected> {{ field.val.name }}</option>
                {% endif %}
    </select>
        <script>
        var key = '{{ field.key }}';
        var el = document.getElementById(key);
        choiceMultiBabel(el)
    </script>
{% endblock %}
{% block as_create %}
    <select class="list_typecountry form-control select"
            id="{{ field.key }}"
            display-title="{{ field.create.title }}"
            title="{{ field.create.description }}"
            {% if field.create.readonly %} readonly='1' {% endif %}
            name="{{ field.key }}"
            {% if field.create.required %} required {% endif %}
            filter="{{ field.create.filter }}"
            model-name="{{ field.model_name }}"
            data-choices multiple
    >

                {% if field.val %}
                    <option value="{{ field.val.id }}" selected> {{ field.val.name }}</option>
                {% endif %}
    </select>
        <script>
        var key = '{{ field.key }}';
        var el = document.getElementById(key);
        choiceMultiBabel(el)
    </script>
{% endblock %}
{% block as_get %}
{{ field.val.english_name or field.val.name or field.val}}
{% endblock %}