{% block as_update %}
    <select class="rel-update rel form-control text-start "
            id="{{ field.field_name }}"
            {% if field.update.readonly %} readonly="1" {% endif %}
            name="{{ field.field_name }}"
            {% if field.update.required %} required {% endif %}
            filter="{{ field.update.filter }}"
            model-name="{{ field.model_name }}"
            data-choices
    >
        {% if field.val %}
            <option value="{{ field.val.p.id }}" selected>{{ field.val.p.display_title }}</option>
        {% endif %}
    </select>
{% endblock %}
{% block as_create %}
    <select class="rel-create rel form-control text-start "
            id="{{ field.field_name }}"
            {% if field.create.readonly %} readonly="1" {% endif %}
            name="{{ field.field_name }}"
            {% if field.create.required %} required {% endif %}
            filter="{{ field.create.filter }}"
            model-name="{{ field.model_name }}"
            data-choices
    >
        {% if field.val %}
            <option value="{{ field.val.p.id }}" selected>{{ field.val.p.display_title }}</option>
        {% endif %}
    </select>
{% endblock %}
{% block as_get %}
        <a class="rel-get text-danger text-center disabled my-list form-control"
           href="/base/modal/{{ field.model_name }}/{{ field.val.id }}"
           hx-include="none"
           hx-trigger="click"
           hx-params="model,method,id,key"
           hx-target="#htmx_content"
           hx-swap="beforeend transition:true"
        >{{ field.val.p.display_title }}
        </a>
{% endblock %}

{% block as_table %}
    <i class="ri-links-fill fs-8 text-danger"> </i>
    <a class="text-danger py-3"
       href="#"
       hx-include="none"
       hx-trigger="click"
       hx-target="#modal"
       hx-ext="json-enc"
       hx-post="/base/modal"
       hx-vals='{
"model": "{{ field.model_name }}",
"method": "get",
"id": "{{ field.val.id }}",
"key": "{{ field.field_name }}"
}'
    >{{ field.val.title or field.val.nickname }}
    </a>
{% endblock %}