{% block as_update %}
    <input
            {% if field.update.required %} required {% endif %}
            {% if field.update.readonly %}
                readonly
                class="str form-control disabled"
            {% else %}
                class="str form-control is-valid"
                placeholder="Enter {{ field.update.title }}"
            {% endif %}
            {% if field.update.hidden %} hidden {% endif %}
            name="{{ field.key }}"
            title="{{ field.update.description }}"
            value="{{ field.val if field.val else "" }}"

    >
{% endblock %}
{% block as_create %}
    <input
            {% if field.update.required %} required {% endif %}
            {% if field.update.readonly %}
                readonly
                class="str form-control disabled"
            {% else %}
                class="enum form-control"
                placeholder="Enter {{ field.update.title }}"
            {% endif %}
            {% if field.update.hidden %} hidden {% endif %}
            name="{{ field.key }}"
            title="{{ field.update.description }}"

            value="{{ field.val if field.val else "" }}"

    >
{% endblock %}
{% block as_get %}
    <input type="text"
           class="form-control"
            {% if field.get.required %} required {% endif %}
           disabled
           name="{{ field.key }}"
           value="{{ field.val if field.val else "" }}"
    >
{% endblock %}

{% block as_table_header %}
    {{ field.title }}
{% endblock %}

{% block as_table %}
    {{ field.val if field.val else '' }}
{% endblock %}
