{% block as_update %}
    <input
            {% if field.update.required %} required {% endif %}
            {% if field.update.readonly %}
                readonly
                class="str-update form-control disabled  text-center"
            {% else %}
                class="str form-control {% if not field.is_filter %}is-valid{% endif %}"
                placeholder="Enter {{ field.update.title }}"
            {% endif %}
            name="{{ field.field_name }}"
            title="{{ field.update.description }}"
            value="{{ field.val if field.val else "" }}"

    >
{% endblock %}
{% block as_create %}
    <input
            {% if field.create.required %} required {% endif %}
            {% if field.create.readonly %}
                readonly
                class="str-create form-control disabled text-center"
            {% else %}
                class="enum form-control"
                placeholder="Enter {{ field.update.title }}"
            {% endif %}
            {% if field.create.hidden %} hidden {% endif %}
            name="{{ field.field_name }}"
            title="{{ field.create.description }}"

            value="{{ field.val if field.val else "" }}"

    >
{% endblock %}
{% block as_get %}
    <input type="text"
           class="str-get form-control  text-center"
            {% if field.get.required %} required {% endif %}
           disabled
           name="{{ field.field_name }}"
    {%  if field.val %}
        {{ field.val }}
   {% endif %}
           value="{{ field.val if field.val else "" }}"
    >
{% endblock %}

{% block as_table_header %}
    {{ field.title }}
{% endblock %}

{% block as_table %}
    {{ field.val if field.val else '' }}
{% endblock %}
