{% block as_update %}
    <select class="form-control select"
            id="{{ field.key }}"
            name="{{ field.key }}"
            data-choices
            display-title="{{ field.create.title }}"
            title="{{ field.create.description }}"
            {% if field.create.readonly %} readonly='1' {% endif %}
            name="{{ field.key }}"
            {% if field.create.required %} required {% endif %}
            filter="{{ field.create.filter }}"
            model-name="{{ field.model_name }}"
    >

                {% if field.val %}
                    <option value="{{ field.val.id }}" selected> {{ field.val.name }}</option>
                {% endif %}
    </select>
    <script>
        var key = '{{ field.key }}';
        var el = document.getElementById(key);
        choiceOneBabel(el)
    </script>
{% endblock %}
{% block as_create %}
    <select class="form-control select"
            id="{{ field.key }}"
            name="{{ field.key }}"
            data-choices
            display-title="{{ field.create.title }}"
            title="{{ field.create.description }}"
            {% if field.create.readonly %} readonly='1' {% endif %}
            name="{{ field.key }}"
            {% if field.create.required %} required {% endif %}
            filter="{{ field.create.filter }}"
            model-name="{{ field.model_name }}"
    >

                {% if field.val %}
                    <option value="{{ field.val.id }}" selected> {{ field.val.name }}</option>
                {% endif %}
    </select>
        <script>
        var key = '{{ field.key }}';
        var el = document.getElementById(key);
        choiceOneBabel(el)
    </script>
{% endblock %}
{% block as_get %}
    <input  type="text"
                    class="form-control"
                    {% if field.required %} required {% endif %}
                    disabled
                    name="{{ field.key }}"
                    placeholder="Enter {{ field.title }}"
                    value="{{ field.val.english_name or field.val.name or field.val}}"
            >

{% endblock %}