{% block as_update %}
    <select class="babel-update form-control is-valid"
            id="{{ field.field_name }}"
            name="{{ field.field_name }}"
            display-title="{{ field.create.title }}"
            title="{{ field.create.description }}"
            {% if field.create.readonly %} readonly='1' {% endif %}
            name="{{ field.field_name }}"
            {% if field.create.required %} required {% endif %}
            filter="{{ field.create.filter }}"
            model-name="{{ field.model_name }}"
            data-choices
    >

        {% if field.val %}
            <option value="{{ field.val.id }}" selected> {{ field.val.name }}</option>
        {% endif %}
    </select>
{% endblock %}
{% block as_create %}
    <select class="babel-create form-control is-valid"
            id="{{ field.field_name }}"
            name="{{ field.field_name }}"
            display-title="{{ field.create.title }}"
            title="{{ field.create.description }}"
            {% if field.create.readonly %} readonly='1' {% endif %}
            name="{{ field.field_name }}"
            {% if field.create.required %} required {% endif %}
            filter="{{ field.create.filter }}"
            model-name="{{ field.model_name }}"
            data-choices
    >

        {% if field.val %}
            <option value="{{ field.val.id }}" selected> {{ field.val.name }}</option>
        {% endif %}
    </select>
{% endblock %}
{% block as_get %}
    <input type="text"
           class="babel-get form-control"
            {% if field.required %} required {% endif %}
           disabled
           name="{{ field.field_name }}"
           placeholder="Enter {{ field.title }}"
           value="{{ field.val.english_name or field.val.name or field.val }}"
    >

{% endblock %}
{% block as_table %}
    <a href="#" hx-params="none"
       hx-get="/base/table/row?model={{ field.model_name }}">{{ field.val.code or field.val.english_name }}</a>
{% endblock %}