{% block as_update %}
    <select class="uuid as-update"
            id="{{ field.key }}"
            display-title="{{ field.update.title }}"
            title="{{ field.update.description }}"
            filter="{{ field.update.filter }}"
            model-name="{{ field.model_name }}"
            name="{{ field.key }}"
            data-choices
            {% if field.update.readonly %}
            readonly='1'
            {% endif %}
            {% if field.update.required %}
            required
            {% endif %}
    >
        {% if field.val %}
            <option value="{{ field.val }}" selected label="Loading"></option>
        {% endif %}
    </select>
    <script>
        new ChoiceHandler('{{ field.key }}', 'update')
    </script>
{% endblock %}
{% block as_create %}
    <select class="uuid as-create"
            id="{{ field.key }}"
            display-title="{{ field.create.title }}"
            title="{{ field.create.description }}"
            name="{{ field.key }}"
            filter="{{ field.create.filter }}"
            model-name="{{ field.model_name }}"
            data-choices
            {% if field.create.readonly %}
            readonly='1'
            {% endif %}
            {% if field.create.required %}
            required
            {% endif %}

    >
        {% if field.val %}
            <option value="{{ field.val }}" selected></option>
        {% endif %}
    </select>
    <script>
        new ChoiceHandler('{{ field.key }}', 'create')
    </script>
{% endblock %}
{% block as_get %}
    <select class="uuid as-get"
            id="{{ field.key }}"
            name="{{ field.key }}"
            display-title="{{ field.get.title }}"
            title="{{ field.get.description }}"
            disabled
            filter="{{ field.get.filter }}"
            model-name="{{ field.model_name }}"
            data-choices
            {% if field.get.readonly %}
            readonly='1'
            {% endif %}
            {% if field.get.required %}
            required
            {% endif %}
    >
        {% if field.val %}
            <option value="{{ field.val }}" selected></option>
        {% endif %}
    </select>
    <script>
        new ChoiceHandler('{{ field.key }}', 'get')
    </script>
{% endblock %}
{% block as_card_title %}
    <h4
            class="uuid as-card-title"
            id="{{ field.key }}"
            model-name="{{ field.model_name }}"
    > {{ field.val }}
    </h4>
    <script>
        setTitle('{{ field.key }}', 'get')
    </script>
{% endblock %}