{% block as_update %}
    <select class="uuid-update as-update text-center"
            id="{{ field.field_name }}"
            display-title="{{ field.update.title }}"
            title="{{ field.update.description }}"
            filter="{{ field.update.filter }}"
            model-name="{{ field.model_name }}"
            name="{{ field.field_name }}"
            data-choices
            {% if field.update.readonly %}
            readonly='1'
            {% endif %}
            {% if field.update.required %}
            required
            {% endif %}
    >
        {% if field.val %}
            <option value="{{ field.val }}" selected label="Loading"></option>
        {% endif %}
    </select>
{% endblock %}
{% block as_create %}
    <select class="uuid-create as-create text-center"
            id="{{ field.field_name }}"
            display-title="{{ field.create.title }}"
            title="{{ field.create.description }}"
            name="{{ field.field_name }}"
            filter="{{ field.create.filter }}"
            model-name="{{ field.model_name }}"
            data-choices
            {% if field.create.readonly %}
            readonly='1'
            {% endif %}
            {% if field.create.required %}
            required
            {% endif %}

    >
        {% if field.val %}
            <option value="{{ field.val }}" selected></option>
        {% endif %}
    </select>
{% endblock %}
{% block as_get %}
    <a class="uuid-get text-center text-danger fw-bold form-control"
            id="{{ field.field_name }}"
            href="#"
            hx-get="/base/modal/{{ field.model_name }}/{{ field.val }}"
            display-title="{{ field.get.title }}"
            title="{{ field.get.description }}"
            filter="{{ field.get.filter }}"
            model-name="{{ field.model_name }}"
            hx-target="#htmx_content"
            hx-swap="beforeend"
    >{{ field.val }}</a>
{% endblock %}
{% block as_card_title %}
    <h4
            class="uuid-get as-card-title"
            id="{{ field.field_name }}"
            model-name="{{ field.model_name }}"
    > {{ field.val }}
    </h4>
{% endblock %}