{% block as_update %}
    <select class="uuid form-control text-start"
            id="{{ field.key }}"
            display-title="{{ field.update.title }}"
            title="{{ field.update.description }}"
            {% if field.update.readonly %} readonly='1' {% endif %}
            name="{{ field.key }}"
            {% if field.update.required %} required {% endif %}
            filter="{{ field.update.filter }}"
            model-name="{{ field.model_name }}"
            data-choices
    >
        {% if field.val %}
            <option value="{{ field.val }}" selected label="Loading"></option>
        {% endif %}
    </select>
    <script>
        new ChoiceHandler('{{ field.key }}', 'update')
    </script>
{% endblock %}
{% block as_create %}
    <select class="uuid form-control text-start"
            id="{{ field.key }}"
            display-title="{{ field.create.title }}"
            title="{{ field.create.description }}"
            {% if field.create.readonly %} readonly='1' {% endif %}
            name="{{ field.key }}"
            {% if field.create.required %} required {% endif %}
            filter="{{ field.create.filter }}"
            model-name="{{ field.model_name }}"
            data-choices
    >
        {% if field.val %}
            <option value="{{ field.val }}" selected></option>
        {% endif %}
    </select>
    <script>
        new ChoiceHandler('{{ field.key }}', 'get')
    </script>
{% endblock %}
{% block as_get %}
    <select class="uuid form-control text-start"
            id="{{ field.key }}"
            display-title="{{ field.get.title }}"
            title="{{ field.get.description }}"
            disabled
            {% if field.get.readonly %} readonly='1' {% endif %}
            name="{{ field.key }}"
            {% if field.get.required %} required {% endif %}
            filter="{{ field.get.filter }}"
            model-name="{{ field.model_name }}"
            data-choices
    >
        {% if field.val %}
            <option value="{{ field.val }}" selected></option>
        {% endif %}
    </select>
        <script>
        new ChoiceHandler('{{ field.key }}', 'get')
    </script>
{% endblock %}