{% autoescape false %}
    <tr
            id="{{ move.p.key }}"
            class="line"
            ui_key="{{ move.p.ui_key }}"
            lsn="{{ move.p.lsn }}"
            hx-trigger="backend_update consume"
            hx-get="/inventory/move/line?move_id={{ move._id }}"
            hx-swap="outerHTML swap:0.3s"
            hx-target="#{{ move.p.key }}" style="background-color: #0a7ea4"
    >
        <th scope="row" style="white-space: nowrap; vertical-align: middle;">
            <div class="row">
                <div class="col-6">
                    <div class="form-check fs-5" style="display: inline-block;">
                        <input class="form-check-input" type="checkbox"
                               name="{{ move.p.key ~ '--check' }}" value="">
                    </div>
                </div>
            </div>
        </th>
        <th class="line-col text-center" style="padding-left: 2px; padding-right: 2px;">
            {{ move.order_id.as_a(model='order', url='/inventory/order/detail') }}
        </th>

        <th class="line-col text-center" style="padding-left: 2px; padding-right: 2px;">
            {% if move.type.val == 'product' %}
                {{ move.product_id.as_get }}
            {% else %}
                {{ move.location_id.as_a(model='location', url='/inventory/location/detail') }}
            {% endif %}
        </th>
        <th class="line-col text-center" style="padding-left: 2px; padding-right: 2px;">
            {{ move.edited_by.as_get }}
        </th>
        <th class="line-col text-center" style="padding-left: 2px; padding-right: 2px;">
            {{ move.location_src_id.as_a(model='location', url='/inventory/location/detail') }}
        </th>
        <th class="line-col text-center" style="padding-left: 2px; padding-right: 2px;">
            {{ move.location_dest_id.as_a('/inventory/location/detail') }}
        </th>
        <th class="line-col">
            {% if move.status.val in ('created', 'reservation_failed') %}
            {{ move.quantity.as_(method='get', button=True) }}
                {% else %}
             {{ move.quantity.as_get }}
            {% endif %}
        </th>
        <th class="line-col" style="padding-left: 2px; padding-right: 2px;">
            <a
                    class="text-muted"
                    href="#"
                    hx-get="/inventory/move/detail?move_id={{ move._id }}"
                    hx-push-url="false"
                    hx-target="#htmx_content"
                    hx-swap="beforeend transition:true"
            >
                <iconify-icon icon="solar:hamburger-menu-broken" class="fs-8"></iconify-icon>
                {{ move.suggest_list_count.val }}
            </a>
        </th>
        <th class="line-col" style="padding-left: 2px; padding-right: 2px;"
        {% if move.p.is_last and scroll %}
            hx-trigger="revealed"
            hx-include="#move-filters"
            hx-get="/inventory/move/lines?cursor_lt={{ move.p.lsn }}"
             hx-swap="afterend"
             {% endif %}
        >

            {% if move.status.val == 'created' %}
                <span class="mb-0 badge text-bg-light">{{ move.status.val }}</span>
            {% elif move.status.val == 'waiting' %}
                <span class="mb-0 badge text-bg-info">{{ move.status.val }}</span>
            {% elif move.status.val == 'confirmed' %}
                <span class="mb-0 badge text-bg-secondary">{{ move.status.val }}</span>
            {% elif move.status.val == 'processing' %}
                <span class="mb-0 badge text-bg-primary">{{ move.status.val }}</span>
            {% elif move.status.val == 'done' %}
                <span class="mb-0 badge text-bg-success">{{ move.status.val }}</span>
            {% elif move.status.val == 'canceled' %}
                <span class="mb-0 badge text-bg-dark">{{ move.status.val }}</span>
            {% else %}
                <span class="mb-0 badge text-bg-danger ">{{ move.status.val }}</span>
            {% endif %}

        </th>
    {% include 'components/loader.html' %}
    </tr>

{% endautoescape %}