<div class="table-responsive tab-pane fade active show"
     aria-labelledby="home-tab">
    <table class="table text-truncate">
        <thead>
        <tr class="fs-5 text-center" style="text-align: center">
            <th scope="col">
                <p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"
                           id="{{ moves.p.class_key ~'--'~ 'checkAll' }}"
                           value="option">
                </div>
                </p>
            </th>
            {{ moves.order_id.as_th_title }}
            {{ moves.product_id.as_th_title }}
            {{ moves.edited_by.as_th_title }}
            {{ moves.location_src_id.as_th_title }}
            {{ moves.location_dest_id.as_th_title }}
            {{ moves.quantity.as_th_title }}
            {{ moves.suggest_list_rel.as_th_title }}
            {{ moves.status.as_th_title }}
        </tr>
        </thead>
        <tbody
                hx-trigger="change from:#move-filters delay:500ms"
               hx-include="#move-filters"
               hx-get="/inventory/move/lines"
        >
        {% with moves=moves, scroll=False %}
            {% include 'inventory/move/move_lines.html' %}
        {% endwith %}
        </tbody>
    </table>
</div>