{% autoescape false %}
    <div class="modal" id="{{ 'modal_'~move.p.key }}" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-right fadeInRight">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-12">
                                <div class="d-sm-flex align-items-center justify-space-between">
                                    <h4 class="mb-4 mb-sm-0 card-title" data-key="t-move">Move</h4>
                                    {% if move.status.val == 'created' %}
                                        <span class="mb-0 badge text-bg-light">{{ move.status.val }}</span>
                                    {% elif move.status.val == 'waiting' %}
                                        <span class="mb-0 badge text-bg-info">{{ move.status.val }}</span>
                                    {% elif move.status.val == 'confirmed' %}
                                        <span class="mb-0 badge text-bg-secondary">{{ move.status.val }}</span>
                                    {% elif move.status.val == 'processing' %}
                                        <span class="mb-0 badge text-bg-primary">{{ move.status.val }}</span>
                                    {% elif move.status.val == 'done' %}
                                        <span class="mb-0 badge text-bg-success">{{ move.status.val }}</span>
                                    {% elif move.status.val == 'canceled' %}
                                        <span class="mb-0 badge text-bg-dark">{{ move.status.val }}</span>
                                    {% else %}
                                        <span class="mb-0 badge text-bg-warning">{{ move.status.val }}</span>
                                    {% endif %}
                                    <nav aria-label="breadcrumb" class="ms-auto">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item d-flex align-items-center">
                                                <a class="text-muted text-decoration-none d-flex"
                                                   href="../main/index.html">
                                                    <iconify-icon icon="solar:home-2-line-duotone"
                                                                  class="fs-6"></iconify-icon>
                                                </a>
                                            </li>
                                            <li class="breadcrumb-item" aria-current="page">
                                            <span class="badge fw-medium fs-2 bg-primary-subtle text-primary">
                                              Modals
                                            </span>
                                            </li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-md-4 col-lg-2 col-6 small-padding">
                                <div class="card text-bg-light rounded modal-card">
                                    <div class="card-body p-3">
                                        <p class="card-text opacity-75 fs-2 fw-normal mb-0"
                                           data-key="{{ move.order_id.data_key }}">
                                            {{ move.order_id.field_name }}
                                        </p>
                                        <h4 class="card-title mb-0 mt-0">
                                            {{ move.order_id.as_a(url='/inventory/store_monitor/order_detail') }}
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-2 col-6 small-padding">
                                {{ move.order_type_id.as_card }}
                            </div>
                            <div class="col-md-4 col-lg-2 col-12 small-padding">
                                {{ move.store_id.as_card }}
                            </div>
                            <div class="col-md-4 col-lg-2 col-6 small-padding">
                                {{ move.location_src_id.as_card }}
                            </div>
                            <div class="col-md-4 col-lg-2  small-padding">
                                {{ move.location_dest_id.as_card }}
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-2">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item p-2" role="presentation">
                                <a class="nav-link active primary" id="tab-suggests" data-bs-toggle="tab"
                                   href="#suggests"
                                   role="tab"
                                   aria-controls="suggests" aria-expanded="true" aria-selected="true">
                                    <span data-key="t-moves">Suggests</span>
                                </a>
                            </li>
                            <li class="nav-item p-2" role="presentation">
                                <a class="nav-link primary" id="suggests-tab" data-bs-toggle="tab" href="#suggests"
                                   role="tab"
                                   aria-controls="suggests" aria-selected="false" tabindex="-1">
                                    <span data-key="t-suggests">Suggests</span>
                                </a>
                            </li>
                            <li class="nav-item p-2" role="presentation">
                                <a class="nav-link dropdown-toggle dropdown btn bg-primary-subtle text-primary "
                                   data-bs-toggle="dropdown" href="javascript:void(0)"
                                   role="button" aria-expanded="false">
                                    <span>Actions</span>
                                </a>
                                <ul class="dropdown-menu" style="">
                                    {% if move.status.val == 'draft' %}
                                        {% set action_start = move.v.actions['order_confirm'] %}
                                        <li>
                                            <a
                                                    data-bs-toggle="{{ action_start.doc }}"
                                                    data-key="{{ action_start.tkey }}"
                                                    hx-params="model,action,method,ids,key"
                                                    hx-trigger="click"
                                                    hx-ext="json-enc"
                                                    hx-target="#htmx_content"
                                                    hx-swap="beforeend transition:true"
                                                    hx-post="/base/action"
                                                    hx-vals='{
                                                    "model": "{{ move.v.model.name }}",
                                                    "action": "{{ action_start.name }}",
                                                    "method": "{% if action_start.schema %}get{% else %}update{% endif %}",
                                                    "ids": ["{{ move.p.id }}"],
                                                    "key": "{{ move.p.key }}"
                                                }'
                                                    class="dropdown-item remove-item-btn">
                                                <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> {{ action_start.name }}
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a class="dropdown-item"
                                           id="dropdown2-tab" href="#dropdown2" role="tab"
                                           data-bs-toggle="tab" aria-controls="dropdown2" aria-selected="false"
                                           tabindex="-1">@mdo</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="tab-content" id="suggests-tab">
                            <div role="tabpanel" class="tab-pane fade active show" id="suggests"
                                 aria-labelledby="home-tab">
                                <table class="table align-middle table-hover mb-0 last-items-borderless text-uppercase">
                                    <thead>
                                    <tr class="fs-5 text-center" style="text-align: center">
                                        <th scope="col">
                                            <p>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       id="{{ move.p.class_key ~'--'~ 'checkAll' }}"
                                                       value="option">
                                            </div>
                                            </p>
                                        </th>
                                        <th data-bs-toggle="tooltip" data-bs-html="true" title="">
                                            <p data-key="{{ move.suggest_list_rel.val.type.data_key }}">
                                                {{ move.suggest_list_rel.val.type.field_name }}
                                            </p>
                                        </th>
                                        <th data-bs-toggle="tooltip" data-bs-html="true" title="">
                                            <p data-key="{{ move.suggest_list_rel.val.priority.data_key }}">
                                                {{ move.suggest_list_rel.val.priority.field_name }}
                                            </p>
                                        </th>
                                        <th data-bs-toggle="tooltip" data-bs-html="true" title="">
                                            <p data-key="{{ move.suggest_list_rel.val.value.data_key }}">{{ move.suggest_list_rel.val.value.field_name }}</p>
                                        </th>
                                        <th data-bs-toggle="tooltip" data-bs-html="true" title="">
                                            <p data-key="{{ move.suggest_list_rel.val.result_value.data_key }}">{{ move.suggest_list_rel.val.result_value.field_name }}</p>
                                        </th>
                                        <th data-bs-toggle="tooltip" data-bs-html="true" title="">
                                            <p data-key="t-suggest_confirm">Confirm</p>
                                        </th>
                                        <th data-bs-toggle="tooltip" data-bs-html="true" title="">
                                            <p data-key="{{ move.suggest_list_rel.val.user_id.data_key }}">{{ move.suggest_list_rel.val.user_id.field_name }}</p>
                                        </th>
                                        <th data-bs-toggle="tooltip" data-bs-html="true" title="">
                                            <p data-key="{{ move.suggest_list_rel.val.status.data_key }}">{{ move.suggest_list_rel.val.status.field_name }}</p>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for suggest in  move.suggest_list_rel.val %}
                                        {% include 'inventory/suggest/suggest_line.html' %}
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                            <div class="tab-pane fade" id="suggests1" role="tabpanel" aria-labelledby="suggests-tab">
                                ...
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        new ModalHandler('#{{ 'modal_'~move.p.key }}')
    </script>
{% endautoescape %}