{% block content %}
    <div class="justify-content-center bg-dark-subtle" style="min-height: 1000px; width: -webkit-fill-available;">
        <div hx-ext="ws" ws-connect="/inventory/app?key={{ cls.key }}">
            <form
                    id="scan-form"
                    style="display: none"
                    hx-include=".app"
                    hx-trigger="scan"
                    ws-send
                    hx-swap-oob="outerHTML: transition:true"
                    hx-vals='{
                    "type": "barcode"
                    }'
            >
                <input style="display: none" name="scan-form-model" id="scan-form-model" value="">
                <input style="display: none" name="scan-form-id" id="scan-form-id" value="">
                <input style="display: none" name="scan-form-barcode" id="scan-form-barcode" value="">
            </form>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card card-body text-end">
                            <div class="row d-flex align-items-center">
                                <div class="col-2">
                                    <button
                                            ws-send
                                            name="back"
                                            value="True"
                                            class="btn btn-soft-success align-middle"
                                            hx-vals='{
                                            "type": "back"
                                            }'
                                    ><i class="ri-arrow-left-circle-fill h4"></i></button>
                                </div>
                                <div class="col-10">
                                    <div class="text-center">
                                        <h5 id="app_title" style="display: block;">{{ request.user.nickname }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container ">
            <div class="col ">
                <div id="{{ cls.key }}"></div>
            </div>
                </div>
        </div>
    </div>
{% endblock %}
