{% block as_card_processing %}
{% autoescape false %}
<h5 id="app_title" style="display: block;">{{ line.display_title }}</h5>
<div class="app" id="{{ key }}" ui_key="{{ line.ui_key }}">
    <div class="card" id="{{ line.key }}" ui_key="{{ line.ui_key }}" lsn="{{ line.lsn }}">
        <img class="card-img-top img-fluid" style="height: 200px" src="{{ line.fields.product_id.val.image_url }}"
             alt="Card image cap">
        <div class="card-body text-muted">
            <h4 class="card-title mb-2 text-center">{{ line.fields.product_id.val.title }}</h4>
            <p class="card-text text-muted text-center">{{ line.fields.product_id.val.description }}</p>
            <div class="flex-grow">
            </div>
            <div class="card">
            <div class="row">
                <div class="col-10">
                    {% for suggest in line.fields.suggest_list_rel.val|sort(attribute='priority') %}
                        <div class="text-{% if suggest.status == 'done' %}success{% else %}warning{% endif %} fs-14 rounded text-nowrap">
                            {% if suggest.type == 'in_product' %}
                                <i class="ri-qr-code-fill"> {{ line.fields.product_id.val.title}}</i>
                            {% elif suggest.type == 'in_quantity' %}
                                <i class="ri-numbers-line"> {{ line.fields.quantity.val}}</i>
                            {% elif suggest.type == 'in_location' %}
                                <i class="ri-download-fill"> {{ line.fields.location_dest_id.val.title}}</i>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            </div>
        </div>
    </div>
    <style>
        .input-step {
            border: 1px solid var(--vz-input-border-custom);
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            overflow: visible;
            height: 60px;
            border-radius: var(--vz-border-radius);
            background: var(--vz-input-bg-custom);
            padding: 2px;
        }
    </style>
    {% if active_suggest %}
        {% if active_suggest.type == 'in_product' %}
            <span class="badge bg-success-subtle text-success badge-border"
                  style="border-radius: 15px; min-height: 10vh;align-content: center;">Scan the product</span>
        {% elif active_suggest.type == 'in_quantity' %}
            <span class="badge bg-warning-subtle  badge-border col-12 fs-6"
                  style="border-radius: 15px; min-height: 10vh;align-content: center;">Enter the quantity</span>

        {% elif active_suggest.type == 'in_location' %}
            <div class="badge badge bg-primary-subtle fs-6 col-12"
                 style="border-radius: 15px; min-height: 10vh;align-content: center;"> Scan the destination
                location
            </div>
        {% elif active_suggest.type == 'out_location' %}
            <div class="badge badge bg-primary-subtle fs-6 col-12"
                 style="border-radius: 15px; min-height: 10vh;align-content: center;"> Scan the source
                location
            </div>
        {% endif %}
    {% endif %}
    <div class="sticky-lg-bottom fixed-bottom container">
        <div class="card" style="background-color: var(--vz-border-color)">
            {% if active_suggest %}
                <div class="row">

                    <div class="col-8">
                        {% if active_suggest.type == 'in_product' %}
                            <i class="ri-qr-code-fill"></i>
                        {% elif active_suggest.type  == 'in_quantity' %}
                            <div class="input-step step-soft-warning col-12 form-control text-center"
                                 style="border-radius: 15px">
                                <button type="button" class="minus"
                                        style="width: 60px; border-radius: 15px;margin-top: 8px;height: 40px">–
                                </button>
                                <input type="number" class="product-quantity" value="1" min="0" max="100"
                                       style="width: 100px">
                                <button type="button" class="plus"
                                        style="width: 60px; border-radius: 15px;margin-top: 8px;height: 40px">+
                                </button>
                            </div>
                        {% elif active_suggest.type  == 'in_location' %}
                            <i class="ri-download-fill"></i>
                        {% endif %}

                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-soft-success waves-effect waves-light col-12"
                                style="height: 60px;"><i class="ri-arrow-right-line fs-1"></i>
                        </button>
                    </div>

                </div>

                </div>
            {% endif %}
    </div>
    <script>
        function isData() {
            var t = document.getElementsByClassName("plus"), e = document.getElementsByClassName("minus"),
                n = document.getElementsByClassName("product");
            t && Array.from(t).forEach(function (t) {
                t.addEventListener("click", function (e) {
                    parseInt(t.previousElementSibling.value) < e.target.previousElementSibling.getAttribute("max") && (e.target.previousElementSibling.value++, n) && Array.from(n).forEach(function (t) {
                        updateQuantity(e.target)
                    })
                })
            }), e && Array.from(e).forEach(function (t) {
                t.addEventListener("click", function (e) {
                    parseInt(t.nextElementSibling.value) > e.target.nextElementSibling.getAttribute("min") && (e.target.nextElementSibling.value--, n) && Array.from(n).forEach(function (t) {
                        updateQuantity(e.target)
                    })
                })
            })
        }

        isData();
    </script>
</div>


{% endautoescape %}
{% endblock %}