{% block as_card %}
{% autoescape false %}

<div class="card" id="{{ move.id }}" ui_key="move--{{ move.id }}" lsn="{{ move.lsn }}"
     hx-trigger="backend_update"
     hx-disinherit="*"
     ws-send
     hx-vals='{
                "model": "move",
                "mode": "as_card",
                "key": "{{ key }}",
                "type": "update",
                "id": "{{ move.id }}"
                }'
>
    <div class="row g-0">
        <div class="col-4">
            <img class="rounded-start img-fluid h-100 object-fit-cover" src="{{ move.product.image_url }}"
                 alt="Card image">
        </div>
        <div class="col-8">
            <div class="card-header">
                <h5 class="card-title mb-0">{{ move.product.title }}</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        Qyantity:
                    </div>
                    <div class="col-6">
                        {{ move.quantity }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endautoescape %}
{% endblock %}