{% block as_card %}
{% autoescape false %}
<div class="card" id="{{ order.id }}" ui_key="order--{{ order.id }}" lsn="{{ order.lsn }}"
     hx-trigger="backend_update"
     hx-disinherit="*"
     ws-send
     hx-vals='{
                "model": "order",
                "mode": "as_card",
                "key": "{{ key }}",
                "type": "update",
                "id": "{{ order.id }}"
                }'
>
    <div class="card-header text-center">
        <h5 style="display: block;">{{ order.title }}</h5>
    </div>
    <div class="card-body text-muted text-center">
        <p> {{ order.move_list_rel|length }} items </p>
        <p> {{ order.description or '' }}</p>
        <div class="row">
                <div class="col">
                    {% if order.status == 'assigned' %}
                    <button
                            type="button"
                            ws-send
                            hx-vals='{
                            "model": "order",
                            "method": "get",
                            "type": "model",
                            "id": "{{ order.id }}",
                            "title": "{{ order.title }}"
                        }' class="btn btn-light col-12">View
                    </button>
                    {% endif %}
                </div>
                <div class="col">
                    {% if order.status != 'assigned' %}
                    <button
                            class="btn btn-secondary content col-12"
                            ws-send
                            name="start_order"
                            hx-vals='{
                                "model": "order",
                                "mode": "order_start",
                                "key": "{{ key }}",
                                "type": "action",
                                "id": "{{ order.id }}"
                            }'
                            type="button">Start order
                    </button>
                    {% endif %}
                </div>
        </div>
    </div>
</div>

{% endautoescape %}
{% endblock %}