<script>
    Swal.fire({
        "icon": "warning",
        "text": "This action cannot be undone",
        "title": "Are you sure?",
        "showCancelButton": true,
        "cancelButtonColor": "#d33",
        "cancelButtonText": "No, cancel!",
        "confirmButtonText": "Yes, delete it!",
        "confirmButtonColor": "#3085d6"
    }).then((result)=>{
        if (result.isConfirmed) {
            htmx.ajax('DELETE', '/basic/company/{{ company_id }}?confirmed=True', {
                target: 'body',
                swap: 'beforeend'
            })
        }
    }
    );
</script>