<div id="table" class="col-xxl-9"
     hx-get="/base/table?module={{ module if module else request.query_params.module }}&model={{ model if model else request.query_params.modele }}"
     hx-trigger="change from:{% if filter %}{{ filter }}{% else %}#filter{% endif %} delay:500ms, load, update"
     hx-include="{% if filter %}{{ filter }}{% else %}#filter{% endif %}"
>
    <div class="card htmx-indicator ">
        <table class="table ">
            <thead class="text-muted table-light">
            <tr class="placeholder-lg placeholder-glow">
                {% for i in range(8) %}
                    <th><span class="placeholder col-12"></span></th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for i in range(8) %}
                <tr class="placeholder-glow">
                    {% for i in range(8) %}
                        <td><span class="placeholder col-12"></span></td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!--end card-->
</div>