{% set modal_id = 'modal-' + uuid().hex %}
<div class="card">
    <div class="card-body">
        <div class="table-responsive " style="width: auto; min-height: 400px"  data-show-columns="true">
            <table class="table table-hover table-striped" id="table"
                   data-show-columns="true"
            >
                <thead class="text-muted table-light">
                <tr class="text-uppercase fs-13">
                    <th scope="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkAll"
                                   value="option">
                        </div>
                    </th>
                    {% for field in model.header.fields if field.widget.table %}
                            <th  class="{{ field.field_name }}">{{ field.title }}</th>
                    {% endfor %}
                    <th>Active</th>
                </tr>
                </thead>
            <div class="rows">
                {% for line in model.table.lines %}
                        <tr id="td-{{line.id}}" class="mb-0 fw-semibold text-muted">
                            <th scope="row">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="checkAll" value="">
                                </div>
                            </th>
                            {% for field in line.fields if field.widget.table %}
                                    {% if field.type == 'str' %}
                                        <td class="{{ field.field_name }}">{{ field.val if field.val else '' }}</td>
                                    {% elif field.type == 'datetime' %}
                                        <td class="{{ field.field_name }}">{{ field.val.strftime('%Y-%m-%d') if field.val  }}<small class="text-muted"> {{field.val.strftime('%H:%M') if field.val }}</small>
                                    {% elif field.type in ('locale', 'currency', 'country')  %}
                                        <td class="{{ field.field_name }}"><a href="#" hx-get="/base/table/row?module={{ field.module }}&model={{ field.model }}">{{ field.val.code or field.val.english_name}}</a></td>
                                    {% elif field.type == 'model_rel'  %}
                                        <td class="{{ field.field_name }}"><i class="ri-links-fill fs-6"></i><a class="text-danger py-3" href="#" data-bs-toggle="modal" hx-trigger="click" data-bs-target="#{{ modal_id }}" hx-target="#{{modal_id}}" hx-swap="innerHTML transition:true" hx-get="/base/modal-view?module={{ field.module }}&model={{ field.model }}&id={{ field.val.id }}">{{ field.val.title or field.val.nickname}}</a></td>
                                    {% elif field.type == 'model_id' %}
                                        <td class="{{ field.field_name }}">{{ field.val if field.val else '' }}</td>
                                    {% else %}
                                        <td class="{{ field.field_name }}">{{ field.val if field.val else ''}}</td>
                                    {% endif %}
                            {% endfor %}
                            <td>
                                <ul class="list-inline hstack gap-2 mb-0">
                                    <li class="list-inline-item edit" title="Edit">
                                        <a href="#" data-bs-toggle="modal" hx-include="this" hx-trigger="click"  data-bs-target="#{{ modal_id }}" hx-target="#{{modal_id}}" hx-swap="innerHTML transition:true" hx-get="/base/modal-view?module={{ model.module }}&model={{ model.model }}&id={{ line.id }}"
                                           class="text-success d-inline-block edit-item-btn"> <i
                                                class="ri-eye-fill fs-16"></i></a>
                                    </li>
                                    <li class="list-inline-item edit" title="Edit">
                                        <a href="#" data-bs-toggle="modal" hx-include="this" hx-trigger="click"  data-bs-target="#{{ modal_id }}" hx-target="#{{modal_id}}" hx-swap="innerHTML transition:true" hx-get="/base/modal-get?module={{ model.module }}&model={{ model.model }}&id={{ line.id }}"
                                           class="text-primary d-inline-block edit-item-btn"> <i
                                                class="ri-pencil-fill fs-16"></i></a>
                                    </li>
                                    <li class="list-inline-item" title="Remove">
                                        <a class="text-danger d-inline-block remove-item-btn"  data-bs-toggle="modal" hx-trigger="click" data-bs-target="#{{modal_id}}" hx-target="#{{modal_id}}" hx-swap="innerHTML"
                                            hx-get="/base/modal-delete?module={{ model.module }}&model={{ model.model }}&id={{ line.id }}">
                                            <i class="ri-delete-bin-3-fill fs-16"></i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% if loop.last %}
                        <div
                            hx-include="#filter"
                            hx-post="/base/table"
                            hx-ext="json-enc"
                            hx-trigger="revealed" hx-swap="afterend" hx-select="#rows"
                                 hx-vals='{
                                    "module": "{{ model.module }}",
                                    "model": "{{ model.model }}",
                                    "cursor": "{{ line.lsn }}"
                                 }'
                        ></div>
                    {% endif %}
                {% endfor %}

            </div>
            </table>
            <!------Таблица----->
        </div>

    </div>
</div>

<div id="{{modal_id}}" class="modal modal-blur fade" data-bs-backdrop="false" style="display: none" aria-hidden="false" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>