{% set modal_id = 'modal-' + uuid().hex %}
<div class="card">
    <div class="card-body">
        <div class="table-responsive" style="width: auto; min-height: 400px">
            <table class="table table-hover table-striped" id="table">
                <thead class="text-muted table-light">
                <tr class="text-uppercase fs-13">
                    <th scope="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkAll"
                                   value="option">
                        </div>
                    </th>
                    {% for col, val in columns.items() if val.widget.table and not col.endswith('_id') and not col.endswith('_by')%}
                            <th>{{ title or col|capitalize }}</th>
                    {% endfor %}
                    <th>Active</th>
                </tr>
                </thead>
            <div class="rows">
                {% for o in objects %}
                    <tr id="td-{{o.id.val}}"{% if loop.last %} hx-get="/base/table?module={{ module }}&model={{ model }}&cursor={{ cursor }}"
                        hx-trigger="revealed" hx-swap="afterend" hx-select="#rows" {% endif %}>
                        <th scope="row">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="checkAll" value="">
                            </div>
                        </th>
                        {% for c, value in o.items() if not c.endswith('_id') and not c.endswith('_by') %}
                            {% if value.widget.table %}
                                {% if value.type == 'str' %}
                                    <td class="{{ c }}">{{ value.val }}</td>
                                {% elif value.type == 'datetime' %}
                                    <td class="{{ c }}">{{ value.val.strftime('%Y-%m-%d') if value.val  }}<small class="text-muted"> {{ value.val.strftime('%H:%M') if value.val }}</small>
                                {% elif value.type in ('locale', 'currency', 'country')  %}
                                    <td class="{{ c }}"><a href="#" hx-get="/base/table/row?module={{ value.module }}&model={{ c }}">{{ value.val.title or value.val.code or value.val.english_name}}</a></td>
                                {% elif value.type == 'model_rel'  %}
                                    <td class="{{ c }}"><a href="#" data-bs-toggle="modal" hx-trigger="click" data-bs-target="#{{ modal_id }}" hx-target="#{{modal_id}}" hx-swap="innerHTML transition:true" hx-get="/base/modal-view?module={{ value.module }}&model={{ value.model }}&id={{ value.val.id }}">{{ value.val.title }}</a></td>
                                {% elif value.type == 'model_id' %}
                                    <td class="{{ c }}">{{ value.val }}</td>
                                {% else %}
                                    <td class="{{ c }}">{{ value.val }}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <td>
                            <ul class="list-inline hstack gap-2 mb-0">
                                <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover"
                                    data-bs-placement="top" title="View">
                                    <a href="#"  hx-get="/base/card?module={{ module }}&model={{ model }}&id={{ o.id.val }}" hx-target="#card" hx-swap="innerHTML"
                                       class="text-success d-inline-block">
                                        <i class="ri-eye-fill fs-16"></i></a>
                                </li>
                                <li class="list-inline-item edit" title="Edit">
                                    <a href="#" data-bs-toggle="modal" hx-trigger="click" data-bs-target="#{{ modal_id }}" hx-target="#{{modal_id}}" hx-swap="innerHTML transition:true" hx-get="/base/modal-get?module={{ module }}&model={{ model }}&id={{ o.id.val }}"
                                       class="text-primary d-inline-block edit-item-btn"> <i
                                            class="ri-pencil-fill fs-16"></i></a>
                                </li>
                                <li class="list-inline-item" title="Remove">
                                    <a class="text-danger d-inline-block remove-item-btn"  data-bs-toggle="modal" hx-trigger="click" data-bs-target="#{{modal_id}}" hx-target="#{{modal_id}}" hx-swap="innerHTML"
                                        hx-get="/base/modal-delete?module={{ module }}&model={{ model }}&id={{ o.id.val }}">
                                        <i class="ri-delete-bin-3-fill fs-16"></i>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </div>
            </table>
            <!------Таблица----->
        </div>

    </div>
</div>

<div id="{{modal_id}}" class="modal modal-blur fade" style="display: none" aria-hidden="false" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>