{% block action %}
    <div class="modal" id="{{ 'action--'~cls.p.class_key }}" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <form class="was-validated"
                      hx-post="/base/action"
                      hx-ext="json-enc"
                      hx-include="this"
                      hx-target="this"
                      hx-swap="none"
                      hx-vals='{
                "model": "{{ cls.p.class_key }}",
                "action": "{{ action }}",
                "key": "{{ cls.p.class_key }}",
                "method": "update",
                "commit": "true"
              }'
                >
                    <div class="modal-body text-center p-5">
                        <div class="card">
                            <h3 class="card-title" data-key="t-{{ action }}"> {{ action }} </h3>
                                {% for field in cls.get_fields(display_view='form') if not field.is_reserved and field.type != 'list_rel' %}
                                    {% if field.field_name in ('ids', 'id') %}
                                        <div style="display: none">{{ field.as_update }}</div>
                                        {% else %}
                                        {{ field.label|safe }}
                                            {{ field.as_update }}
                                    {% endif %}


                                {% endfor %}
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                    <button id="{{ 'submit'~cls.p.class_key }}" type="submit" class="btn btn-success">
                                        Save
                                    </button>

                                </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        new ModalHandler('#{{ 'action--'~cls.p.class_key }}')
    </script>
{% endblock %}
