{% block action %}
    <div class="modal" id="{{ 'action--'~cls.p.class_key }}" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <form class="was-validated"
                      hx-post="/base/action/{{ model }}/{{ action.name }}/{{ line_id }}"
                      hx-ext="json-enc"
                      hx-include="this"
                      hx-target="this"
                      hx-swap="none">
                    <div class="modal-body">
                        <div class="card">
                            <h3 class="card-title" data-key="{{ action.tkey }}"> {{ action.name }}</h3>
                            <div class="card-body">
                                <div class="card-text">
                                  <p data-key="{{ action.tkey_doc }}">{{ action.doc }}</p>
                                </div>
                            <input type="hidden" name="id" style="display: none" value="{{ line_id }}">
                            {% for field in cls.get_fields(display_view='form') if not field.is_reserved and field.type != 'list_rel' and field.field_name !='id' %}
                                    {{ field.label|safe }}
                                    {{ field.as_update }}
                            {% endfor %}

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                            </button>
                            <button id="{{ 'submit'~cls.p.class_key }}" type="submit" class="btn btn-success">
                                Save
                            </button>

                        </div>
                </form>
            </div>

        </div>
    </div>
    <script>
        new ModalHandler('#{{ 'action--'~cls.p.class_key }}')
    </script>
{% endblock %}
{% block as_a %}
<a
        data-bs-toggle="tooltip" data-bs-html="true" data-key-description="{{ action.tkey_doc }}" title="{{ action.doc }}"
        {% if label %}data-key="{{ action.tkey }}"{% endif %}
        hx-trigger="click"
        hx-target="#htmx_content"
        hx-swap="beforeend transition:true"
        {% if css_class %}class="{{ css_class }}"{% endif %}
        {% if not action.schema %}
            hx-ext="json-enc"
            hx-post="/base/action/{{ line.v.model.name }}/{{ action.name }}/{{ line.p.id }}"
        {% else %}
            hx-get="/base/action/{{ line.v.model.name }}/{{ action.name }}/{{ line.p.id }}"
        {% endif %}>
    {% if label %}{{ action.name }} {% endif %}
{% if icon %}
    <iconify-icon style="color:#37c76c" icon="{{ icon }}" class="fs-8"></iconify-icon>
{% endif %}
</a>
{% endblock %}