{% block widget %}
<div id="{{ 'filter' ~'--'~ line.p.class_key }}"
      hx-get="/base/filter/{{ line.v.model.name }}"
      hx-trigger="load"
class="collapse">
    <!--HTMX CONTENT-->
</div>
{% endblock %}
{% block get %}
<div class="card">
    <div class="card-body">
        <div class="row g-3">
            {% for field in line.get_fields(display_view='filter') if field.is_filter %}
                {% if field.field_name not in ('order_by', 'lsn__gt', 'lsn__lt', 'id__in' )%}
                    <div class="col-xxl-2 col-sm-4">
                        {{ field.as_update|safe }}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="col">
                <div>
                    <button type="button" class="btn btn-primary w-100"
                            onclick="SearchData();"><i
                            class="ri-equalizer-fill me-1 align-bottom"></i>
                    </button>
                </div>
            </div>
            <!--end col-->
        </div>
    </div>
</div>
{% endblock %}