{% block widget %}
    {% autoescape false %}
        <div id="{{ 'table' ~'--'~ line.p.class_key }}"
             hx-get="/base/table/{{ line.v.model.name }}"
             hx-target="this"
             hx-swap="innerHTML"
             hx-trigger="change from:{{ '#filter' ~'--'~ line.p.class_key }} delay:500ms, load, update delay:500ms"
             hx-include="{{ '#filter' ~'--'~ line.p.class_key }}"
        >
            <div class="card">
                <div class="card-body  rounded">
                    <div class="table-responsive scrollable-dropdown" style="white-space: nowrap;"
                         >
                        <table class="table table-hover" id="{{ 'table' ~'--'~ line.p.class_key }}"
                               style="vertical-align: middle;">
                            <thead class="text-muted" style="position: sticky; top: 0px">
                            {{ line.h.as_tr_header }}
                            </thead>
                            <tbody id="{{ 'tbody-table' ~'--'~ line.p.class_key }}">
                            {% for i in range(10) %}
                                {{ line.h.as_tr_placeholder }}
                            {% endfor %}
                            </tbody>
                        </table>
                        <!------Таблица----->
                    </div>

                </div>
            </div>
            <!--end card-->
        </div>
    {% endautoescape %}
{% endblock %}

{% block get %}
    {% autoescape false %}
        <div class="card">
            <div class="card-body   border rounded">
                <div class="table-responsive scrollable-dropdown "
                     style="width: auto; min-height: 400px; white-space: nowrap;"
                     data-show-columns="true">
                    <table class="table table-hover" id="{{ 'table' ~'--'~ line.p.class_key }}"
                           style="vertical-align: middle;">
                        <thead class="text-muted" style="position: sticky; top: 0px">
                        {{ line.h.as_tr_header }}
                        </thead>
                        <tbody id="{{ 'tbody-table' ~'--'~ line.p.class_key }}">
                        {% for line in line %}
                            {% if  method in ('update', 'create') %}
                                {{ line.h.as_tr_update }}
                            {% else %}
                                {{ line.h.as_tr_get }}
                            {% endif %}
                        {% endfor %}

                        </tbody>
                        {% if not method == 'get' %}
                            <tr>
                                <td style="border-width: 0; background-color: var(--bs-border-color) !important;">
                                    <a
                                            hx-boost="true"
                                            id="{{ line.field_name~'--create' }}"
                                            hx-ext="json-enc"
                                            hx-include="none"
                                            hx-target="#{{ 'tbody-table' ~'--'~ line.p.class_key }}"
                                            hx-swap="beforeend"
                                            hx-get="/base/line/{{ line.v.model.name }}?method=create&parent_field={{ line.v.parent_field._field_name }}"
                                            class="btn btn-soft-secondary fw-medium form-control ">
                                        <i class="ri-add-fill me-1 align-bottom"></i> Add Item
                                    </a>
                                </td>
                            </tr>
                        {% endif %}

                    </table>
                    <!------Таблица----->
                </div>

            </div>
        </div>
    {% endautoescape %}
{% endblock %}
