{% autoescape false %}
    <tr
            id="{{ order_type.p.key }}"
            class="line"
            ui_key="{{ order_type.p.ui_key }}"
            lsn="{{ order_type.p.lsn }}"
            hx-trigger="backend_update consume"
            hx-get="/inventory/order_type/lines?id={{ order_type._id }}"
            hx-swap="outerHTML swap:0.3s"
            hx-target="#{{ order_type.p.key }}" style="background-color: #0a7ea4"
    >
        <th class="line-col text-center" style="padding-left: 2px; padding-right: 2px;">
            <input class="form-check-input fs-5" type="checkbox"
                   name="{{ order_type.p.key ~ '--check' }}" value="{{ order_type._id }}">
        </th>
        <th class="line-col text-center" style="padding-left: 2px; padding-right: 2px;">
            <a href="/inventory/order_type/detail?order_type_id={{ order_type._id }}"
               hx-trigger="click"
               hx-push-url="false"
               hx-target="#htmx_content"
               hx-swap="beforeend transition:true"
               class="text-danger form-control">
                {{ order_type.title }}</a>
        </th>
        <th class="line-col text-center" style="padding-left: 2px; padding-right: 2px;">
            {{ order_type.order_class.as_get }}
        </th>
        <th class="line-col text-center" style="padding-left: 2px; padding-right: 2px;">
            {{ order_type.order_type_id.as_get }}
        </th>
        <th class="line-col text-center" style="padding-left: 2px; padding-right: 2px;">
            {{ order_type.backorder_action_type.as_get }}
        </th>
        <th class="line-col text-center" style="padding-left: 2px; padding-right: 2px;">
            {{ order_type.store_id.as_get }}
        </th>
        <th class="line-col text-center" style="padding-left: 2px; padding-right: 2px;">
            {{ order_type.partner_id.as_get }}
        </th>
        <th class="line-col text-center" style="padding-left: 2px; padding-right: 2px;">
            {{ order_type.reservation_method.as_get }}
        </th>
        <th class="line-col text-center" style="padding-left: 2px; padding-right: 2px;">

        {{ order_type.is_homogeneity.as_get }}
        </th>
        {% include 'components/loader.html' %}
    <span
    {% if order_type.p.is_last and scroll %}
                hx-trigger="revealed"
                hx-include="#order_type-filters"
                hx-get="/inventory/order_type/lines?cursor_lt={{ order_type.p.lsn }}"
                hx-swap="afterend">
            {% endif %}</span>
    </tr>

{% endautoescape %}