{% extends "partials/wrapper.html" %}
{% block wrapper_content %}

    <!-- Sidebar Start " -->
    <div class="sidebar-vertical-wrapper" hx-get="/front/sidebar_vertical" hx-trigger="load">
        {#{% include "/partials/sidebar_vertical.html" %}#}
    </div>
    <!--  Sidebar End -->

    <div class="page-wrapper">

        <!--  Header Start -->
        <div class="topbar-wrapper">
            <header class="topbar">
                <div class="topbar-vertical-wrapper" hx-get="/front/topbar_vertical"
                     hx-trigger="load"></div>
                <div class="topbar-vertical-wrapper" hx-get="/front/topbar_horizontal"
                     hx-trigger="load"></div>
                {#                    {% include "/partials/topbar_vertical.html" %}#}
                {#                    {% include "/partials/topbar_horizontal.html" %}#}
            </header>
        </div>
        <!--  Header End -->

        <!-- Sidebar scroll-->
        <div class="sidebar-horizontal-wrapper" hx-get="/front/sidebar_horizontal"
             hx-trigger="load">
            {#                {% include "/partials/sidebar_horizontal.html" %}#}
        </div>
        <!-- End Sidebar scroll-->
        <div class="body-wrapper">
            <!-- Page Content-->
            <div class="container-fluid p-2 p-md-3 p-lg-4" id="htmx_content">
                {% block content %}{% endblock %}
            </div>
            <!-- Page Content End-->
        </div>
        <div class="thame-editor-wrapper" hx-get="/front/theme_editor" hx-trigger="load">
            {#                {% include "/partials/theme_editor.html" %}#}
        </div>
    </div>

    <!--  Search Bar -->
    <div class="search-bar" hx-get="/front/search_bar" hx-trigger="load">
        {#            {% include "partials/search_bar.html" %}#}
    </div>
    <!--  Search Bar  END-->

    {% block base_content %}

    {% endblock %}
{% endblock %}
