<aside class="left-sidebar with-horizontal" id="sidebar-horizontal">
    <div>
        <!-- Sidebar navigation-->
        <nav id="sidebarnavh" class="sidebar-nav scroll-sidebar container-fluid">
            <ul id="sidebarnav">
                <!-- ============================= -->
                <!-- Home -->
                <!-- ============================= -->
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Home</span>
                </li>
                <!-- =================== -->
                <!-- Dashboard -->
                <!-- =================== -->
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow" href="javascript:void(0)"
                       aria-expanded="false">
                  <span>
                    <iconify-icon icon="solar:layers-line-duotone" class="ti"></iconify-icon>
                  </span>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="./main/index.html" class="sidebar-link">
                                <i class="ti ti-aperture"></i>
                                <span class="hide-menu">Dashboard 1</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/index2.html" class="sidebar-link">
                                <i class="ti ti-shopping-cart"></i>
                                <span class="hide-menu">Dashboard 2</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/index3.html" class="sidebar-link">
                                <i class="ti ti-atom"></i>
                                <span class="hide-menu">Dashboard 3</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- ============================= -->
                <!-- Front Pages -->
                <!-- ============================= -->
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Front Pages</span>
                </li>

                <!-- =================== -->
                <!-- Icon -->
                <!-- =================== -->
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow" href="javascript:void(0)"
                       aria-expanded="false">
                                      <span class="rounded-3">
                                        <iconify-icon icon="solar:home-angle-line-duotone"
                                                      class="ti"></iconify-icon>
                                      </span>
                        <span class="hide-menu">Front Pages</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a class="sidebar-link"
                               href="./main/frontend-landingpage.html"
                               aria-expanded="false">
                      <span class="rounded-3">
                        <i class="ti ti-circle"></i>
                      </span>
                                <span class="hide-menu">Homepage</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link"
                               href="./main/frontend-aboutpage.html"
                               aria-expanded="false">
                      <span class="rounded-3">
                        <i class="ti ti-circle"></i>
                      </span>
                                <span class="hide-menu">About Us</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link"
                               href="./main/frontend-blogpage.html"
                               aria-expanded="false">
                      <span class="rounded-3">
                        <i class="ti ti-circle"></i>
                      </span>
                                <span class="hide-menu">Blog</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link"
                               href="./main/frontend-blogdetailpage.html"
                               aria-expanded="false">
                      <span class="rounded-3">
                        <i class="ti ti-circle"></i>
                      </span>
                                <span class="hide-menu">Blog Details</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link"
                               href="./main/frontend-contactpage.html"
                               aria-expanded="false">
                      <span class="rounded-3">
                        <i class="ti ti-circle"></i>
                      </span>
                                <span class="hide-menu">Contact Us</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link"
                               href="./main/frontend-portfoliopage.html"
                               aria-expanded="false">
                      <span class="rounded-3">
                        <i class="ti ti-circle"></i>
                      </span>
                                <span class="hide-menu">Portfolio</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link"
                               href="./main/frontend-pricingpage.html"
                               aria-expanded="false">
                      <span class="rounded-3">
                        <i class="ti ti-circle"></i>
                      </span>
                                <span class="hide-menu">Pricing</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- ============================= -->
                <!-- Apps -->
                <!-- ============================= -->
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Apps</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link two-column has-arrow"
                       href="javascript:void(0)" aria-expanded="false">
                  <span>
                    <iconify-icon icon="solar:widget-line-duotone" class="ti"></iconify-icon>
                  </span>
                        <span class="hide-menu">Apps</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="./main/app-calendar.html" class="sidebar-link">
                                <i class="ti ti-calendar"></i>
                                <span class="hide-menu">Calendar</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/apps-kanban.html" class="sidebar-link">
                                <i class="ti ti-layout-kanban"></i>
                                <span class="hide-menu">Kanban</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/app-chat.html" class="sidebar-link">
                                <i class="ti ti-message-dots"></i>
                                <span class="hide-menu">Chat</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./main/app-email.html"
                               aria-expanded="false">
                      <span>
                        <i class="ti ti-mail"></i>
                      </span>
                                <span class="hide-menu">Email</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/app-contact.html" class="sidebar-link">
                                <i class="ti ti-phone"></i>
                                <span class="hide-menu">Contact Table</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/app-contact2.html" class="sidebar-link">
                                <i class="ti ti-list-details"></i>
                                <span class="hide-menu">Contact List</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/app-notes.html" class="sidebar-link">
                                <i class="ti ti-notes"></i>
                                <span class="hide-menu">Notes</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/app-invoice.html" class="sidebar-link">
                                <i class="ti ti-file-text"></i>
                                <span class="hide-menu">Invoice</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/page-user-profile.html"
                               class="sidebar-link">
                                <i class="ti ti-user-circle"></i>
                                <span class="hide-menu">User Profile</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/blog-posts.html" class="sidebar-link">
                                <i class="ti ti-article"></i>
                                <span class="hide-menu">Posts</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/blog-detail.html" class="sidebar-link">
                                <i class="ti ti-details"></i>
                                <span class="hide-menu">Detail</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/eco-shop.html" class="sidebar-link">
                                <i class="ti ti-shopping-cart"></i>
                                <span class="hide-menu">Shop</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/eco-shop-detail.html" class="sidebar-link">
                                <i class="ti ti-basket"></i>
                                <span class="hide-menu">Shop Detail</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/eco-product-list.html" class="sidebar-link">
                                <i class="ti ti-list-check"></i>
                                <span class="hide-menu">List</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/eco-checkout.html" class="sidebar-link">
                                <i class="ti ti-brand-shopee"></i>
                                <span class="hide-menu">Checkout</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./main/eco-add-product.html">
                                <i class="ti ti-file-plus"></i>
                                <span class="hide-menu">Add Product</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./main/eco-edit-product.html">
                                <i class="ti ti-file-pencil"></i>
                                <span class="hide-menu">Edit Product</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- ============================= -->
                <!-- PAGES -->
                <!-- ============================= -->
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">PAGES</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow" href="javascript:void(0)"
                       aria-expanded="false">
                  <span>
                    <iconify-icon icon="solar:notes-line-duotone" class="ti"></iconify-icon>
                  </span>
                        <span class="hide-menu">Pages</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="./main/page-faq.html" class="sidebar-link">
                                <i class="ti ti-help"></i>
                                <span class="hide-menu">FAQ</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/page-account-settings.html"
                               class="sidebar-link">
                                <i class="ti ti-user-circle"></i>
                                <span class="hide-menu">Account Setting</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/page-pricing.html" class="sidebar-link">
                                <i class="ti ti-currency-dollar"></i>
                                <span class="hide-menu">Pricing</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/widgets-cards.html" class="sidebar-link">
                                <i class="ti ti-cards"></i>
                                <span class="hide-menu">Card</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/widgets-banners.html" class="sidebar-link">
                                <i class="ti ti-ad"></i>
                                <span class="hide-menu">Banner</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/widgets-charts.html" class="sidebar-link">
                                <i class="ti ti-chart-bar"></i>
                                <span class="hide-menu">Charts</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/starter.html" class="sidebar-link">
                                <i class="ti ti-file"></i>
                                <span class="hide-menu">Starter</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./landingpage/index.html" class="sidebar-link">
                                <i class="ti ti-app-window"></i>
                                <span class="hide-menu">Landing Page</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/icon-tabler.html" class="sidebar-link">
                                <i class="ti ti-mood-smile"></i>
                                <span class="hide-menu">Tabler Icon</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/icon-solar.html" class="sidebar-link">
                                <i class="ti ti-mood-smile"></i>
                                <span class="hide-menu">Solar Icon</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- ============================= -->
                <!-- UI -->
                <!-- ============================= -->
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">UI</span>
                </li>
                <!-- =================== -->
                <!-- UI Elements -->
                <!-- =================== -->
                <li class="sidebar-item mega-dropdown">
                    <a class="sidebar-link has-arrow" href="javascript:void(0)"
                       aria-expanded="false">
                  <span class="rounded-3">
                    <iconify-icon icon="solar:archive-line-duotone" class="ti"></iconify-icon>
                  </span>
                        <span class="hide-menu">UI</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="./main/ui-accordian.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Accordian</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/ui-badge.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Badge</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/ui-buttons.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Buttons</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/ui-dropdowns.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Dropdowns</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/ui-modals.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Modals</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/ui-tab.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Tab</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/ui-tooltip-popover.html"
                               class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Tooltip & Popover</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/ui-notification.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Notification</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/ui-progressbar.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Progressbar</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/ui-pagination.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Pagination</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/ui-typography.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Typography</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/ui-bootstrap-ui.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Bootstrap UI</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/ui-breadcrumb.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Breadcrumb</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/ui-offcanvas.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Offcanvas</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/ui-lists.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Lists</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/ui-grid.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Grid</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/ui-carousel.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Carousel</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/ui-scrollspy.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Scrollspy</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/ui-spinner.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Spinner</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/ui-link.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Link</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- ============================= -->
                <!-- Forms -->
                <!-- ============================= -->
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Forms</span>
                </li>
                <!-- =================== -->
                <!-- Forms -->
                <!-- =================== -->
                <li class="sidebar-item">
                    <a class="sidebar-link two-column has-arrow"
                       href="javascript:void(0)" aria-expanded="false">
                  <span class="rounded-3">
                    <iconify-icon icon="solar:folder-line-duotone" class="ti"></iconify-icon>
                  </span>
                        <span class="hide-menu">Forms</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <!-- form elements -->
                        <li class="sidebar-item">
                            <a href="./main/form-inputs.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Forms Input</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/form-input-groups.html"
                               class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Input Groups</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/form-input-grid.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Input Grid</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/form-checkbox-radio.html"
                               class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Checkbox & Radios</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/form-bootstrap-switch.html"
                               class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Bootstrap Switch</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/form-select2.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Select2</span>
                            </a>
                        </li>
                        <!-- form inputs -->
                        <li class="sidebar-item">
                            <a href="./main/form-basic.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Basic Form</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/form-vertical.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Form Vertical</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/form-horizontal.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Form Horizontal</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/form-actions.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Form Actions</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/form-row-separator.html"
                               class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Row Separator</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/form-bordered.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Form Bordered</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/form-detail.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Form Detail</span>
                            </a>
                        </li>
                        <!-- form wizard -->
                        <li class="sidebar-item">
                            <a href="./main/form-wizard.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Form Wizard</span>
                            </a>
                        </li>
                        <!-- Quill Editor -->
                        <li class="sidebar-item">
                            <a href="./main/form-editor-quill.html"
                               class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Quill Editor</span>
                            </a>
                        </li>
                        <!-- Tinymce Editor -->
                        <li class="sidebar-item">
                            <a href="./main/form-editor-tinymce.html"
                               class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Tinymce Editor</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- ============================= -->
                <!-- Tables -->
                <!-- ============================= -->
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Tables</span>
                </li>
                <!-- =================== -->
                <!-- Bootstrap Table -->
                <!-- =================== -->
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow" href="javascript:void(0)"
                       aria-expanded="false">
                  <span class="rounded-3">
                    <iconify-icon icon="solar:tuning-square-2-line-duotone"
                                  class="ti"></iconify-icon>
                  </span>
                        <span class="hide-menu">Tables</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="./main/table-basic.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Basic Table</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/table-dark-basic.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Dark Table</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/table-sizing.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Sizing Table</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/table-layout-coloured.html"
                               class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Coloured Table</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/table-datatable-basic.html"
                               class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Basic Initialisation</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/table-datatable-api.html"
                               class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">API</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/table-datatable-advanced.html"
                               class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Advanced</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- ============================= -->
                <!-- Charts -->
                <!-- ============================= -->
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Charts</span>
                </li>
                <!-- =================== -->
                <!-- Apex Chart -->
                <!-- =================== -->
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow" href="javascript:void(0)"
                       aria-expanded="false">
                  <span class="rounded-3">
                    <iconify-icon icon="solar:chart-square-line-duotone" class="ti"></iconify-icon>
                  </span>
                        <span class="hide-menu">Charts</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="./main/chart-apex-line.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Line Chart</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/chart-apex-area.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Area Chart</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/chart-apex-bar.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Bar Chart</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/chart-apex-pie.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Pie Chart</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/chart-apex-radial.html"
                               class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Radial Chart</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="./main/chart-apex-radar.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Radar Chart</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- multi level -->
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow" href="javascript:void(0)"
                       aria-expanded="false">
                  <span class="rounded-3">
                    <iconify-icon icon="solar:airbuds-case-minimalistic-line-duotone"
                                  class="ti"></iconify-icon>
                  </span>
                        <span class="hide-menu">Multi DD</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="./docs/index.html" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Documentation</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="javascript:void(0)" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Page 1</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="javascript:void(0)" class="sidebar-link has-arrow">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Page 2</span>
                            </a>
                            <ul aria-expanded="false" class="collapse second-level">
                                <li class="sidebar-item">
                                    <a href="javascript:void(0)" class="sidebar-link">
                                        <i class="ti ti-circle"></i>
                                        <span class="hide-menu">Page 2.1</span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="javascript:void(0)" class="sidebar-link">
                                        <i class="ti ti-circle"></i>
                                        <span class="hide-menu">Page 2.2</span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="javascript:void(0)" class="sidebar-link">
                                        <i class="ti ti-circle"></i>
                                        <span class="hide-menu">Page 2.3</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a href="javascript:void(0)" class="sidebar-link">
                                <i class="ti ti-circle"></i>
                                <span class="hide-menu">Page 3</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
</aside>
<script>
    app.initSidebarMenu()

</script>