<!-- ---------------------------------- -->
<!-- Start Vertical Layout Sidebar -->
<!-- ---------------------------------- -->
<aside class="side-mini-panel with-vertical" id="sidebar-vertical">
    <div class="iconbar">
        <div>
            <div class="mini-nav">
                <div class="brand-logo d-flex align-items-center justify-content-center">
                    <a class="nav-link sidebartoggler" id="headerCollapse"
                       href="javascript:void(0)">
                        <iconify-icon icon="solar:hamburger-menu-line-duotone"
                                      class="fs-7"></iconify-icon>
                    </a>
                </div>
                <ul class="mini-nav-ul" data-simplebar>

                    <!-- --------------------------------------------------------------------------------------------------------- -->
                    <!-- Dashboards -->
                    <!-- --------------------------------------------------------------------------------------------------------- -->
                    <li class="mini-nav-item" id="mini-dashboards">
                        <a href="javascript:void(0)" data-bs-toggle="tooltip"
                           data-bs-custom-class="custom-tooltip" data-bs-placement="right"
                           data-bs-title="Dashboards" title="Dashboards">
                            <iconify-icon icon="solar:graph-new-up-linear" class="fs-7"></iconify-icon>
                        </a>
                    </li>

                    <!-- --------------------------------------------------------------------------------------------------------- -->
                    <!-- Inventory -->
                    <!-- --------------------------------------------------------------------------------------------------------- -->
                    <li class="mini-nav-item" id="mini-inventory">
                        <a href="javascript:void(0)" data-bs-toggle="tooltip"
                           data-bs-custom-class="custom-tooltip" data-bs-placement="right"
                           data-bs-title="Inventory">
                            <iconify-icon icon="solar:box-broken"
                                          class="fs-7"></iconify-icon>
                        </a>
                    </li>
                    <li>
                        <span class="sidebar-divider lg"></span>
                    </li>
                    <!-- --------------------------------------------------------------------------------------------------------- -->
                    <!-- Basic  -->
                    <!-- --------------------------------------------------------------------------------------------------------- -->
                    <li class="mini-nav-item" id="mini-basic">
                        <a href="javascript:void(0)" data-bs-toggle="tooltip"
                           data-bs-custom-class="custom-tooltip" data-bs-placement="right"
                           data-bs-title="Basic">
                            <iconify-icon icon="solar:layers-bold-duotone"
                                          class="fs-7"></iconify-icon>
                        </a>
                    </li>


                    <li>
                        <span class="sidebar-divider lg"></span>
                    </li>
                    <li class="mini-nav-item" id="mini-administration">
                        <a href="javascript:void(0)" data-bs-toggle="tooltip"
                           data-bs-custom-class="custom-tooltip" data-bs-placement="right"
                           data-bs-title="Administration">
                            <iconify-icon icon="solar:server-minimalistic-broken"
                                          class="fs-7"></iconify-icon>
                        </a>
                    </li>
                    <!-- --------------------------------------------------------------------------------------------------------- -->
                    <!-- Auth -->
                    <!-- --------------------------------------------------------------------------------------------------------- -->
                    <li class="mini-nav-item" id="mini-auth">
                        <a href="javascript:void(0)" data-bs-toggle="tooltip"
                           data-bs-custom-class="custom-tooltip" data-bs-placement="right"
                           data-bs-title="Authentication Pages">
                            <iconify-icon icon="solar:lock-keyhole-line-duotone"
                                          class="fs-7"></iconify-icon>
                        </a>
                    </li>

                    <li class="mini-nav-item" id="mini-docs">
                        <a href="javascript:void(0)" data-bs-toggle="tooltip"
                           data-bs-custom-class="custom-tooltip" data-bs-placement="right"
                           data-bs-title="Documentation">
                            <iconify-icon icon="solar:bill-list-broken"
                                          class="fs-7"></iconify-icon>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="sidebarmenu" hx-push-url="true">
                <div class="brand-logo d-flex align-items-center nav-logo">
                    <a href="./main/index.html" class="text-nowrap logo-img">
                        <img height="40" weight="136"
                             src="{{ url_for('static' ,path='images/logo-light.png') }}"
                             alt="Logo"/>
                    </a>

                </div>
                <!-- ---------------------------------- -->
                <!-- Dashboard -->
                <!-- ---------------------------------- -->
                <nav class="sidebar-nav" id="menu-right-dashboards" data-simplebar>
                    <ul class="sidebar-menu" id="sidebarnav">
                        <!-- ---------------------------------- -->
                        <!-- Home -->
                        <!-- ---------------------------------- -->
                        <li class="nav-small-cap">
                            <span class="hide-menu" data-key="t-dashboards">Dashboards</span>
                        </li>
                        <!-- ---------------------------------- -->
                        <!-- Dashboard -->
                        <!-- ---------------------------------- -->
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/sales/dashboards/sales" id="get-url"
                               aria-expanded="false">
                                <iconify-icon icon="solar:atom-line-duotone"></iconify-icon>
                                <span class="hide-menu" data-key="t-sales-dashboard">Sales Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/delivery/dashboards/logistics"
                               aria-expanded="false">
                                <iconify-icon
                                        icon="solar:chart-line-duotone"></iconify-icon>
                                <span class="hide-menu" data-key="t-logistics-dashboard">Logistic Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/inventory/dashboards/inventory"
                               aria-expanded="false">
                                <iconify-icon
                                        icon="solar:screencast-2-line-duotone"></iconify-icon>
                                <span class="hide-menu" data-key="t-inventory-dashboard">Inventory Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)"
                               aria-expanded="false">
                                <iconify-icon
                                        icon="solar:home-angle-line-duotone"></iconify-icon>
                                <span class="hide-menu" data-key="t-reports">Reports</span>
                            </a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a class="sidebar-link"
                                       href="/sales/reports/sales"
                                    >
                                        <span class="icon-small"></span>
                                        Sales
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link"
                                       href="./main/frontend-aboutpage.html">
                                        <span class="icon-small"></span>
                                        Clients
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link"
                                       href="./main/frontend-blogpage.html">
                                        <span class="icon-small"></span>
                                        Delivery
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link"
                                       href="./main/frontend-blogdetailpage.html">
                                        <span class="icon-small"></span>
                                        Inventory
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <span class="sidebar-divider"></span>
                        </li>

                        <li class="nav-small-cap">
                            <span class="hide-menu">Apps</span>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="#"
                               aria-expanded="false">
                                <iconify-icon
                                        icon="solar:screencast-2-line-duotone"></iconify-icon>
                                <span class="hide-menu" data-key="t-shop">Shop</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="#"
                               aria-expanded="false">
                                <iconify-icon
                                        icon="solar:screencast-2-line-duotone"></iconify-icon>
                                <span class="hide-menu" data-key="t-shop">Delivery App</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="#"
                               aria-expanded="false">
                                <iconify-icon
                                        icon="solar:screencast-2-line-duotone"></iconify-icon>
                                <span class="hide-menu" data-key="t-shop">Store App</span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <!-- ---------------------------------- -->
                <!-- Inventory -->
                <!-- ---------------------------------- -->
                <nav class="sidebar-nav scroll-sidebar" id="menu-right-inventory"
                     data-simplebar>
                    <ul class="sidebar-menu" id="sidebarnav">
                        <!-- ---------------------------------- -->
                        <!-- Inventory -->
                        <!-- ---------------------------------- -->
                        <li class="nav-small-cap">
                            <span class="hide-menu" data-key="t-inventory">My Store</span>
                        </li>

                        <li class="sidebar-item">
                            <a href="/inventory/store_monitor" hx-target="#htmx_content"
                               hx-swap="innerHTML transition:true"
                               class="sidebar-link">
                                <iconify-icon
                                        icon="solar:monitor-broken"></iconify-icon>
                                <span class="hide-menu" data-key="t-store-monitor">Store Monitor</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                                <iconify-icon icon="solar:home-angle-line-duotone"></iconify-icon>
                                <span class="hide-menu" data-key="t-sidebar-moves">Moves</span>
                            </a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a class="sidebar-link"
                                       hx-swap="innerHTML transition:true"
                                       hx-target="#htmx_content"
                                       href="/inventory/move"
                                       data-key="t-sidebar-moves"
                                    >
                                        <span class="icon-small"></span>
                                        Moves
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link"
                                       hx-swap="innerHTML transition:true"
                                       hx-target="#htmx_content"
                                       data-key="t-sidebar-move-logs"
                                       href="/inventory/move_log">
                                        <span class="icon-small"></span>
                                        Move Logs
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link"
                                       hx-swap="innerHTML transition:true"
                                       hx-target="#htmx_content"
                                       data-key="t-sidebar-suggests"
                                       href="/inventory/suggests">
                                        <span class="icon-small"></span>
                                        Suggests
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                                <iconify-icon icon="solar:home-angle-line-duotone"></iconify-icon>
                                <span class="hide-menu">Stock Reports</span>
                            </a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a class="sidebar-link"
                                       hx-swap="innerHTML transition:true"
                                       hx-target="#htmx_content"
                                       href="/inventory/stock_reports/quants">
                                        <span class="icon-small"></span>
                                        Quants
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link"
                                       hx-swap="innerHTML transition:true"
                                       hx-target="#htmx_content"
                                       href="/inventory/stock_reports/moves">
                                        <span class="icon-small"></span>
                                        Stock Moves
                                    </a>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                                <iconify-icon icon="solar:home-angle-line-duotone"></iconify-icon>
                                <span class="hide-menu" data-key="t-locations-menu">Store Locations</span>
                            </a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a class="sidebar-link"
                                       hx-swap="innerHTML transition:true"
                                       hx-target="#htmx_content"
                                       href="/inventory/location">
                                        <span class="icon-small"></span>
                                        All Locations
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link"
                                       hx-swap="innerHTML transition:true"
                                       hx-push-url="true"
                                       hx-target="#htmx_content"
                                       href="/inventory/location/zones?location_class__in=zone">
                                        <span class="icon-small"></span>
                                        Zones
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link"
                                       hx-swap="innerHTML transition:true"
                                       hx-target="#htmx_content"
                                       href="/inventory/location/places">
                                        <span class="icon-small"></span>
                                        Places
                                    </a>
                                <li class="sidebar-item">
                                    <a class="sidebar-link"
                                       hx-swap="innerHTML transition:true"
                                       hx-target="#htmx_content"
                                       href="/inventory/location_type">
                                        <span class="icon-small"></span>
                                        Location Types
                                    </a>
                            </ul>
                        <li class="sidebar-item">
                            <a href="/inventory/store_staff" hx-target="#htmx_content"
                               hx-swap="innerHTML transition:true"
                               class="sidebar-link">
                                <iconify-icon icon="solar:people-nearby-broken"></iconify-icon>
                                <span class="hide-menu" data-key="t-store-staff">Store Staff</span>
                            </a>
                        </li>


                        <li class="nav-small-cap">
                            <span class="hide-menu" data-key="t-inventory">Inventory</span>
                        </li>

                        <li class="sidebar-item">
                            <a href="/inventory/store" hx-target="#htmx_content" hx-swap="innerHTML transition:true"
                               class="sidebar-link">
                                <iconify-icon
                                        icon="solar:notes-line-duotone"></iconify-icon>
                                <span class="hide-menu" data-key="t-stores">Stores</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/inventory/order" hx-target="#htmx_content" hx-swap="innerHTML transition:true"
                               class="sidebar-link">
                                <iconify-icon
                                        icon="solar:notes-line-duotone"></iconify-icon>
                                <span class="hide-menu" data-key="t-orders">Orders</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/inventory/move" hx-target="#htmx_content" hx-swap="innerHTML transition:true"
                               class="sidebar-link">
                                <iconify-icon
                                        icon="solar:accessibility-line-duotone"></iconify-icon>
                                <span class="hide-menu" data-key="t-moves">Moves</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/inventory/suggest" hx-target="#htmx_content" hx-swap="innerHTML transition:true"
                               class="sidebar-link">
                                <iconify-icon
                                        icon="solar:accessibility-line-duotone"></iconify-icon>
                                <span class="hide-menu"
                                      data-key="t-suggests">Suggests</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <span class="hide-menu" data-key="t-settings">Settings</span>
                        </li>
                        <li class="sidebar-item">
                            <a href="/inventory/order_type" hx-target="#htmx_content"
                               class="sidebar-link">
                                <iconify-icon
                                        icon="solar:card-search-line-duotone"></iconify-icon>
                                <span class="hide-menu"
                                      data-key="t-order_type">Order Types</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/inventory/storage_type" hx-target="#htmx_content"
                               class="sidebar-link">
                                <iconify-icon
                                        icon="solar:card-search-line-duotone"></iconify-icon>
                                <span class="hide-menu"
                                      data-key="t-storage_type">Storage Types</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/inventory/product_storage_type" hx-target="#htmx_content"
                               class="sidebar-link">
                                <iconify-icon
                                        icon="solar:card-search-line-duotone"></iconify-icon>
                                <span class="hide-menu"
                                      data-key="t-product_storage_type">Product Storage</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                                <iconify-icon icon="solar:home-angle-line-duotone"></iconify-icon>
                                <span class="hide-menu" data-key="t-locations-menu">Locations</span>
                            </a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a class="sidebar-link"
                                       hx-swap="innerHTML transition:true"
                                       hx-target="#htmx_content"
                                       href="/inventory/location">
                                        <span class="icon-small"></span>
                                        All Locations
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link"
                                       hx-swap="innerHTML transition:true"
                                       hx-target="#htmx_content"
                                       href="/inventory/location/zones">
                                        <span class="icon-small"></span>
                                        Zones
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link"
                                       hx-swap="innerHTML transition:true"
                                       hx-target="#htmx_content"
                                       href="/inventory/location/places">
                                        <span class="icon-small"></span>
                                        Places
                                    </a>
                                <li class="sidebar-item">
                                    <a class="sidebar-link"
                                       hx-swap="innerHTML transition:true"
                                       hx-target="#htmx_content"
                                       href="/inventory/location_type">
                                        <span class="icon-small"></span>
                                        Location Types
                                    </a>
                            </ul>


                    </ul>
                </nav>

                <!-- ---------------------------------- -->
                <!-- Basic -->
                <!-- ---------------------------------- -->
                <nav class="sidebar-nav scroll-sidebar" id="menu-right-basic"
                     data-simplebar>
                    <div>
                        <ul class="sidebar-menu" id="sidebarnav">
                            <!-- ---------------------------------- -->
                            <!-- Home -->
                            <!-- ---------------------------------- -->
                            <li class="nav-small-cap">
                                <span class="hide-menu">Forms</span>
                            </li>
                            <!-- ---------------------------------- -->
                            <!-- Form elements -->
                            <!-- ---------------------------------- -->
                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                   aria-expanded="false">
                                    <iconify-icon
                                            icon="solar:text-selection-line-duotone"></iconify-icon>
                                    <span class="hide-menu">Forms Elements</span>
                                </a>
                                <ul aria-expanded="false" class="collapse first-level">
                                    <li class="sidebar-item">
                                        <a href="./main/form-inputs.html"
                                           class="sidebar-link">
                                            <span class="icon-small"></span>
                                            <span class="hide-menu">Forms Input</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="./main/form-input-groups.html"
                                           class="sidebar-link">
                                            <span class="icon-small"></span>
                                            <span class="hide-menu">Input Groups</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="./main/form-input-grid.html"
                                           class="sidebar-link">
                                            <span class="icon-small"></span>
                                            <span class="hide-menu">Input Grid</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="./main/form-checkbox-radio.html"
                                           class="sidebar-link">
                                            <span class="icon-small"></span>
                                            <span class="hide-menu">Checks & Radios</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="./main/form-bootstrap-switch.html"
                                           class="sidebar-link">
                                            <span class="icon-small"></span>
                                            <span class="hide-menu">BT Switch</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="./main/form-select2.html"
                                           class="sidebar-link">
                                            <span class="icon-small"></span>
                                            <span class="hide-menu">Select2</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- ---------------------------------- -->
                            <!-- Form Input -->
                            <!-- ---------------------------------- -->
                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                   aria-expanded="false">
                                    <iconify-icon
                                            icon="solar:password-minimalistic-input-line-duotone"></iconify-icon>
                                    <span class="hide-menu">Forms Inputs</span>
                                </a>
                                <ul aria-expanded="false" class="collapse first-level">
                                    <li class="sidebar-item">
                                        <a href="./main/form-basic.html"
                                           class="sidebar-link">
                                            <span class="icon-small"></span>
                                            <span class="hide-menu">Basic Form</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="./main/form-vertical.html"
                                           class="sidebar-link">
                                            <span class="icon-small"></span>
                                            <span class="hide-menu">Form Vertical</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="./main/form-horizontal.html"
                                           class="sidebar-link">
                                            <span class="icon-small"></span>
                                            <span class="hide-menu">Form Horizontal</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="./main/form-actions.html"
                                           class="sidebar-link">
                                            <span class="icon-small"></span>
                                            <span class="hide-menu">Form Actions</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="./main/form-row-separator.html"
                                           class="sidebar-link">
                                            <span class="icon-small"></span>
                                            <span class="hide-menu">Row Separator</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="./main/form-bordered.html"
                                           class="sidebar-link">
                                            <span class="icon-small"></span>
                                            <span class="hide-menu">Form Bordered</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="./main/form-detail.html"
                                           class="sidebar-link">
                                            <span class="icon-small"></span>
                                            <span class="hide-menu">Form Detail</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="./main/form-striped-row.html"
                                           class="sidebar-link">
                                            <span class="icon-small"></span>
                                            <span class="hide-menu">Striped Rows</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="./main/form-floating-input.html"
                                           class="sidebar-link">
                                            <span class="icon-small"></span>
                                            <span class="hide-menu">Floating Input</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar-item">
                                <a href="./main/form-wizard.html" class="sidebar-link">
                                    <iconify-icon
                                            icon="solar:archive-line-duotone"></iconify-icon>
                                    <span class="hide-menu">Form Wizard</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a href="./main/form-repeater.html" class="sidebar-link">
                                    <iconify-icon
                                            icon="solar:repeat-one-minimalistic-bold-duotone"></iconify-icon>
                                    <span class="hide-menu">Form Repeater</span>
                                </a>
                            </li>
                            <li>
                                <span class="sidebar-divider lg"></span>
                            </li>
                            <li class="nav-small-cap">
                                <span class="hide-menu">Addons</span>
                            </li>
                            <li class="sidebar-item">
                                <a href="./main/form-dropzone.html" class="sidebar-link">
                                    <iconify-icon
                                            icon="solar:flip-horizontal-line-duotone"></iconify-icon>
                                    <span class="hide-menu">Dropzone</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a href="./main/form-mask.html" class="sidebar-link">
                                    <iconify-icon
                                            icon="solar:mask-happly-line-duotone"></iconify-icon>
                                    <span class="hide-menu">Form Mask</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a href="./main/form-typeahead.html" class="sidebar-link">
                                    <iconify-icon
                                            icon="solar:high-quality-line-duotone"></iconify-icon>
                                    <span class="hide-menu">Form Typehead</span>
                                </a>
                            </li>
                            <li>
                                <span class="sidebar-divider lg"></span>
                            </li>
                            <li class="nav-small-cap">
                                <span class="hide-menu">Validation</span>
                            </li>
                            <li class="sidebar-item">
                                <a href="./main/form-bootstrap-validation.html"
                                   class="sidebar-link">
                                    <iconify-icon
                                            icon="solar:shield-warning-line-duotone"></iconify-icon>
                                    <span class="hide-menu">BT Validation</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a href="./main/form-custom-validation.html"
                                   class="sidebar-link">
                                    <iconify-icon
                                            icon="solar:shield-warning-line-duotone"></iconify-icon>
                                    <span class="hide-menu">Custom Validation</span>
                                </a>
                            </li>
                            <li>
                                <span class="sidebar-divider lg"></span>
                            </li>
                            <li class="nav-small-cap">
                                <span class="hide-menu">Pickers</span>
                            </li>
                            <li class="sidebar-item">
                                <a href="./main/form-picker-colorpicker.html"
                                   class="sidebar-link">
                                    <iconify-icon
                                            icon="solar:waterdrop-line-duotone"></iconify-icon>
                                    <span class="hide-menu">Colorpicker</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a href="./main/form-picker-bootstrap-rangepicker.html"
                                   class="sidebar-link">
                                    <iconify-icon
                                            icon="solar:square-transfer-horizontal-line-duotone"></iconify-icon>
                                    <span class="hide-menu">Rangepicker</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a href="./main/form-picker-bootstrap-datepicker.html"
                                   class="sidebar-link">
                                    <iconify-icon
                                            icon="solar:calendar-date-line-duotone"></iconify-icon>
                                    <span class="hide-menu">BT Datepicker</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a href="./main/form-picker-material-datepicker.html"
                                   class="sidebar-link">
                                    <iconify-icon
                                            icon="solar:smartphone-update-line-duotone"></iconify-icon>
                                    <span class="hide-menu">MT Datepicker</span>
                                </a>
                            </li>
                            <li>
                                <span class="sidebar-divider lg"></span>
                            </li>
                            <li class="nav-small-cap">
                                <span class="hide-menu">Editors</span>
                            </li>

                            <li class="sidebar-item">
                                <a href="./main/form-editor-quill.html"
                                   class="sidebar-link">
                                    <iconify-icon
                                            icon="solar:clapperboard-edit-line-duotone"></iconify-icon>
                                    <span class="hide-menu">Quill Editor</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a href="./main/form-editor-tinymce.html"
                                   class="sidebar-link">
                                    <iconify-icon
                                            icon="solar:clapperboard-edit-line-duotone"></iconify-icon>
                                    <span class="hide-menu">Tinymce Edtor</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <!-- ---------------------------------- -->
                <!-- Administration -->
                <!-- ---------------------------------- -->
                <nav class="sidebar-nav scroll-sidebar" id="menu-right-administration"
                     data-simplebar>
                    <ul class="sidebar-menu" id="sidebarnav">
                        <!-- ---------------------------------- -->
                        <!-- DOMAINS -->
                        <!-- ---------------------------------- -->
                        {% for domain, models in nav.items() %}
                            <li class="nav-small-cap">
                            <span class="hide-menu"
                                  data-key="t-{{ domain }}">{{ domain|capitalize }}</span>
                            </li>
                            <!-- ---------------------------------- -->
                            <!-- MODELS-->
                            <!-- ---------------------------------- -->
                            {% for model, path in models.items() %}
                                <li class="sidebar-item">
                                    <a href="{{ path }}" class="sidebar-link" hx-target="#htmx_content">
                                        <iconify-icon
                                                icon="solar:tablet-line-duotone"></iconify-icon>
                                        <span class="hide-menu"
                                              data-key="t-{{ model }}">{{ model|capitalize }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </nav>
                <!-- ---------------------------------- -->
                <!-- Auth Pages -->
                <!-- ---------------------------------- -->
                <nav class="sidebar-nav scroll-sidebar" id="menu-right-auth"
                     data-simplebar>
                    <ul class="sidebar-menu" id="sidebarnav">
                        <!-- ---------------------------------- -->
                        <!-- Home -->
                        <!-- ---------------------------------- -->
                        <li class="nav-small-cap">
                            <span class="hide-menu">Auth</span>
                        </li>
                        <!-- ---------------------------------- -->
                        <!-- Dashboard -->
                        <!-- ---------------------------------- -->
                        <li class="sidebar-item">
                            <a href="/basic/user/login" class="sidebar-link">
                                <iconify-icon
                                        icon="solar:login-3-line-duotone"></iconify-icon>
                                <span class="hide-menu" data-key="t-login">Login</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/basic/user/logout" class="sidebar-link" hx-swap="none" hx-push-url="false">
                                <iconify-icon
                                        icon="solar:logout-3-broken"></iconify-icon>
                                <span class="hide-menu" data-key="t-logout">Logout</span>
                            </a>
                        </li>

                    </ul>
                </nav>

                <!-- ---------------------------------- -->
                <!-- Docs & Other -->
                <!-- ---------------------------------- -->
                <nav class="sidebar-nav scroll-sidebar" id="menu-right-docs"
                     data-simplebar>
                    <ul class="sidebar-menu" id="sidebarnav">
                        <li class="nav-small-cap">
                            <span class="hide-menu">Documentation</span>
                        </li>
                        <li class="sidebar-item">
                            <a href="./docs/index.html" class="sidebar-link">
                                <iconify-icon
                                        icon="solar:settings-line-duotone"></iconify-icon>
                                <span class="hide-menu">Getting Started</span>
                            </a>
                        </li>
                        <li>
                            <span class="sidebar-divider"></span>
                        </li>
                        <li class="nav-small-cap">
                            <span class="hide-menu">Multi level</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow primary-hover-bg"
                               href="javascript:void(0)" aria-expanded="false">
                                <iconify-icon
                                        icon="solar:align-left-line-duotone"></iconify-icon>
                                <span class="hide-menu">Menu Level</span>
                            </a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a href="javascript:void(0)" class="sidebar-link">
                                        <span class="icon-small"></span>
                                        <span class="hide-menu">Level 1</span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link has-arrow"
                                       href="javascript:void(0)"
                                       aria-expanded="false">
                                        <span class="icon-small"></span>
                                        <span class="hide-menu">Level 1.1</span>
                                    </a>
                                    <ul aria-expanded="false" class="collapse two-level">
                                        <li class="sidebar-item">
                                            <a href="javascript:void(0)"
                                               class="sidebar-link">
                                                <span class="icon-small"></span>
                                                <span class="hide-menu">Level 2</span>
                                            </a>
                                        </li>
                                        <li class="sidebar-item">
                                            <a class="sidebar-link has-arrow"
                                               href="javascript:void(0)"
                                               aria-expanded="false">
                                                <span class="icon-small"></span>
                                                <span class="hide-menu">Level 2.1</span>
                                            </a>
                                            <ul aria-expanded="false"
                                                class="collapse three-level">
                                                <li class="sidebar-item">
                                                    <a href="javascript:void(0)"
                                                       class="sidebar-link">
                                                        <span class="icon-small"></span>
                                                        <span class="hide-menu">Level 3</span>
                                                    </a>
                                                </li>
                                                <li class="sidebar-item">
                                                    <a href="javascript:void(0)"
                                                       class="sidebar-link">
                                                        <span class="icon-small"></span>
                                                        <span class="hide-menu">Level 3.1</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span class="sidebar-divider"></span>
                        </li>
                        <li class="nav-small-cap">
                            <span class="hide-menu">More Options</span>
                        </li>
                        <li class="sidebar-item">
                            <div class="sidebar-link">
                                <span class="round-10 rounded-circle d-block bg-primary"></span>
                                <span class="hide-menu">Applications</span>
                            </div>
                        </li>
                        <li class="sidebar-item">
                            <div class="sidebar-link">
                                <span class="round-10 rounded-circle d-block bg-secondary"></span>
                                <span class="hide-menu">Form Options</span>
                            </div>
                        </li>
                        <li class="sidebar-item">
                            <div class="sidebar-link">
                                <span class="round-10 rounded-circle d-block bg-danger"></span>
                                <span class="hide-menu">Table Variations</span>
                            </div>
                        </li>
                        <li class="sidebar-item">
                            <div class="sidebar-link">
                                <span class="round-10 rounded-circle d-block bg-warning"></span>
                                <span class="hide-menu">Charts Selection</span>
                            </div>
                        </li>
                        <li class="sidebar-item">
                            <div class="sidebar-link">
                                <span class="round-10 rounded-circle d-block bg-success"></span>
                                <span class="hide-menu">Widgets</span>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</aside>
<script>
    app.initSidebarMenu()
</script>