<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme"
      data-layout="vertical">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static' ,path='images/logos/favicon.png') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' ,path='css/toastify.min.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/@tabler/icons@1.39.1/iconfont/tabler-icons.min.css" rel="stylesheet">
    <!-- Core Css -->
    <link rel="stylesheet" href="{{ url_for('static' ,path='css/styles.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static' ,path='css/choices.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static' ,path='css/app.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static' ,path='css/htmx.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static' ,path='css/bootstrap-switch.min.css') }}"/>

    <title>MatDash Bootstrap Admin</title>
</head>

<body id="body" hx-boost="true">
<div id="websocket_bus" hx-ext="ws" ws-connect="{{ ws }}"></div>
<div class="position-fixed top-0 end-0 p-3">
    <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert"
         aria-live="assertive"
         aria-atomic="true">
        <div class="d-flex">
            <div id="toast-body" class="toast-body"></div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto"
                    data-bs-dismiss="toast"
                    aria-label="Close"></button>
        </div>
    </div>
</div>
<div class="main-wrapper" id="main-wrapper" hx-push-url="false">
    {% block wrapper_content %}

    {% endblock %}
</div>
<div class="dark-transparent sidebartoggler"></div>

<!-- Import Js Libs Files -->
<script src="{{ url_for('static' ,path='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static' ,path='js/toastify.js') }}"></script>
<script src="{{ url_for('static' ,path='js/choices.min.js') }}"></script>
<script src="{{ url_for('static' ,path='js/simplebar.min.js') }}"></script>
<script src="{{ url_for('static' ,path='js/iconify-icon.min.js') }}"></script>
<script src="{{ url_for('static' ,path='js/apexcharts.min.js') }}"></script>

<!-- Import Project Files -->
<script src="{{ url_for('static' ,path='js/htmx.min.js') }}"></script>
<script src="{{ url_for('static' ,path='js/ws.js') }}"></script>
<script src="{{ url_for('static' ,path='js/json-enc.js') }}"></script>
<!-- Import App Files -->
<script src="{{ url_for('static' ,path='js/app.js') }}"></script>
</body>

</html>