<!DOCTYPE html>
<html lang="en" data-layout="semibox" data-sidebar-visibility="show" data-topbar="light" data-sidebar="light"
      data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock title %} | Velzon - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description"/>
    <meta content="Themesbrand" name="author"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="{{ url_for('static' ,path='images/favicon.ico') }}"/>

    {% block css %}
        {% block extra_css %}
        {% endblock extra_css %}

        <!-- Layout config Js -->
        <script src="{{ url_for('static' ,path='js/layout.js') }}"></script>
        <!-- Bootstrap Css -->
        <link href="{{ url_for('static' ,path='css/bootstrap.min.css') }}" id="bootstrap-style" rel="stylesheet"
              type="text/css"/>
        <!-- Icons Css -->
        <link href="{{ url_for('static' ,path='css/icons.min.css') }}" rel="stylesheet" type="text/css"/>
        <!-- App Css-->
        <link href="{{ url_for('static' ,path='css/app.min.css') }}" id="app-style" rel="stylesheet" type="text/css"/>
        <!-- custom Css-->
        <link href="{{ url_for('static' ,path='css/custom.min.css') }}" id="app-style" rel="stylesheet"
              type="text/css"/>
    {% endblock css %}
</head>

<body>
<!-- Begin page -->
<div id="layout-wrapper">

        <div hx-get="/htmx/topbar" hx-trigger="load"></div>

    {% block sidebar %}
        {% include "partials/sidebar.html" %}
    {% endblock sidebar %}
    <div id="htmx_content">
        {% block content %}
        <!--<div hx-get="/" hx-trigger="load"></div>-->
        {% endblock %}
    </div>
    {% block footer %}
        <div hx-get="/htmx/footer" hx-trigger="load"></div>
    {% endblock footer %}


</div>

{% block extra_content %}
{% endblock extra_content %}

<!-- END layout-wrapper -->
{% block right_sidebar %}
    {% include "partials/customizer.html" %}
{% endblock right_sidebar %}

{% block javascript %}
    <!-- JAVASCRIPT -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script>

        // auth is a promise returned by our authentication system

        // await the auth token and store it somewhere

        let authToken = null
        // gate htmx requests on the auth token
        htmx.on("htmx:confirm", (e) => {
            let authToken = localStorage.getItem('token');
            // if there is no auth token
            if (authToken == null && !window.location.pathname.includes('login')) {
                e.preventDefault()
                window.history.pushState('Login', 'Login', '/auth/login');
                htmx.ajax('GET', '/auth/login', {
                        target:'#htmx_content', headers:{
                            'HX-Replace-Url': 'true'
                        }
                    })
                //console.log(authToken)
            }
        });

        // add the auth token to the request as a header
        htmx.on("htmx:configRequest", (e) => {
            //e.detail.headers["AUTH"] = authToken
            if (authToken == null) {
                console.log('configRequest')
                //e.preventDefault()
            }
        })
        htmx.on("htmx:afterRequest", (e) => {
            //e.detail.headers["AUTH"] = authToken
            if (authToken == null) {
                console.log('afterRequest')
                //e.preventDefault()
            }
        })
    </script>
    <script src="{{ url_for('static' ,path='libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ url_for('static' ,path='libs/simplebar/dist/simplebar.min.js') }}"></script>
    <script src="{{ url_for('static' ,path='libs/node-waves/dist/waves.min.js') }}"></script>
    <script src="{{ url_for('static' ,path='libs/feather-icons/dist/feather.min.js') }}"></script>
    <script src="{{ url_for('static' ,path='js/pages/plugins/lord-icon-2.1.0.js') }}"></script>
    <script src="{{ url_for('static' ,path='js/plugins.js') }}"></script>

    {% block extra_js %}
    {% endblock extra_js %}

    <!-- App js -->
    <script src="{{ url_for('static' ,path='js/app.js') }}"></script>
{% endblock javascript %}

</body>


</html>