
{% block footer %}
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>2024</script> © <a hx-boost="true" href="/inventory/move"> Suka Project.</a>
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Design & Develop by Viktor Shved
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
{% endblock footer %}
    