{% block sidebar %}
    <!-- ========== App Menu ========== -->
    <div class="app-menu navbar-menu">
        <!-- LOGO -->
        <div class="navbar-brand-box">
            <!-- Dark Logo-->
            <a href="/" hx-get="/" hx-push-url="true" hx-target="#htmx_content" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="{{ url_for('static' ,path='images/logo-sm.png') }}" alt="" height="30">
                    </span>
                <span class="logo-lg">
                        <img src="{{ url_for('static' ,path='images/logo-dark.png') }}" alt="" height="35">
                    </span>
            </a>
            <!-- Light Logo-->
            <a href="/" hx-get="/" hx-push-url="true" hx-target="#htmx_content" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="{{ url_for('static' ,path='images/logo-sm.png') }}" alt="" height="30">
                    </span>
                <span class="logo-lg">
                        <img src="{{ url_for('static' ,path='images/logo-light.png') }}" alt="" height="35">
                    </span>
            </a>
            <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
                    id="vertical-hover">
                <i class="ri-record-circle-line"></i>
            </button>
        </div>

        <div id="scrollbar" hx-boost="true">
            <div class="container-fluid">
                <div id="two-column-menu">
                </div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="sidebarDashboards">
                            <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Dashboards</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarDashboards">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="/inventory/dashboard/" class="nav-link" data-key="t-inventory-dashboard">
                                        Inventory </a>
                                </li>
                            </ul>
                        </div>
                    </li> <!-- end Dashboard Menu -->
                <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-admin">Administration</span>
                    {% for domain_name, domain in domains.items() %}
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#sidebarDomain{{ domain_name }}" data-bs-toggle="collapse"
                           role="button" aria-expanded="false" aria-controls="sidebar{{ domain_name|capitalize }}">
                            <i class="ri-apps-2-line"></i> <span data-key="t-domain-{{ domain_name }}">{{ domain_name|capitalize }}</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarDomain{{ domain_name }}">
                            <ul class="nav nav-sm flex-column">
                                {% for model_name, routes in domain.items() %}
                                    <li class="nav-item">
                                        <a href="#sidebar{{ model_name }}" class="nav-link" data-bs-toggle="collapse" role="button"
                                           aria-expanded="false" aria-controls="sidebar{{ model_name }}" data-key="t-model-{{ model_name  }}">
                                            {{ model_name|capitalize }}
                                        </a>
                                        <div class="collapse menu-dropdown" id="sidebar{{ model_name }}">
                                            <ul class="nav nav-sm flex-column">
                                                {% for route in routes %}
                                                <li class="nav-item">
                                                    <a
                                                            href={{ route.path }}
                                                            hx-target="#htmx_content"
                                                            hx-push-url="true"
                                                            hx-get={{ route.path }}
                                                            class="nav-link"
                                                            data-key="t-route-{{ route.name  }}"
                                                            data-bs-toggle="tooltip"
                                                            data-bs-placement="right" title="{{ route.description}}">
                                                            {{ route.name|capitalize}}
                                                    </a>
                                                </li>
                                                    {% endfor  %}
                                            </ul>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% endfor %}



                    <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-admin">Authentication</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#sidebarAuth" data-bs-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="sidebarAuth">
                            <i class="ri-account-circle-line"></i> <span
                                data-key="t-authentication">Authentication</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarAuth">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="/basic/user/login" hx-get="/basic/user/login" hx-target="#htmx_content" hx-push-url="true" class="nav-link"
                                       data-key="t-sign in"> Sign in </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/authentication/auth-signup-basic" class="nav-link"
                                       data-key="t-signup"> Sign up </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/authentication/auth-signup-basic" class="nav-link"
                                       data-key="t-password-reset"> Password reset </a>
                                </li>
                            </ul>
                        </div>
                    </li>




                </ul>
            </div>
            <!-- Sidebar -->
        </div>

    </div>
    <!-- Left Sidebar End -->
    <!-- Vertical Overlay-->
    <div class="sidebar-background"></div>
    <div class="vertical-overlay"></div>
{% endblock sidebar %}
    