{% block sidebar %}
    <!-- ========== App Menu ========== -->
    <div class="app-menu navbar-menu">
        <!-- LOGO -->
        <div class="navbar-brand-box">
            <!-- Dark Logo-->
            <a href="/" hx-get="/" hx-push-url="true" hx-target="#htmx_content" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="{{ url_for('static' ,path='images/logo-sm.png') }}" alt="" height="30">
                    </span>
                <span class="logo-lg">
                        <img src="{{ url_for('static' ,path='images/logo-dark.png') }}" alt="" height="35">
                    </span>
            </a>
            <!-- Light Logo-->
            <a href="/" hx-get="/" hx-push-url="true" hx-target="#htmx_content" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="{{ url_for('static' ,path='images/logo-sm.png') }}" alt="" height="30">
                    </span>
                <span class="logo-lg">
                        <img src="{{ url_for('static' ,path='images/logo-light.png') }}" alt="" height="35">
                    </span>
            </a>
            <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
                    id="vertical-hover">
                <i class="ri-record-circle-line"></i>
            </button>
        </div>

        <div id="scrollbar" hx-boost="true">
            <div class="container-fluid">
                <div id="two-column-menu">
                </div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="sidebarDashboards">
                            <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Dashboards</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarDashboards">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="/dashboard-analytics/" class="nav-link" data-key="t-analytics">
                                        Analytics </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/dashboard-purchase/" class="nav-link" data-key="t-purchase"> Purchase </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/" class="nav-link" data-key="t-ecommerce"> Ecommerce </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/dashboard-projects/" class="nav-link" data-key="t-inventory">
                                        Inventory </a>
                                </li>
                            </ul>
                        </div>
                    </li> <!-- end Dashboard Menu -->
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#sidebarInventory" data-bs-toggle="collapse"
                           role="button" aria-expanded="false" aria-controls="sidebarInventory">
                            <i class="ri-apps-2-line"></i> <span data-key="t-inventory">Inventory</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarInventory">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="#sidebarOrders" class="nav-link" data-bs-toggle="collapse" role="button"
                                       aria-expanded="false" aria-controls="sidebarOrders" data-key="t-orders">
                                        Orders
                                    </a>
                                    <div class="collapse menu-dropdown" id="sidebarOrders">
                                        <ul class="nav nav-sm flex-column">
                                            <li class="nav-item">
                                                <a
                                                    href="/inventory/order/mystore"
                                                    class="nav-link"
                                                    data-key="t-my-store"
                                                    hx-target="#htmx_content"
                                                    hx-push-url="true"
                                                >
                                                    My Store </a>
                                            </li>
                                            <li class="nav-item">
                                                <a
                                                        href="/inventory/order"
                                                        hx-target="#htmx_content"
                                                        hx-push-url="true"
                                                        hx-get="/inventory/order"
                                                        class="nav-link"
                                                        data-key="t-orders"
                                                >
                                                    Orders </a>
                                            </li>
                                            <li class="nav-item">
                                                <a
                                                        href="/inventory/order_type"
                                                        hx-target="#htmx_content"
                                                        hx-push-url="true"
                                                        hx-get="/inventory/order_type"
                                                        class="nav-link"
                                                        data-key="t-order_types"
                                                >
                                                    Order Types </a>
                                            </li>
                                            <li class="nav-item">
                                                <a
                                                        href="/inventory/move"
                                                        hx-target="#htmx_content"
                                                        hx-push-url="true"
                                                        class="nav-link"
                                                        data-key="t-moves"
                                                >
                                                    Moves </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a href="#sidebarStores" class="nav-link" data-bs-toggle="collapse" role="button"
                                       aria-expanded="false" aria-controls="sidebarStores" data-key="t-shops">
                                        Stores
                                    </a>
                                    <div class="collapse menu-dropdown" id="sidebarStores">
                                        <ul class="nav nav-sm flex-column">
                                            <li class="nav-item">
                                                <a
                                                    href="/basic/store"
                                                    hx-target="#htmx_content"
                                                    hx-push-url="true"
                                                    hx-get="/basic/store"
                                                    class="nav-link"
                                                    data-key="t-all-store"> Stores
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a
                                                    href="/inventory/quant"
                                                    hx-target="#htmx_content"
                                                    hx-push-url="true"
                                                    class="nav-link"
                                                    data-key="t-stocks"> Stocks
                                                </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#sidebarInventoryProducts" class="nav-link" data-bs-toggle="collapse" role="button"
                                       aria-expanded="false" aria-controls="sidebarProducts" data-key="t-products">
                                        Products
                                    </a>
                                    <div class="collapse menu-dropdown" id="sidebarInventoryProducts">
                                        <ul class="nav nav-sm flex-column">
                                            <li class="nav-item">
                                                <a
                                                    href="/basic/product_category"
                                                    hx-target="#htmx_content"
                                                    hx-push-url="true"
                                                    class="nav-link"
                                                    data-key="t-product-category"> Product Category
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a
                                                    href="/basic/product_storage_type"
                                                    hx-target="#htmx_content"
                                                    hx-push-url="true"
                                                    class="nav-link"
                                                    data-key="t-product-storage-type"> Product Storage Type
                                                </a>
                                            </li>
                                            <li class="nav-item">

                                                    <a
                                                    href="/basic/product"
                                                    hx-target="#htmx_content"
                                                    hx-push-url="true"
                                                    class="nav-link"
                                                    data-key="t-products"> Products
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a href="#sidebarUom" class="nav-link" data-bs-toggle="collapse" role="button"
                                       aria-expanded="false" aria-controls="sidebarUom" data-key="t-uom">
                                        Uom
                                    </a>

                                    <div class="collapse menu-dropdown" id="sidebarUom">
                                        <ul class="nav nav-sm flex-column">
                                            <li class="nav-item">
                                                                     <a
                                                    href="/basic/uom"
                                                    hx-target="#htmx_content"
                                                    hx-push-url="true"
                                                    class="nav-link"
                                                    data-key="t-uom"> Uoms
                                                </a>
                                            </li>
                                            <li class="nav-item">

                                                <a
                                                    href="/basic/uom_category"
                                                    hx-target="#htmx_content"
                                                    hx-push-url="true"
                                                    class="nav-link"
                                                    data-key="t-uom-category"> Uom Category
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </li>



                    <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-admin">Administration</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#sidebarCompany" data-bs-toggle="collapse"
                           role="button" aria-expanded="false" aria-controls="sidebarCompany">
                            <i class="ri-share-line"></i> <span data-key="t-company">Company</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarCompany">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="/basic/company" hx-push-url="true" hx-get="/basic/company" hx-target="#htmx_content" class="nav-link" data-key="t-company">Companies </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#sidebarAccount" class="nav-link" data-bs-toggle="collapse" role="button"
                                       aria-expanded="false" aria-controls="sidebarAccount" data-key="t-stores">
                                        Stores
                                    </a>
                                    <div class="collapse menu-dropdown" id="sidebarAccount">
                                        <ul class="nav nav-sm flex-column">
                                            <li class="nav-item">
                                                <a href="#" hx-get="/basic/store" hx-push-url="true" hx-target="#htmx_content" class="nav-link" data-key="t-stores"> Stores </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#sidebarCrm" class="nav-link" data-bs-toggle="collapse"
                                                   role="button" aria-expanded="false" aria-controls="sidebarCrm"
                                                   data-key="t-level-2.2"> Stores
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#sidebarAuth" data-bs-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="sidebarAuth">
                            <i class="ri-account-circle-line"></i> <span
                                data-key="t-authentication">Authentication</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarAuth">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="/basic/login" hx-get="/basic/login" hx-target="#htmx_content" hx-push-url="true" class="nav-link"
                                       data-key="t-sign in"> Sign in </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/authentication/auth-signup-basic" class="nav-link"
                                       data-key="t-signup"> Sign up </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/authentication/auth-signup-basic" class="nav-link"
                                       data-key="t-password-reset"> Password reset </a>
                                </li>


                            </ul>
                        </div>
                    </li>




                </ul>
            </div>
            <!-- Sidebar -->
        </div>

    </div>
    <!-- Left Sidebar End -->
    <!-- Vertical Overlay-->
    <div class="sidebar-background"></div>
    <div class="vertical-overlay"></div>
{% endblock sidebar %}
    