{% block sidebar %}
    <!-- ========== App Menu ========== -->
    <div class="app-menu navbar-menu">
        <!-- LOGO -->
        <div class="navbar-brand-box">
            <!-- Dark Logo-->
            <a href="/" hx-get="/" hx-push-url="true" hx-target="#htmx_content" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="{{ url_for('static' ,path='images/logo-sm.png') }}" alt="" height="22">
                    </span>
                <span class="logo-lg">
                        <img src="{{ url_for('static' ,path='images/logo-dark.png') }}" alt="" height="17">
                    </span>
            </a>
            <!-- Light Logo-->
            <a href="/" hx-get="/" hx-push-url="true" hx-target="#htmx_content" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="{{ url_for('static' ,path='images/logo-sm.png') }}" alt="" height="22">
                    </span>
                <span class="logo-lg">
                        <img src="{{ url_for('static' ,path='images/logo-light.png') }}" alt="" height="17">
                    </span>
            </a>
            <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
                    id="vertical-hover">
                <i class="ri-record-circle-line"></i>
            </button>
        </div>

        <div id="scrollbar">
            <div class="container-fluid">

                <div id="two-column-menu">
                </div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="sidebarDashboards">
                            <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Dashboards</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarDashboards">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="/dashboard-analytics/" class="nav-link" data-key="t-analytics">
                                        Analytics </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/dashboard-purchase/" class="nav-link" data-key="t-purchase"> Purchase </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/" class="nav-link" data-key="t-ecommerce"> Ecommerce </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/dashboard-projects/" class="nav-link" data-key="t-inventory">
                                        Inventory </a>
                                </li>
                            </ul>
                        </div>
                    </li> <!-- end Dashboard Menu -->
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#sidebarInventory" data-bs-toggle="collapse"
                           role="button" aria-expanded="false" aria-controls="sidebarInventory">
                            <i class="ri-apps-2-line"></i> <span data-key="t-inventory">Inventory</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarInventory">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="#sidebarStores" class="nav-link" data-bs-toggle="collapse" role="button"
                                       aria-expanded="false" aria-controls="sidebarStores" data-key="t-stores">
                                        Stores
                                    </a>
                                    <div class="collapse menu-dropdown" id="sidebarStores">
                                        <ul class="nav nav-sm flex-column">
                                            <li class="nav-item">
                                                <a href="/basic/my-store" class="nav-link" data-key="t-my-store">
                                                    My Store </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/basic/store-list" class="nav-link"
                                                   data-key="t-all-stores"> All Stores </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a href="#sidebarStocks" class="nav-link" data-bs-toggle="collapse" role="button"
                                       aria-expanded="false" aria-controls="sidebarStores" data-key="t-stocks">
                                        Stocks
                                    </a>
                                    <div class="collapse menu-dropdown" id="sidebarStocks">
                                        <ul class="nav nav-sm flex-column">
                                            <li class="nav-item">
                                                <a href="/basic/my-store" class="nav-link" data-key="t-stores-stocks">
                                                    Stocks by store </a>
                                            </li>
                                        </ul>
                                    </div>

                                </li>

                                <li class="nav-item">
                                    <a href="#sidebarLots" class="nav-link" data-bs-toggle="collapse" role="button"
                                       aria-expanded="false" aria-controls="sidebarLots" data-key="t-lots">
                                        Lots
                                    </a>
                                    <div class="collapse menu-dropdown" id="sidebarLots">
                                        <ul class="nav nav-sm flex-column">
                                            <li class="nav-item">
                                                <a href="/basic/my-store" class="nav-link" data-key="t-stocks-lots">
                                                    Lots </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <li class="nav-item">
                                    <a href="#sidebarTopology" class="nav-link" data-bs-toggle="collapse" role="button"
                                       aria-expanded="false" aria-controls="sidebarTopology" data-key="t-topology">
                                        Topology
                                    </a>
                                    <div class="collapse menu-dropdown" id="sidebarTopology">
                                        <ul class="nav nav-sm flex-column">
                                            <li class="nav-item">
                                                <a href="/basic/my-store" class="nav-link" data-key="t-topology-zones">
                                                    Zones </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/basic/my-store" class="nav-link" data-key="t-topology-packages">
                                                    Packages </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/basic/my-store" class="nav-link" data-key="t-topology-places">
                                                    Packages </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>



                    <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-admin">Administration</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#sidebarCompany" data-bs-toggle="collapse"
                           role="button" aria-expanded="false" aria-controls="sidebarCompany">
                            <i class="ri-share-line"></i> <span data-key="t-company">Company</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarCompany">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a
                                            href="/basic/company"
                                            hx-get="/basic/company"
                                            hx-push-url="true"
                                            hx-target="#htmx_content"
                                            class="nav-link"
                                            data-key="t-company">Companies
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#sidebarAccount" class="nav-link" data-bs-toggle="collapse" role="button"
                                       aria-expanded="false" aria-controls="sidebarAccount" data-key="t-stores">
                                        Stores
                                    </a>
                                    <div class="collapse menu-dropdown" id="sidebarAccount">
                                        <ul class="nav nav-sm flex-column">
                                            <li class="nav-item">
                                                <a href="#" class="nav-link" data-key="t-level-2.1"> Level 2.1 </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#sidebarCrm" class="nav-link" data-bs-toggle="collapse"
                                                   role="button" aria-expanded="false" aria-controls="sidebarCrm"
                                                   data-key="t-level-2.2"> Level 2.2
                                                </a>
                                                <div class="collapse menu-dropdown" id="sidebarCrm">
                                                    <ul class="nav nav-sm flex-column">
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link" data-key="t-level-3.1"> Level
                                                                3.1 </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link" data-key="t-level-3.2"> Level
                                                                3.2 </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#sidebarAuth" data-bs-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="sidebarAuth">
                            <i class="ri-account-circle-line"></i> <span
                                data-key="t-authentication">Authentication</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarAuth">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="/auth/login" hx-get="/auth/login" hx-push-url="true" hx-target="#htmx_content" class="nav-link"
                                       data-key="t-basic"> Sign in </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/authentication/auth-signup-basic" class="nav-link"
                                       data-key="t-basic"> Sign up </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/authentication/auth-signup-basic" class="nav-link"
                                       data-key="t-basic"> Password reset </a>
                                </li>


                            </ul>
                        </div>
                    </li>




                </ul>
            </div>
            <!-- Sidebar -->
        </div>
        <div class="sidebar-background"></div>
    </div>
    <!-- Left Sidebar End -->
    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>
{% endblock sidebar %}
    